<script id="ea-all-results-template" type="text/x-magento-template">
    <% if (enabled) { %>
    <a href="<%= encodeURI(href) %>" class="wyomind-primary"><%= title.replace("{{term}}",term.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;')) %></a>
    <% } %>
</script>