
.justify-content(@position) {
  -webkit-box-pack: @position;
  -webkit-justify-content: @position;
  -ms-flex-pack: @position;
  justify-content: @position;
}

.hover-active-highlight (@color:@secondary__color) {
  text-shadow: -.25px -.25px 0 transparent,
  .25px .25px transparent;
  &:hover,
  &:active{
    text-shadow: -.25px -.25px 0 @color,
    .25px .25px @color;
  }
}

.translateY(@value){
    transform: translateZ(0) translateY(@value);
    -webkit-transform: translateZ(0) translateY(@value);
    -moz-transform: translateZ(0) translateY(@value);
    -ms-transform: translateZ(0) translateY(@value);
    -o-transform: translateZ(0) translateY(@value);
}
.transition(@transition,@time,@type) {
    -webkit-transition: @transition @time @type;
    -moz-transition: @transition @time @type;
    -o-transition: @transition @time @type;
    -ms-transition: @transition @time @type;
    transition: @transition @time @type;
}
.actions-toolbar-flex(
  @_hide-primary: false,
  @_hide-secondary: false
) {
  .lib-vendor-prefix-display(flex);
  .justify-content(space-between);
  float: none;

  &:before,
  &:after {
    display: none;
  }

  .primary,
  .secondary {
    float: none;
    width: 100%;
    &.action {
      width: 100%;
    }
  }

  ._hide-action-actions-toolbar-flex(
          @_hide-primary,
          @_hide-secondary
  )

}

._hide-action-actions-toolbar-flex(
  @_hide-primary,
  @_hide-secondary
) when (@_hide-primary = true) {
  .primary {
    display: none;
  }
}

._hide-action-actions-toolbar-flex(
  @_hide-primary,
  @_hide-secondary
) when (@_hide-secondary = true) {
  .secondary {
    display: none;
  }
}

.translateX(@value) {
  -webkit-transform: translateX(@value);
  -ms-transform: translateX(@value);
  -o-transform: translateX(@value);
  transform: translateX(@value);
}

.translateY(@value) {
  -webkit-transform: translateY(@value);
  -ms-transform: translateY(@value);
  -o-transform: translateY(@value);
  transform: translateY(@value);
}

.transition-delay(@time){
  -webkit-transition-delay:@time;
  -moz-transition-delay:@time;
  -o-transition-delay:@time;
  transition-delay:@time;
}

.animation-delays(@i) when (@i > 0) {
  &:nth-child(@{i}) {
    @animation-delay: @i * @animation-delay-step;
    animation-delay: ~"@{animation-delay}s";
  }
  .animation-delays(@i - 1);
}

.animation-delay-fb(@i) {
  @animation-delay: @i * @animation-delay-step;
  animation-delay: ~"@{animation-delay}s";
}

.custom-scrollbar(@colorTrack, @colorThumb, @widthScrollBar){

  &::-webkit-scrollbar{
    width: @widthScrollBar;
  }
  &::-webkit-scrollbar:horizontal{
    height: @widthScrollBar * 2;
  }
  &::-webkit-scrollbar-button{
    display: none;
  }
  &::-webkit-scrollbar-track{
    background: @colorTrack;
    margin:0px;
  }
  &::-webkit-scrollbar-track-piece{

  }
  &::-webkit-scrollbar-thumb{
    background: @colorThumb;
  }
  &::-webkit-scrollbar-corner{

  }
  &::-webkit-resizer{

  }
}
