<?php
/**
 * Copyright (c) 2017 Web Project Solutions (info@webprojectsol.com)
 *
 * SOFTWARE LICENSE AGREEMENT
 *
 * This Software is not free.
 *
 * Developer hereby grants to Licensee a perpetual, non-exclusive,
 * limited license to use the Software as set forth in this Agreement.
 *
 * Licensee shall not modify, copy, duplicate, reproduce, license or sublicense the Software,
 * or transfer or convey the Software or any right in the Software to anyone else
 * without the prior written consent of Developer; provided that Licensee may
 * make one copy of the Software for backup or archival purposes.
 *
 *
 * @author Antonello Venturino <info@webprojectsol.com>
 * @copyright  2017 Web Project Solutions
 * @version  Release: 2.1.7 $
 * @license    http://www.webprojectsol.com/license.php
 * @url  http://www.webprojectsol.com/it/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html
 */

?>
<div class="messages">
    <?php
    if ($this->getLicenseCheck()) :

        ?>
        <div class="message message-notice notice">
            <div data-ui-id="messages-message-notice">
                <?php echo __('The module is properly licensed') ?>
            </div>
        </div>
        <?php
    else :

        ?>
        <div class="message message-error error">
            <div data-ui-id="messages-message-error">
                <?php echo __('Warning: The domain appears to have no license key to activate this module, you can obtain one by clicking <a href="http://www.webprojectsol.com/clients/?languages=en" target="_blank">here</a> or purchase a license, if you do not have one, clicking <a href="http://www.webprojectsol.com/en/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html" target="_blank">here</a>.') ?>
            </div>
        </div>
    <?php
    endif;

    ?>
</div>