//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .firecheckout {
        .column.main {
            table {
                tbody {
                    tr.totals.charge {
                        display: none;
                    }
                }
            }
        }
    }
    body{
        .minicart-wrapper {
            margin-top: 0;
            .lib-dropdown(
                @_toggle-selector: ~'.action.showcart',
                @_options-selector: ~'.block-minicart',
                @_dropdown-list-width: 320px,
                @_dropdown-list-position-right: -10px,
                @_dropdown-list-pointer-position: right,
                @_dropdown-list-pointer-position-left-right: 12px,
                @_dropdown-list-z-index: 101,
                @_dropdown-toggle-icon-content: @icon-cart,
                @_dropdown-toggle-active-icon-content: @icon-cart,
                @_dropdown-list-item-padding: false,
                @_dropdown-list-item-hover: false,
                @_icon-font-position: before,
                @_icon-font-size: 20px,
                @_icon-font-line-height: 20px,
                @_icon-font-margin: 0 5px 0 0,
                @_icon-font-vertical-align: sub,
                @_icon-font-color: @minicart-icons-color,
                @_icon-font-color-hover: @minicart-icons-color-hover,
                @_icon-font-color-active: @minicart-icons-color
            );
            .action.showcart {
                .text{
                    .lib-visually-hidden-reset();
                    color: @black;
                    .lib-font-size(12);
                }
                .counter.qty{
                    .lib-css(background, @sg-green);
                    border-radius: 50%;
                    width: 12px;
                    min-width: auto;
                    padding: 3px;
                    height: 12px;
                    line-height: 13px;
                    margin: 0;
                    vertical-align: top;
                    .lib-font-size(12);
                    .counter-number{
                        text-shadow: none;
                    }
                    &.empty{
                        display: inline-block;
                        margin: 0;
                        vertical-align: sub;
                    }
                }
            }
        }
        #minicart-content-wrapper{
            a.action.viewcart {
                .lib-font-size(12);
            }
            .block-title {
                .lib-font-size(20);
                text-align: center;
                padding-top: 20px;
                text-transform: uppercase;
            }
            .action.close{
                background-color: transparent;
                padding: 10px 0 10px 10px;
                .lib-icon-font(
                    @icon-remove,
                    @_icon-font-size: 18px
                )
            }
            .product-item-details{
                .item-options {
                    display: none;
                }
                .product-item-name{
                    a{
                        line-height: 20px;
                        &:hover{
                            text-decoration: none;
                            color: @sg-green
                        }
                    }
                }
                .product.options{
                    display: block;
                    .content{
                        display: block !important;
                    }
                }
                .minicart-price{
                    .price{
                        .lib-font-size(18);
                    }
                }
                .product-item-pricing{
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);
                    .details-qty{
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        margin-top: 0;
                        .label{
                            margin-right: 10px;
                            .lib-font-size(11);
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                        .item-qty {
                            width: 35px;
                            text-align: left;
                            span{
                                font-weight: @font-weight__semibold;
                            }
                        }
                        .more,
                        .less{
                            background-color: @sg-green;
                            color: @white;
                            padding: 3px;
                            text-align: center;
                            width: 10px;
                            line-height: 10px;
                            .lib-font-size(21);
                            height: 10px;
                            border-radius: 50%;
                            margin: 0 5px
                        }
                    }
                    .update-cart-item {
                        padding: 0 5px;
                    }
                }
            }
            .minicart-price{
                .price{
                    .lib-font-size(22);
                }
            }
            .product.actions{
                .lib-vendor-prefix-display(flex);
                margin-top: 10px;
                .action.delete{
                    margin-left: 10px;
                    .lib-icon-font(@icon-delete)
                }
            }
            .block-content > .actions > .primary .action.primary{
                line-height: inherit;
                .lib-font-size(16);
                line-height: initial;
            }
        }
        .page-wrapper.active {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
           &::after{
               opacity: 1;
               content: '';
               will-change: opacity;
               transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               z-index: 5;
               position: fixed;
               background-color: rgba(0, 0, 0, 0.5);
               -webkit-tap-highlight-color: transparent;
            }
        }
        .pcr-modal{
            .modal-footer{
                .action{
                    &.secondary,
                    &.primary{
                        width: auto;
                    }
                }
            }
        }
        .minicart-overlay {
            position: absolute;
            top: 0;
            right: 0;
            background: @white;
            max-width: 500px;
            box-sizing: border-box;
            height: 100vh;
            z-index: 10;
            overflow: auto;
            .block-content{
                padding: 20px;
            }
            .minicart-items-wrapper{
                margin: 0 0 20px 0;
                border-bottom: 1px solid @light_gray;
            }
            .minicart-items{
                .product {
                    .toggle{
                        display: none;
                    }
                    .availability{
                        .justify-content(flex-start);
                        span{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .product-info-stock{
            > div{
                .justify-content(flex-start);
                p{
                    margin-left: 5px;
                }
            }
        }
        .item-stock{
            width: 100%;
            .availability{
                .justify-content(flex-start);
                p{
                    margin: 0 5px;
                }
            }
        }
        &.checkout-cart-index{
            .page-title{
                margin: 0 auto;
            }
            .cart-summary{
                background: @gray-F6;
                border-radius: 10px;
                margin-bottom: 50px;
                .action.primary.checkout{
                    .lib-font-size(16);
                    padding: 10px;
                    line-height: inherit;
                }
            }
            .cart-empty {
                text-align: center;
                a{
                    font-weight: @font-weight__semibold;
                }
            }
            .page-title-wrapper {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .cart.table-wrapper{
                .product-item-name{
                    text-align: left;
                    a{
                        .lib-font-size(15);
                        margin-top: 0;
                    }
                }
                .item-options{
                    dt.prcr-dt-empty{
                        span.prcr-timer{
                            background: @gray;
                            padding: 5px;
                            .countdown-section{
                                margin-right: 3px
                            }
                        }
                    }
                }
                .col{
                    &.qty{
                        text-align: center;
                        .field.qty{
                            margin-top: 0;
                        }
                    }
                    &.price{
                        text-align: center;
                        .price-including-tax, .price-excluding-tax {
                            .price{
                                font-weight: @font-weight__regular;
                            }
                        }
                    }
                }
                .actions-toolbar{
                    .action-delete{
                        .lib-icon-font(
                            @icon-delete,
                            @_icon-font-size: 18px
                        )
                    }
                }
            }
        }
        &.checkout-cart-index{
            div#block-shipping {
                display: none;
            }
        }
        &.checkout-cart-index,
        &.checkout-index-index {
            .page-header {
                position: relative;
            }
            .cart-totals,
            .opc-block-summary{
                .grand {
                    .mark{
                        .lib-font-size(20);
                    }
                }
            }
            tr.totals-tax-summary {
                display: none;
            }
            .grand.totals.excl {
                display: none;
            }
            .table-checkout-shipping-method {
                .row.table-checkout-shipping-method {
                    .row{
                        position: relative;
                    }
                }
            }
            #block-discount,
            #discount-form{
                padding-top: 10px;
                .title{
                    #block-discount-heading{
                        text-transform: uppercase;
                        .lib-font-size(14);
                    }
                    &::after{
                        display: none;
                    }
                }
                .content{
                    display: block !important;
                    padding: 0;

                    .fieldset{
                        .lib-vendor-prefix-display(flex);
                        .field{
                            width: 100%;
                            .label{
                                display: none;
                            }
                            input[type="text"]{
                                height: 37px;
                            }
                        }
                        .action.apply,
                        .action.cancel{
                            margin: 0;
                            padding: 6px;
                        }
                    }
                }
            }
        }
        &.checkout-index-index{
            .fieldset.address > .field{
                legend.label{
                    display: none;
                }
                label{
                    .lib-visually-hidden-reset();
                }
            }
            #checkout-shipping-method-load{
                td.col{
                    position: relative;
                }
            }
            .opc-wrapper{
                input[type="checkbox"]:checked:before,
                input[type="radio"]:checked:before{
                   display: none;
                }
            }
            .payment-method-content-title{
                display: inline;
                label.label {
                    display: block;
                }
            }
        }
        &.checkout-onepage-success {
            .page-title-wrapper{
                text-align: center;
                .page-title{
                    margin-bottom: 0;
                    margin-top: 30px;
                }
                .print{
                    float: none;
                    text-decoration: underline;
                }
            }
            #registration{
                border-left: 0 none;
                margin: 30px auto;
                padding: 0;
                a.action.primary{
                    width: 100%;
                    margin-top: 20px;
                }
            }
            .column {
                &.main {
                    padding: 30px;
                    .success-messages{
                        text-align: center;
                    }
                    .actions-toolbar {
                        text-align: center;
                        margin-top: 40px;
                        .primary {
                            float: none;
                            a {
                                display: block;
                                margin: auto;
                            }
                        }
                    }
                }
            }
            .checkout-success {
                p{
                    text-align: center;
                    > span{
                        font-weight: bold;
                    }
                }
                .order-items{
                    .availability{
                        .justify-content(center);
                    }
                }
                > table{
                    > tbody{
                        > tr{
                            .lib-vendor-prefix-display(flex);
                            margin: auto;
                            .justify-content(center);
                            > td{
                                text-align: left;
                            }
                            > th{
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .order-details-items {
            .item-options {
                .lib-font-size(14);
                dt {
                    float: left;
                    margin-right: 10px;
                    &::after{
                        content: ":";
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body {
        &.checkout-cart-index {
            .cart-container {
                form#form-validate {
                    width: 70%;
                }
                .cart-summary{
                    width: 30%;
                }
            }
        }
        .minicart-overlay {
            .minicart-items-wrapper {
                max-height: 60vh;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body{
        .minicart-wrapper {
            .action.showcart {
                .text{
                  display: none;
                }
                .counter.qty{
                    position: absolute;
                    top: -15px;
                    right: 5px;
                }
            }
        }
        &.checkout-cart-index{
            .cart-totals{
                border-top: 0 none;
                padding: 0;
            }
            .cart-container{
                padding: 0 15px;
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(column);
            }
            .cart-summary{
                padding: 15px;
                .lib-vendor-prefix-order(2);
                .title{
                    display: none;
                }
                .cart-totals{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            #form-validate{
                .lib-vendor-prefix-order(1);
            }
            .checkout-methods-items{
                padding: 0;
            }
        }
    }
}
