& when (@media-common = true) {
    .column.main {
        &.next-page {
            .ias-overlay {
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                opacity: 0.95;
                position: absolute;
                top: 0;
                z-index: 100;
            }
            .ias-spinner {
                position: absolute;
                top: 30px;
            }
        }
        &.infinite-scroll {
            .product-items {
                .ias-spinner,
                .ias-load-more,
                .ias-no-more {
                    position: relative;
                }
                .previous-button {
                    width: 100%;
                }
                .ias-load-prev{
                    position: relative;
                    bottom: 20px;
                }
            }
        }
    }
    .products.wrapper {
        .product-items {
            .ias-spinner {
                text-align: center;
                span {
                    clear: both;
                    display: block;
                    float: none;
                    margin: 0 auto;
                    text-align: center;
                }
                img {
                    max-width: 20px;
                }
            }
            .ias-load-more,
            .ias-no-more {
                margin: 0 auto;
                clear: both;
                display: block;
                float: none;
                text-align: center;
            }
            .ias-load-prev{
                position: relative;
                bottom: 20px;
                margin: 0 auto;
                clear: both;
                display: block;
                float: none;
                text-align: center;
            }
        }
    }
    .wp-ais {
        .toolbar-amount {
            display: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .column.main {
        &.infinite-scroll {
            .product-items {
                .ias-no-more {
                    &.mg-top-msg{
                        margin-top: 80px;
                    }
                }
            }
        }
    }
}
