<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 * @var \Magento\Framework\Escaper $escaper
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
/** @var \Magento\Catalog\Helper\Output $_helper */
$_helper = $block->getData('outputHelper');
$_customHelper =  $this->helper('Sg\Module\Helper\Data');
$imageHelper = $this->helper('Magento\Catalog\Helper\Image');

?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() === 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $imageDisplayAreaHover = 'category_page_grid_hover';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $imageDisplayAreaHover = 'category_page_list_hover';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <li class="item product product-item">
                    <div class="product-item-info"
                         id="product-item-info_<?= /* @noEscape */ $_product->getId() ?>"
                         data-container="product-<?= /* @noEscape */ $viewMode ?>">
                        <?php
                        $productImage = $imageHelper->init($_product, $imageDisplayArea);
                        $productImageUrl = $productImage->getUrl();
                        $productImageHover = $imageHelper->init($_product, $imageDisplayAreaHover);
                        $productImageHoverUrl = $productImageHover->getUrl();
                        $_hasImageHover = $productImageHoverUrl ? !strpos($productImageHoverUrl,'placeholder') !== false : null;

                        $isProductNew = $_product->getNewsFromDate() !== null ? true : false;

                        if ($pos != null) {
                            $position = 'left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;';
                        }
                        $productInfo = $_product->load($_product->getId());
                        $stock = $productInfo->getExtensionAttributes()->getStockItem()->getQty();
                        $saleableQty = (0 - $productInfo->getExtensionAttributes()->getStockItem()->getMinQty());
                        $etichetta = $_product->getAttributeText('etichetta');
                        ?>
                        <?php // Product Image ?>

                        <div class="product-image-container product-item-photo">
                            <?php if($isProductNew): ?>
                                <span class="new-label"><?php echo __('New');?></span>
                            <?php endif; ?>
                            <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                <img class="img-product" src="<?php echo $productImageUrl;?>" alt="<?php echo $_product->getName();?>"/>
                                <?php
                                if($_hasImageHover):
                                    ?>
                                    <div class="product-image-hover">
                                        <img class="img-product" src="<?php echo $productImageHoverUrl;?>" alt="<?php echo $_product->getName();?>"/>
                                    </div>
                                <?php endif; ?>
                            </a>
                            <?php if( $etichetta):?>
                                <div class="etichetta-label"> <?= $etichetta ?></div>
                            <?php endif; ?>
                        </div>
                        <div class="product details product-item-details">
                            <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                    <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                                </a>
                            </strong>
                            <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                            <?php if ($_product->isAvailable()):?>
                                <?= $block->getProductDetailsHtml($_product) ?>
                            <?php endif; ?>
                            <?= $block->getProductDetailsHtml($_product) ?>
                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                            <?= strpos($pos, $viewMode . '-primary') ?
                                /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                    $position,
                                    'product-item-info_' . $_product->getId() . ' div.actions-primary'
                                ) : '' ?>
                            <div data-role="add-to-links" class="actions-secondary">
                                <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                <?php endif; ?>
                            </div>
                            <?= strpos($pos, $viewMode . '-secondary') ?
                                /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                    $position,
                                    'product-item-info_' . $_product->getId() . ' div.actions-secondary'
                                ) : '' ?>
                            <div class="product-item-content">
                                <?php if($stock > 0):?>
                                    <div class="product actions product-item-actions">
                                        <div class="actions-primary">
                                            <form data-role="tocart-form"
                                                  data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>"
                                                  action="<?= $escaper->escapeUrl($postParams['action']) ?>"
                                                  method="post">
                                                <input type="hidden"
                                                       name="product"
                                                       value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                                <input type="hidden"
                                                       name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                       value="<?=
                                                       /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                       ?>">
                                                <?= $block->getBlockHtml('formkey') ?>
                                                <div class="field qty">
                                                    <select name="qty" id="qty" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                                            class="input-text qty">
                                                        <?php $i = 1;?>
                                                        <?php
                                                        while( $i <= $stock) { ?>
                                                            <option value="<?php echo 1 * $i; ?>"><?php echo 1 * $i; ?></option>
                                                            <?php
                                                            if( $i >= 10 ){
                                                                break;
                                                            }
                                                            $i++;
                                                            ?>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                                <button type="submit"
                                                        title="<?= $escaper->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                        class="action tocart primary"
                                                        disabled>
                                                    <span><?= $escaper->escapeHtml(__('Add to Cart')) ?></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="availability status-instock">
                                        <?php echo $block->getChildHtml('info_stock');?>
                                    </div>
                                <?php
                                elseif($stock <= 0 && ($_product->getOrderedQty() >= $stock) && $saleableQty > 0):
                                    $orderedQty = $stock < 0 ? $_product->getOrderedQty() - (0 - $stock) : $_product->getOrderedQty();
                                    if($_product->getShippingFrom() != null && $orderedQty > 0):?>
                                        <div class="product actions product-item-actions">
                                            <div class="actions-primary">
                                                <form data-role="tocart-form"
                                                      data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>"
                                                      action="<?= $escaper->escapeUrl($postParams['action']) ?>"
                                                      method="post">
                                                    <input type="hidden"
                                                           name="product"
                                                           value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                                    <input type="hidden"
                                                           name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=
                                                           /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                           ?>">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <div class="field qty">
                                                        <select name="qty" id="qty" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                                                class="input-text qty">
                                                            <?php $i = 1;?>
                                                            <?php
                                                            while( $i <= $orderedQty) { ?>
                                                                <option value="<?php echo 1 * $i; ?>"><?php echo 1 * $i; ?></option>
                                                                <?php
                                                                if( $i >= 10 ){
                                                                    break;
                                                                }
                                                                $i++;
                                                                ?>
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                    <button type="submit"
                                                            title="<?= $escaper->escapeHtmlAttr(__('Preorder')) ?>"
                                                            class="action tocart primary"
                                                            disabled>
                                                        <span><?= $escaper->escapeHtml(__('Preorder')) ?></span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="availability status-preorder">
                                            <?php echo $block->getChildHtml('info_shippingfrom_date');?> <?php echo $_customHelper->getDate($_product->getShippingFrom())->format('j-m-y');?>
                                        </div>
                                    <?php else:?>
                                        <div class="product actions product-item-actions">
                                            <div class="actions-primary">
                                                <form data-role="tocart-form"
                                                      data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>"
                                                      action="<?= $escaper->escapeUrl($postParams['action']) ?>"
                                                      method="post">
                                                    <input type="hidden"
                                                           name="product"
                                                           value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                                    <input type="hidden"
                                                           name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=
                                                           /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                           ?>">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <div class="field qty">
                                                        <select name="qty" id="qty" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                                                class="input-text qty">
                                                            <?php $i = 1;?>
                                                            <?php
                                                            while( $i <= $saleableQty) { ?>
                                                                <option value="<?php echo 1 * $i; ?>"><?php echo 1 * $i; ?></option>
                                                                <?php
                                                                if( $i >= 10 ){
                                                                    break;
                                                                }
                                                                $i++;
                                                                ?>
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                    <button type="submit"
                                                            title="<?= $escaper->escapeHtmlAttr(__('order')) ?>"
                                                            title="<?= $escaper->escapeHtmlAttr(__('order')) ?>"
                                                            class="action tocart primary"
                                                            disabled>
                                                        <span><?= $escaper->escapeHtml(__('order')) ?></span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="availability status-120gg">
                                            <?php echo $block->getChildHtml('info_shippingfrom');?>
                                        </div>
                                    <?php endif; ?>
                                <?php
                                elseif((int)$stock <= 0 && $saleableQty <= 0):?>
                                    <div class="product actions product-item-actions">
                                        <div class="actions-primary">
                                            <a class="action tocart primary" href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                                <span><?php echo __('Details')?></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="availability status-outofstock">
                                        <?php echo $block->getChildHtml('info_outofstock');?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                    <?= strpos($pos, $viewMode . '-actions') ?
                        /* @noEscape */ $secureRenderer->renderStyleAsTag(
                            $position,
                            'product-item-info_' . $_product->getId() . ' div.product-item-actions'
                        ) : '' ?>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>

<script type="text/javascript">
    require(["jquery"],function($){
        jQuery(".increaseqty").click(function(e){
            e.preventDefault();
            var qty = jQuery(this).closest("div.control").find("input");
            var newqty = parseInt(qty.val())+parseInt(1);
            qty.val(newqty);
            var val = qty.val();
            var changeQty = parseInt(val);
            qtyLabel = jQuery(this).closest("div.control").find("span");
            jQuery(qtyLabel).text(changeQty);
            return false;
        });

        jQuery(".decreaseqty").click(function(){
            var qty = jQuery(this).closest("div.control").find("input");
            var newqty = parseInt(qty.val())-parseInt(1);
            if(newqty < 1){
                return false;
            }
            qty.val(newqty);
            var val = qty.val();
            var changeQty = parseInt(val);
            qtyLabel = jQuery(this).closest("div.control").find("span");
            jQuery(qtyLabel).text(changeQty);
            return false;

        });
    });
</script>
