//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body{
        .product-widget-clerk {
            margin-top: 30px;
            clear: both;
        }

        .add-to-cart-popup{
            .modal-inner-wrap {
                max-width: 90%;
            }
            .button{
                width: 100%;
            }
        }
        .block{
            &.related{
                margin-top: 20px;
                .products{
                    margin: 10px 0;
                }
                .products-grid {
                    .products.list.items.product-items{
                        .product-item{
                            width: auto;
                            padding-right: 10px;
                            margin-bottom: 0;
                            line-height: inherit;
                            &.current{
                                .product-item-info {
                                    width: auto;
                                    border: 2px solid @sg-green;
                                }
                            }
                        }

                        .product-item-info{
                            width: auto;
                            text-align: center;
                            display: block;
                            border: 2px solid #ddd;
                            border-radius: 20px;
                            padding: 10px 0 40px;
                            min-width: 90px;
                            overflow: hidden;
                            position: relative;
                            &:hover{
                                border: 2px solid @sg-green;
                                margin: 0;
                            }
                            .product-item-details{
                                line-height: initial;
                                position: initial;
                                .button-primary{
                                    .lib-button-primary(
                                        @_button-width: auto,
                                        @_button-padding: 2px 10px
                                    );
                                    position: absolute;
                                    bottom: -1px;
                                    right: 0;
                                    left: 0;
                                    z-index: 3;
                                }
                            }
                            .product-item-photo{
                                line-height: inherit;
                            }
                        }
                    }
                }
            }
        }
        &.catalog-category-view,
        &.catalogsearch-result-index {
            .modes-mode{
                border: 0 none;
                background-color: transparent;
                &::before{
                    color: @gray;
                }
                &.active{
                    &::before{
                        color: @sg-green;
                    }
                }
            }
            .ias-trigger{
                flex: 1 1 100%;
                .lib-font-size(14);
                letter-spacing: 1px;
                margin-bottom: 30px;
                a{
                    .lib-button();
                }
            }
            .ias-spinner{
                margin-top: 30px;
                flex: 1 1 100%;
            }
            &.page-products {
                .products-grid,
                .products-list{
                    .product-item{
                        position: relative;
                    }
                    .product-item-name{
                        height: 100px;
                        vertical-align: middle;
                        display: table-cell;
                        .product-item-link{
                            line-height: 22px;
                            .lib-font-size(13);
                            font-weight: @font-weight__semibold;
                            &:hover{
                                color: @sg-green;
                                text-decoration: none;
                            }
                        }
                    }
                    .product-image-container {
                        border-radius: 20px;
                        box-sizing: border-box;
                        border: 1px solid #ddd;
                        margin-bottom: 10px;
                        img.img-product {
                            padding: 20px;
                            box-sizing: border-box;
                        }
                    }
                    .product-item-info{
                        border: 0 none;
                        position: inherit;
                        &:hover{
                            .product-image-container{
                                border: 1px solid @sg-green;
                            }
                        }
                    }
                    .product.actions.product-item-actions {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        width: 100%;
                        .justify-content(center);
                        .field.qty{
                            min-width: 52px;
                            margin-right: 20px;
                            margin-top: 0;
                            select {
                                border: 1px solid #ddd;
                            }
                        }
                    }
                }
                .products-list{
                    .product-item-info{
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        width: 100%;
                        margin-bottom: 20px;
                        .product-item-photo{
                            display: block;
                            width: auto;
                            padding: 0;
                        }
                        .discount-percentage{
                            right: auto;
                            left: 10px;
                        }
                        button.action.tocart.primary{
                            width: auto;
                        }
                        .product-item-name{
                            text-align: center;
                        }
                    }
                    .actions-secondary {
                        right: 0;
                        left: auto;
                    }
                }
                .product-item-content{
                    form{
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                    }
                }
                .actions-secondary {
                    position: absolute;
                    top: 20px;
                    left: 15px;
                    z-index: 5;
                    .action.towishlist{
                        .lib-icon-font(
                            @icon-wishlist,
                            @_icon-font-size: 20px,
                            @_icon-font-color: @black,
                            @_icon-font-color-hover: #F25B4D,
                            @_icon-font-color-active: #F25B4D
                        );
                        &:hover{
                            .lib-icon-font(
                                @icon-wishlist-full,
                                @_icon-font-size: 20px,
                                @_icon-font-color: @black,
                                @_icon-font-color-hover: #F25B4D,
                                @_icon-font-color-active: #F25B4D
                            );
                            &::before{
                                margin: 0;
                                overflow: visible;
                            }
                        }
                        &::before{
                            width: auto;
                        }
                        span{
                            display: none;
                        }
                    }
                }
                .products-grid {
                    .products.list.items.product-items{
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-prefix-flex-wrap(wrap);
                    }
                    .product-item {
                        position: relative;
                        padding: 0 10px;
                        text-align: center;
                        .product-item-name{
                            text-align: center;
                            margin-top: 20px;
                            line-height: 20px;
                            font-weight: @font-weight__semibold;
                            a{
                                font-weight: @font-weight__semibold;
                            }
                        }
                        .product-item-info{
                            &:hover{
                                padding: 0;
                                margin: 0;
                            }
                        }
                        .product-image-photo{
                            box-sizing: border-box;
                        }
                        .product-item-actions{
                            .action.tocart.primary{
                                width: auto;
                                padding: 10px;
                                .lib-font-size(12);
                                line-height: inherit;
                            }
                        }
                    }
                }
                .page-title-wrapper{
                    text-align: center;
                    margin-bottom: 50px;
                }
                .sidebar-main{
                    .filter {
                        .block-subtitle{
                            display: none;
                        }
                        .filter-options-item{
                            padding-bottom: 0;
                            .filter-options-title{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .etichetta-label {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                background: @sg-green;
                border-radius: 0 0 20px 20px;
                padding: 7px 0;
                color: white;
                text-transform: uppercase;
                font-weight: @font-weight__bold;
            }

        }
        button#product-updatecart-button {
            width: 100%;
            margin-bottom: 0;
        }
        &.catalog-product-view{
            .page-title-wrapper {
                h1 {
                    .lib-font-size(20);
                    font-weight: @font-weight__bold;
                    line-height: inherit;
                    margin-bottom: 10px;
                }
            }
            .product-info-main{
                .product.attribute.description{
                    border-bottom: 0 none;
                    .value{
                        width: 100%;
                        font-family: "Open-sans";
                        .lib-font-size(14);
                        line-height: 1.625;
                    }
                }
            }
            .logo-swarovski {
                float: left;
                position: absolute;
                top: 0;
                right: 0;
            }
            .product.media{
                position: relative;
                .fotorama__thumb-border {
                    border: 1px solid @sg-green;
                }
                .discount-percentage {
                    background: url(../images/bollino.png) no-repeat 0 0;
                    background-size: 100% 100%;
                    height: 60px;
                    line-height: 65px;
                    width: 60px;
                    border: 0;
                    z-index: 1;
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    left: auto;
                    span{
                        color: #FFF;
                        display: block;
                        width: 100%;
                        text-align: center;
                        font-weight: @font-weight__bold;
                        .lib-font-size(18);
                        line-height: 60px;
                    }
                }
            }
            .product-info-main {
                .product-info-stock-sku{
                    float: none;
                    padding-left: 0;
                    text-align: left;
                    display: block;
                }
                .product.attribute{
                    padding: 5px 0;
                    border-bottom: 1px solid #ececec;
                    .lib-vendor-prefix-display(flex);
                    strong{
                        font-weight: @font-weight__semibold;
                        display: inline-block;
                        width: 30%;
                        float: left;
                        &::after{
                            display: none;
                        }
                    }
                    strong.type{
                        font-weight: @font-weight__semibold;
                    }
                    .value{
                        width: 70%;
                    }
                }
                .disclaimer{
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                    .lib-font-size(13);
                    .lib-vendor-prefix-display();
                    &.status-instock{
                        color: #008000;
                    }
                    &.status-outofstock{
                        color: red;
                    }
                    &.status-120gg{
                        color: #346DD3;
                    }
                    &.status-preorder{
                        color: orange;
                    }
                }
                .product-vat-price{
                    position: relative;
                    margin-top: 20px;
                    .product-vat-label{
                        .lib-font-size(11);
                        color: @gray;
                    }
                   #scalapayText{
                        max-width: 80%;
                    }
                }
                .container-product-info{
                    display: none;
                }
                .product-info-price {
                    border-bottom: 0 none;
                    .price-box {
                        .lib-vendor-prefix-display(flex);
                        .justify-content(flex-start);
                        margin: 0;
                        padding: 0;
                        .discount-percentage{
                            display: none;
                        }
                        .price{
                            .lib-font-size(28);
                        }
                    }
                }
                .product-add-form{
                    border-top: 1px solid #ececec;
                }
                .box-tocart{
                    .fieldset{
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        .field.qty{
                            .lib-vendor-prefix-display(flex);
                            .lib-vendor-box-align(center);
                            margin-bottom: 0;
                            label{
                                margin-bottom: 0;
                                margin-right: 10px;
                            }
                            select#qty {
                                border: 1px solid #ddd;
                            }
                        }
                        .actions{
                            width: 100%;
                            .lib-vendor-prefix-display(flex);
                            .lib-vendor-box-align(center);
                            margin-left: 20px;
                            #product-addtocart-button{
                                width: 100%;
                                margin-right: 0;
                                padding: 20px;
                                .lib-font-size(16);
                                margin-bottom: 0;
                            }
                            .product-social-links{
                                width: auto;
                                margin: 0 auto;
                                margin-left: 15px;
                                a.action.towishlist{
                                    .lib-icon-font(
                                        @icon-wishlist,
                                        @_icon-font-size: 20px,
                                        @_icon-font-color: @black,
                                        @_icon-font-color-hover: #F25B4D,
                                        @_icon-font-color-active: #F25B4D
                                    );
                                    &:hover{
                                        .lib-icon-font(
                                            @icon-wishlist-full,
                                            @_icon-font-size: 20px,
                                            @_icon-font-color: @black,
                                            @_icon-font-color-hover: #F25B4D,
                                            @_icon-font-color-active: #F25B4D
                                        );
                                        &::before{
                                            margin: 0;
                                            overflow: visible;
                                        }
                                    }
                                    span{
                                        display: none;
                                    }
                                    &::before{
                                        margin: 0;
                                        overflow: visible;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .fotorama__dot{
                width: 8px;
                height: 8px;
                top: 1px;
                left: 1px;
                border-color: @sg-green;
            }
            .fotorama__active{
                .fotorama__dot{
                    background: @sg-green;
                }
            }

            .product.info.items,
            .product-shipping-info{
                margin-bottom: 50px;
                h2 {
                    border-bottom: 3px solid @sg-green;
                    .lib-font-size(24);
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                }
            }
            .product-info-main {
                .product-reviews-summary {
                    float: none;
                    .lib-button();
                    text-align: center;
                    text-decoration: none;
                    margin-bottom: 20px;
                    width: 100%;
                    padding: 5px;
                    .action.add{
                        border: 0 none;
                        text-decoration: none;
                        color: inherit;
                        font-weight: bold;
                    }
                }
            }
            .review-form{
                max-width: 100%;
            }
            .review-control-vote {
                .lib-vendor-prefix-display(flex);
                &:before {
                    .lib-rating-icons-content(
                        @_icon-content: @icon-star
                    );
                }
            }
            #customer-reviews,
            .review-add{
                margin-bottom: 50px;
                .block-title {
                    border-bottom: 3px solid @sg-green;
                    .lib-font-size(24);
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                    display: block;
                    text-transform: uppercase;
                    strong{
                        font-weight: 500;
                    }
                }
            }
            div#customer-reviews{
                position: relative;
            }
            li.item.review-item {
                text-align: center;
                border-bottom: 0 none;
                //.lib-vendor-prefix-display(flex);
                //.justify-content(space-between);
                //.lib-vendor-box-align(center);
                .review-title,
                .review-ratings,
                .review-content,
                .review-details{
                    float: none;
                   margin-left: 0;
                }
                .review-ratings{
                    max-width: 100%;
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction(column);
                    .lib-vendor-box-align(center);
                    .rating-summary{
                        .lib-vendor-prefix-display(flex);
                    }
                }
                .review-details {

                    *{
                        font-family: @font-family__regular;
                        .lib-font-size(12);
                    }
                }
            }
            .review-toolbar{
                border-top: 0 none;
            }
            .block{
                &.related{
                    margin-bottom: 20px;
                    .products{
                        margin: 0;
                    }
                    .product-items{
                        margin: 0;
                    }
                    .block-title.title{
                        text-transform: uppercase;
                        border-bottom: 1px solid #eee;
                        strong{
                            .lib-font-size(14)
                        }
                    }
                    strong.product.name.product-item-name{
                        display: none;
                    }
                    .swiper-button-next,
                    .swiper-button-prev{
                        display: none;
                    }
                }
                &.upsell{
                    width: 100%;
                    box-sizing: border-box;
                    .block-title.title{
                        padding-bottom: 20px;
                        margin-bottom: 30px;
                        border-bottom: 3px solid @sg-green;
                        strong{
                            .lib-font-size(24);
                            font-weight: @font-weight__semibold;
                        }
                    }
                    .block-content {
                        &.content {
                            box-sizing: border-box;
                           .product-items{
                               box-sizing: border-box;
                               max-width: 100%;

                           }
                        }
                    }
                    .products-grid {
                        .product-item-info{
                            width: auto;
                            &:hover,
                            .active{
                                border: 0 none;
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .product-widget-container {
                clear: both;
                margin: 50px auto;
                display: inline-block;
                box-sizing: border-box;
                width: 100%;
            }
        }
    }
}

//
//  Big Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    body {
        &.catalog-category-view,
        &.catalogsearch-result-index {
            &.page-products {
                .products-grid,
                .products-list {
                    .product-items {
                        .product-item {
                            .product-item-info {
                                .product-item-photo {
                                    min-width: 300px;
                                }
                            }
                            .product-item-actions{
                                .action.tocart.primary{
                                    min-width: 200px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.catalog-product-view{
            #product-addtocart-button{
                min-width: 200px;
            }
            .flex-fieldsets{
                .lib-vendor-prefix-display(flex);
                width: 100%;
                .review-field-ratings,
                .review-fieldset{
                    width: 50%;
                    padding-right: 50px;
                }
            }
        }

        .add-to-cart-popup{
            .modal-inner-wrap {
                max-width: 30%;
            }

            footer.modal-footer{
                .lib-vendor-prefix-display();
                .button{
                    width: 50%;
                }
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body{
        &.catalog-category-view,
        &.catalogsearch-result-index {
            &.page-products {
                .products-grid {
                    .product-items {
                        .product-item {
                            padding: 0;
                            width: calc((100% - 6%)/3);
                            .product-item-info{
                                width: 100%;
                                text-align: center;
                            }
                            &:nth-child(3n + 1),
                            &:nth-child(4n + 1) {
                                margin-left: 2%;
                            }
                            .field.qty{
                                margin-top: 0;
                            }
                            .actions-primary{
                                .lib-vendor-prefix-display(flex);
                                .lib-vendor-box-align(center);
                                .justify-content(center);
                            }
                            .control.qty-change {
                                .lib-vendor-prefix-display(flex);
                                .lib-vendor-box-align(center);
                                button{
                                    border: 1px solid #ddd;
                                    width: 20px;
                                    height: 20px;
                                    padding: 2px;
                                }
                                .qty-label{
                                    border: 1px solid #ddd;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .sidebar.sidebar-main {
                width: 25%;
            }
            .column.main{
                width: 75%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    body{
        &.catalog-category-view,
        &.catalogsearch-result-index {
            &.page-products {
                .products-grid {
                    .product-items {
                        .product-item {
                            flex: 1 1 30%;
                            margin-bottom: 30px;
                            .product-item-info{
                                width: 100%;
                            }
                        }
                    }
                }
                .products-list{
                    .product-item-info{
                        .product-item-details{
                            margin-left: 30px;
                        }
                        .price-box.price-final_price{
                            .justify-content(center);
                        }
                    }
                }
            }
        }
        &.catalog-product-view{
            .product.media {
                border-right: 5px solid #f3f3f3;
            }
            .page-title-wrapper {
                &.product{
                    h1 {
                        .lib-font-size(30);
                    }
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    body{
        &.catalog-category-view,
        &.catalogsearch-result-index {
            &.page-products {
                .products-grid {
                    .product-items {
                        .product-item {
                            width: 100%;
                            margin-bottom: 30px;
                            .product-item-info{
                                width: 100%;
                            }
                            .product-image-hover{
                                display: none;
                            }
                            .product-item-actions{
                                button.action.tocart.primary{
                                    padding: 10px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .products-list{
                    .product-item-info{
                        .lib-vendor-prefix-flex-wrap(wrap);
                        padding: 5px;
                        .product-item-name{
                            text-align: center;
                        }
                        .product-item-actions {
                            .actions-primary{
                                display: block;
                                text-align: center;
                            }
                        }
                        .product-item-details{
                            display: block;
                            width: 100%;
                        }
                        .availability{
                            text-align: center;
                        }
                    }
                }
            }
        }

        &.catalog-product-view{
            .product-info-main {
                .product-info-price{
                    margin: 10px auto;
                    display: inline-block;
                    width: 100% !important;
                    box-sizing: border-box;
                }
                .product-vat-label{
                    padding: 0;
                }
                .logo-swarovski {
                    top: auto;
                    bottom: 0;
                    width: 20%;
                }
                .product-add-form{
                    .box-tocart {
                        .fieldset {
                            .lib-vendor-prefix-flex-wrap(wrap);
                            .field.qty{
                                margin: 0 10px 0 0;
                            }
                            .actions{
                                margin-top: 10px;
                                margin-left: 0;
                                button#product-addtocart-button{
                                    padding: 10px;
                                    .lib-font-size(14);
                                    line-height: inherit;
                                }
                            }
                        }
                    }
                }
                .block {
                    &.related {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
