<?php
$helper = $this->helper('Sg\Module\Helper\Data');
?>
<div class="header links" data-block="account">
    <ul>
        <li class="authorization-link" data-label="or">
            <a href="<?php echo $this->getUrl('customer/account/login');?>" class="user-link <?php if ($block->customerLoggedIn()): ?>logged<?php endif; ?>">
                <?php if ($block->customerLoggedIn()): ?>
                    <span data-bind="scope: 'customer'"><span data-bind="text: new String('<?php echo $block->escapeHtml(__('Hello %1', '%1')); ?>').replace('%1', '<?php echo $helper->getCustomerFirstname(); ?>')"></span></span>
                <?php else:?>
                    <span><?php echo __('Account')?></span>
                <?php endif; ?>
            </a>

            <?php if ($block->customerLoggedIn()): ?>
                    <div class="block-customer" data-bind="scope: 'customer'" data-role="dropdownDialog"
                         data-mage-init='{"dropdownDialog":{
                            "appendTo":".top-container",
                           "defaultDialogClass":"customer-overlay",
                            "triggerTarget": ".user-link",
                            "closeOnMouseLeave": false,
                            "closeOnEscape": true,
                            "triggerClass":"active",
                            "parentClass":"active",
                            "show": {
                                "effect": "fade",
                                "duration": 400
                              },
                            "hide": {
                                "effect": "fade",
                                "duration": 400
                              }
                              }}'>
                        <div id="account-content">
                            <?php echo $block->getChildHtml('custom_customer_navigation'); ?>
                        </div>
                    </div>
            <?php endif; ?>
        </li>
    </ul>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
</script>
