<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="welcome-dashboard">
    <strong><?php echo __('Hi');?>, <?= $block->escapeHtml($block->getName()) ?>!</strong>
    <?php echo $block->getChildHtml('customer_info_dashboard')?>
</div>
