<?php
/**
 * Anonymization template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */

$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= /* @noEscape */ $block->escapeHtml(__('Anonymize personal data')) ?></strong>
    </div>
    <?php echo __('Send account data anonymization request to encrypt your personal information such as First name, Last name and Email address. Please note that you will not be able to login using your current email address after your account information is anonymized. You will receive a new anonymized email address that you can use to login.')?>
    <form class="form"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          method="post"
          action="<?= /* @noEscape */ $block->getAnonymizationUrl()?>">
        <fieldset class="fieldset password" data-container="change-email-password">
            <div class="field choice">

                <input type="checkbox"
                       name="anonymization_data"
                       id="anonymization-data"
                       data-role="anonymization-data"
                       value="1"
                       title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('I agree to anonymize the personal information associated with my account.')) ?>"
                       class="checkbox"
                       data-validate="{required:true}"/>
                <label class="label" for="anonymization-data">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('I agree to anonymize the personal information associated with my account.')) ?></span>
                    <span style="color: #ff0000;">*</span>
                </label>
            </div>
            <div class="field password current required"
                 style="display: <?= /* @noEscape */ 'block';?>">
                <label class="label" for="anony-current-password">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('Current Password')) ?></span>
                </label>
                <div class="control">
                    <input type="hidden" name="id" id="customer-id"
                           value="<?= /* @noEscape */ $customerDetails['id']?>"/>
                    <input type="password" class="input-text" name="current_password" id="anony-current-password"
                           data-input="current-password"
                           autocomplete="off"
                           data-validate="{required:true}"/>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        class="action save primary"
                        title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('Proceed')) ?>">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('Proceed')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
