<?php
/**
 * Cookie Link template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$helper = $block->getGdprHelper();
$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}
$cookieData = [];
$checkBoxes = [];
?>

<a class="action change-password" id="cookie_link">
    <?= /* @noEscape */ $block->escapeHtml(__('Read Cookie Policy')) ?>
</a>

<?php if ($helper->getCookieGroups() != null):?>
    <div id="cookie-pop-up" style="display:none;">
        <?php echo __('Please select and accept your Cookies Group')?>
        <?php $groups = $helper->getCookieGroups();?>
        <div class="mt_cookiegroup_cookie_link_form_container">
            <?php if (sizeof($groups) && $groups!=null):?>
                <?php foreach ($groups as $group): ?>
                    <div class="mt_cookiegroup_cookie_link_container">
                        <div class="mt_cookiegroup_cookie_link_header">
                            <h3 class="mt_cookiegroup_cookie_link_caption">
                                <span>
                                    <?= /* @noEscape */ $group['cookie_group_name'];?>
                                </span>
                            </h3>
                            <div class="mt_cookiegroup_cookie_link_toggle">
                                <input
                                    <?php $is_essential='';
                                    if ($group['is_essential']) { echo "disabled" ;
                                        $is_essential="is_essential";
                                    } else { echo "" ;
                                        $is_essential = '';
                                    }?>
                                        class="mt_checkbox"
                                        type="checkbox"
                                        name="<?= /* @noEscape */ $group['cookie_group_name']?>"
                                        id="<?= /* @noEscape */ trim($group['cookie_group_code'])?>" />
                                <?php $checkBoxes[] = trim($group['cookie_group_code'])?>
                                <label class="mt_cookiegroup_cookie_link_toggle_slider <?= /* @noEscape */ $is_essential?>"
                                       for="<?= /* @noEscape */ trim($group['cookie_group_code'])?>"></label>
                            </div>
                        </div>
                        <div class="mt_cookiegroup_cookie_link_desc">
                            <p>
                                <?= /* @noEscape */ $group['description'];?>
                            </p>
                        </div>
                        <div class="mt_cookiegroup_cookie_link_more_info">
                            <span>
                                <a class="cookie_link_cookie_info_link"
                                   id="<?= /* @noEscape */ $group['cookie_group_name']?>" ><?php echo __('More information')?></a>
                                <?php $cookieData[$group['cookie_group_name']] = $helper->getCookieByCookieGroup($group['cookie_group_code']);?>
                            </span>
                        </div>
                    </div>
                <?php endforeach; ?>
                <div class="mt_cookiegroup_cookie_link_done_container">
                    <div class="mt_cookiegroup_cookie_link_done_primary">
                        <button
                                id="mt_cookiegroup_cookie_link_done"
                                type="submit"
                                class="action-primary"
                                data-role="closeBtn"
                                title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('Donne')) ?>">
                            <span><?= /* @noEscape */ $block->escapeHtml(__('Donne')) ?></span>
                        </button>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'Magento_Ui/js/modal/alert'
            ],
            function (
                $,
                modal,
                alert
            ) {
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    buttons: false
                };

                var popup = modal(options, $('#cookie-pop-up'));
                $("body").on("click", "#cookie_link", function (e) {
                    $('#cookie-pop-up').modal("openModal");
                });

                $('#mt_cookiegroup_cookie_link_done').click(function (data) {
                    var checkboxes = <?= /* @noEscape */ json_encode($checkBoxes);?>;
                    var checkboxChecked = [];
                    $.each(checkboxes, function(index, value) {
                        id = '#'+value;
                        if ($(id).prop("disabled") == true){
                            checkboxChecked.push(value);
                        }
                        else if($(id).prop("checked") == true){
                            checkboxChecked.push(value);
                        }
                    });
                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getCookieConsentUrl();?>",
                        type: 'POST',
                        data : {
                            'userData': {
                                'concents_log_id':null,
                                'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                'status': 'All Allowed'
                            },
                            'cookies_accepted': checkboxChecked,
                            'all_accepted':false
                        }
                    });
                });

                var getCookieHtml = function (id) {
                    var cookieArrays = <?= /* @noEscape */ json_encode($cookieData);?>;
                    var cookieArray = cookieArrays[id];
                    var html = "<table>";
                    html += "<tr>";
                    html += "<th><?php echo __('Cookie Name')?></th>";
                    html += "<th><?php echo __('Cookie Provider')?></th>";
                    html += "<th><?php echo __('Cookie Description')?></th>";
                    html += "<th><?php echo __('Cookie Lifetime')?></th>";
                    html += "<th><?php echo __('Cookie Type')?></th>";
                    html += "</tr>";

                    cookieArray.forEach(function (item) {
                        html += "<tr>";
                        html += "<td>"+item['cookie_name']+"</td>";
                        html += "<td>"+item['cookie_provider']+"</td>";
                        html += "<td>"+item['description']+"</td>";
                        html += "<td>"+item['cookie_lifetime']+"</td>";
                        html += "<td>"+item['cookie_type']+"</td>";
                        html += "</tr>";
                    });
                    html += "</table>";
                    return html;
                };

                $('.cookie_link_cookie_info_link').click(function () {
                    var id = $(this).attr('id');

                    var html = getCookieHtml(id);
                    alert({
                        title: id,
                        content: html,
                        autoOpen: true,
                        clickableOverlay: false,
                        focus: "",
                        actions: {
                            always: function(){

                            }
                        }
                    });
                })

            }
        );
    </script>
    <style>
        .mt_cookiegroup_cookie_link_toggle_slider.is_essential::before {
            transform: translateX(26px);
        }
        .modal-popup.confirm .modal-inner-wrap {
            max-width: none;
        }
        .cookie_link_cookie_info_link:hover {
            cursor: pointer;
        }
        .mt_classic_hide_cookie_container {
            display: none;
        }

        .mt_cookiegroup_cookie_link_container {
            width: 100%;
            margin: 10px 0 30px 0;
        }
        .mt_cookiegroup_cookie_link_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .mt_cookiegroup_cookie_link_caption {
            margin: 0 0 15px 0;
            line-height: 30px;
            font-weight: 900;
            font-size: 20px;
        }
        .mt_cookiegroup_cookie_link_desc {
            text-align: justify;
            font-size: 14px;
            line-height: 25px;
        }
        .mt_cookiegroup_cookie_link_toggle {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        .mt_cookiegroup_cookie_link_toggle_slider {
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #e8e8e8;
            border-radius: 20px;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .mt_checkbox {
            visibility: hidden;
        }
        .mt_checkbox:checked + .mt_cookiegroup_cookie_link_toggle_slider {
            background: #2196F3;
        }
        .mt_cookiegroup_cookie_link_toggle_slider:before {
            position: absolute;
            content: "";
            background: #fff;
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            border-radius: 100px;
            transition: .4s;
        }
        .mt_checkbox:checked + .mt_cookiegroup_cookie_link_toggle_slider:before {
            transform: translateX(26px);
        }
        .mt_cookiegroup_cookie_link_more_info span a{
            text-decoration: none;
        }

        .mt_cookiegroup_cookie_link_done_container {
            display: block;
            width: 100%;
            margin: 20px 0 0 0;
        }
        .mt_cookiegroup_cookie_link_done_primary {
            width: 100%;
        }
    </style>
<?php else:?>
    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/alert'
            ],
            function (
                $, alert) {
                $('#cookie_link').click(function () {
                    alert({
                        title: 'Cookies',
                        content: "There is no any cookie(s) to accept. Please contact us for more information.",
                        modalClass: 'alert',
                        buttons: [{
                            text: $.mage.__('Close'),
                            class: 'action',
                            click: function () {
                                this.closeModal(true);
                            }
                        }]
                    });
                })
            }
        );
    </script>
<?php endif;?>

