<?php
/**
 * Delete Request template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */

$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}

?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= /* @noEscape */ $block->escapeHtml(__('Delete account')) ?></strong></div>
    <?php echo __('Send an account deletion request to remove your account along with all your personal data from our site. Deleting your account will remove all your account data including order history, invoices, saved payment methods, and other information. Please note that you will not be able to restore your account once it is deleted.')?>
    
    <form class="form"
          id="form-validate"
          method="post"
          data-mage-init='{"validation":{}}'
          action="<?= /* @noEscape */ $block->getDeleteRequestUrl()?>">
        <fieldset class="fieldset password" data-container="change-email-password">
            <div class="field choice">
                <input type="checkbox" name="delete_request" id="delete-request" data-role="delete-request" value="1"
                       title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('I understand and I want to delete my account')) ?>"
                       class="checkbox"
                       data-validate="{required:true}"/>
                <label class="label" for="delete-request">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('I understand and I want to delete my account')) ?></span>
                    <span style="color: #ff0000;">*</span>
                </label>
            </div>
            <div class="field password current required"
                 style="display: <?= /* @noEscape */ $block->escapeHtml(__('block'));?>">
                <input type="hidden" name="id" id="customer-id"
                       value="<?= /* @noEscape */ $customerDetails['id']?>"/>
                <input type="hidden" name="name" id="customer-name"
                       value="<?= /* @noEscape */ $customerDetails['name']?>"/>
                <input type="hidden" name="email" id="email"
                       value="<?= /* @noEscape */ $customerDetails['email']?>"/>
                <label class="label" for="delete-current-password">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('Current Password')) ?></span>
                </label>
                <div class="control">
                    <input type="password" class="input-text" name="current_password" id="delete-current-password"
                           data-input="current-password"
                           autocomplete="off"
                           data-validate="{required:true}"/>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        class="action save primary"
                        title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('Submit Request')) ?>">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('Submit Request')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>