<?php
/**
 * Download template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */

$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}

?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= /* @noEscape */ $block->escapeHtml(__('Download personal data')) ?></strong></div>
    <?php echo __('Download a copy of your personal data in CSV format.')?>
    <form class="form"
          id="form-validate"
          method="post"
          data-mage-init='{"validation":{}}'
          action="<?= /* @noEscape */ $block->getDownloadRequestUrl()?>">
        <fieldset class="fieldset password" data-container="change-email-password">
            <div class="field password current required">
                <label class="label" for="download-current-password">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('Current Password')) ?></span>
                </label>
                <div class="control">
                    <input type="hidden" name="id" id="customer-id"
                           value="<?= /* @noEscape */ $customerDetails['id']?>"/>
                    <input type="password" class="input-text" name="current_password" id="download-current-password"
                           data-input="current-password"
                           autocomplete="off"
                           data-validate="{required:true}"/>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        class="action save primary"
                        title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('Download')) ?>">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('Download')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
