<?php
/**
 * Data Protection Officer Information template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$helper = $block->getGdprHelper();
?>
<?php if ($helper->getDpoSection() != null):?>
    <div class="block block-dashboard-info">
        <div class="block-title"><strong><?= /* @noEscape */ $block->escapeHtml(__($helper->getDpoSection())) ?></strong></div>
        <p>
            <?= /* @noEscape */ $block->getCmsFilterContent($helper->getDpoDescription()) ?>
        </p>
    </div>
<?php endif; ?>