<?php
/**
 * Consents List template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$consents = $block->getCheckboxConsents();
$helper = $block->getGdprHelper();
ksort($consents);
$policyDetails = $helper->getPolicyInformation();
$version = '---';
if (is_array($policyDetails) && $policyDetails!=null) {
    $version = $policyDetails['version_number'];
}
$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}
$consentsArray = [];
?>

<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= /* @noEscape */ $block->escapeHtml(__('Given Consent')) ?></strong></div>
    <?php echo __('Manage all of your consents here.')?>

	<form class="form" id="form-validate" method="post">
        <div class="mt-consents-items">
            <?php if (sizeof($consents) && $consents!=null):?>
                <?php foreach ($consents as $item): ?>
                    <?php if ($item['is_enabled']): ?>
                        <?php
                            $isChecked = $helper->getCustomerConsents($item['checkbox_code']);
                        ?>
                        <?php $location = explode(',', $item['checkbox_location']); ?>
                        <?php $isAllowCountry = $helper->getCheckboxCountries($item['countries_restricted'], $item['countries']) ?>
                        <?php if ($isAllowCountry): ?>
                            <?php if (!$item['is_hide']):?>
                            <div class="field choice">
                                <input type="checkbox"
                                       name="<?= /* @noEscape */ $item['checkbox_code']?>"
                                       id="<?= /* @noEscape */ $item['checkbox_code']?>"
                                       data-role="<?= /* @noEscape */ $item['checkbox_code']?>"
                                       value="1"
                                       <?php if ($isChecked) { echo 'checked';} echo '' ?>
                                       title="<?= /* @noEscape */ $block->escapeHtmlAttr(__($item['checkbox_text'])) ?>"
                                       class="checkbox"/>
                                <label class="label" for="<?= /* @noEscape */ $item['checkbox_code']?>">
                                    <span>
                                        <?= /* @noEscape */
                                            __($block->getCheckboxLinks($item['checkbox_text'], $item['consents_link_type'], $item['cms_page']));
                                        ?>
                                    </span>
                                </label>
                            </div>
                        <?php endif; ?>
                        <?php endif;?>
                    <?php endif;?>
                <?php endforeach;?>
            <?php endif;?>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        class="action save primary"
                        id="checkbox-consent-save"
                        title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('Save')) ?>">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('Save')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
<style>
    .mt-consents-items {
        margin-bottom: 10px;
    }
</style>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'domReady!'
        ],
        function ($) {
            $(function () {
                $('#checkbox-consent-save').click(function (data) {
                    <?php if (sizeof($consents) && $consents!=null):?>
                        <?php foreach ($consents as $item): ?>
                            <?php if ($item['is_enabled']): ?>
                                <?php if (!$item['is_hide']): ?>
                                    <?php if ($item['log_status']): ?>
                                        var isChecked = 'Rejected'
                                        var id = '<?= /* @noEscape */ '#'.$item['checkbox_code']?>';
                                        if ($(id).is(':checked')){
                                            isChecked = 'Accepted'
                                        }
                                        jQuery.ajax({
                                        url: "<?= /* @noEscape */  $block->getSubmitUrl();?>",
                                        type: 'POST',
                                        data : {
                                            'concents_log_id':null,
                                            'checkbox_location':'Optional Consent at Account Privacy Settings',
                                            'checkbox_code':'<?= /* @noEscape */ $item['checkbox_code']?>',
                                            'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                            'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                            'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                            'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                            'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                            'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                            'policy_version': '<?= /* @noEscape */ $version?>',
                                            'action': isChecked
                                        }
                                    });
                                    <?php endif;?>
                                <?php endif;?>
                            <?php endif;?>
                        <?php endforeach;?>
                    <?php endif;?>
                })
            })
        }
    )
</script>


