<?php
/**
 * Policy Link template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$helper = $block->getGdprHelper();
$policyDetails = $helper->getPolicyInformation();
$version = '';
$isNew = '';
if (is_array($policyDetails) && $policyDetails!=null) {
    $version = $policyDetails['version_number'];
    $isNew = $helper->isPolicyVerNew($version);
}
$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}
?>
<a class="action edit" id="policy_link" >
    <span><?= /* @noEscape */ $block->escapeHtml(__('Read Privacy Policy')) ?></span>
</a>

<?php if ($policyDetails != null): ?>
    <div id="privacy-pop-up" style="display:none;">
        <h1>Privacy Policy</h1>
        <div id="modal-content-27" class="modal-content" data-role="content">
            <?php if ($isNew): ?>
            <div id="messages">
                <div class="messages">
                    <div class="message message-success info">
                        <div data-ui-id="messages-message-info">
                            We would like to inform you that we have recently updated our Privacy Policy. Please,
                            review our new Policy terms and Accept.
                        </div>
                    </div>
                </div>
            </div>
            <?php endif;?>
            <div class="mtgdpr-privacy-policy" id="mtgdpr-privacy-popup" style="display: block;">
                <?= /* @noEscape */ $policyDetails['policy_description']?>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit"
                        data-role="closeBtn"
                        class="action save primary"
                        id="accept-privacy-policy"
                        title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('I have read and accept')) ?>">
                    <span><?= /* @noEscape */ $block->escapeHtml(__('I have read and accept')) ?></span>
                </button>
            </div>
        </div>
    </div>
    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function (
                $,
                modal
            ) {
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    buttons: false
                };

                var popup = modal(options, $('#privacy-pop-up'));
                $("body").on("click", "#policy_link", function (e) {
                    $('#privacy-pop-up').modal("openModal");
                });
                $('#accept-privacy-policy').click(function (data) {
                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getSubmitUrl()?>",
                        type: 'POST',
                        data : {
                            'concents_log_id':null,
                            'checkbox_location':'Policy Popup',
                            'checkbox_code':'--',
                            'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                            'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                            'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                            'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                            'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                            'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                            'policy_version': '<?= /* @noEscape */ $version?>',
                            'action': 'Accepted'
                        }
                    });
                })
            }
        );
    </script>
<?php else: ?>
    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/alert'
            ],
            function (
                $, alert) {
                $('#policy_link').click(function () {
                    alert({
                        title: 'Privacy Policy',
                        content: "There is no any privacy policy to accept. Please contact us for more information.",
                        modalClass: 'alert',
                        buttons: [{
                            text: $.mage.__('Close'),
                            class: 'action',
                            click: function () {
                                this.closeModal(true);
                            }
                        }]
                    });
                })
            }
        );
    </script>
<?php endif; ?>