<?php
/**
 * Policy Text template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */

$helper = $block->getGdprHelper();
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= /* @noEscape */ $block->escapeHtml(__('Policies text')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <div class="box-actions">
                <?= /* @noEscape */ $block->getChildHtml('policy_link') ?>
                <?php if ($helper->isEnabledCookie()): ?>
                    <?= /* @noEscape */ $block->getChildHtml('cookie_link') ?>
                <?php endif;?>
            </div>
        </div>
    </div>
</div>

<style>
    #policy_link:hover,  #cookie_link:hover, .cookie_info_link:hover{
        cursor: pointer;
    }
</style>
