.mt_cookie_classic_before_container {
    background: #f5f0f000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.mt_container_hide {
    display: none;
}
.mt_cookie_classic_main_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffffad;
    z-index: 900;
}
.cookie_footer {
    bottom: 0;
}
.cookie_top {
    top: 0;
}
.mt_cookie_classic_container {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
    font-size: 16px;
    line-height: 25px;
    box-shadow: 0 0 10px #00000038;
}
.mt_cookie_classic_content {
    width: 50%;
    text-align: justify;
    font-size: 14px;
}
.mt_cookie_classic_actions {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    flex-direction: row;
}
.mt_classicbar_accept_cookie, .mt_classicbar_decline_cookie, .mt_classicbar_customize_cookie {
    margin-bottom: 10px;
    border: none;
}
.mt_classicbar_accept_cookie:hover, .mt_classicbar_decline_cookie:hover, .mt_classicbar_customize_cookie:hover {
    margin-bottom: 10px;
    border: none;
    background-color: #fff;
}
.mt_classic_hide_cookie_container {
    display: none;
}

/* Classic pop up design */
.modal-popup.confirm .modal-inner-wrap {
    max-width: none;
}

.cookie_link_cookie_info_link:hover {
    cursor: pointer;
}

.mt_classic_hide_cookie_container {
    display: none;
}

.mt_cookiegroup_classic_container {
    width: 100%;
    margin: 10px 0 30px 0;
}
.mt_cookiegroup_classic_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mt_cookiegroup_classic_caption {
    margin: 0 0 15px 0;
    line-height: 30px;
    font-weight: 900;
    font-size: 20px;
}
.mt_cookiegroup_classic_desc {
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
}
.mt_cookiegroup_classic_toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.mt_cookiegroup_classic_toggle_slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e8e8e8;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

.mt_checkbox {
    visibility: hidden;
}
.mt_checkbox:checked + .mt_cookiegroup_classic_toggle_slider {
    background: #2196F3;
}
.mt_cookiegroup_classic_toggle_slider:before {
    position: absolute;
    content: "";
    background: #fff;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 100px;
    transition: .4s;
}
.mt_checkbox:checked + .mt_cookiegroup_classic_toggle_slider:before {
    transform: translateX(26px);
}
.mt_cookiegroup_classic_more_info span a{
    cursor: pointer;
    text-decoration: none;
}

.mt_cookiegroup_classic_done_container {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
}
.mt_cookiegroup_classic_done_primary {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .mt_cookie_classic_actions {
        flex-direction: column;
    }
}