.mt_main_consents {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_constents {
    width: fit-content;
}
.consents {
    margin-top: 10px;
}
.block.newsletter .form.subscribe {
    display: block;
    width: 100%;
}
.block.newsletter .field {
    margin: 0;
    float: left;
}
.modal-popup.confirm .modal-inner-wrap {
    width: 75%;
}
@media only screen and (max-width: 768px) {
    .modal-popup.confirm .modal-inner-wrap {
        width: 100%;
        height: 700px;
        overflow-y: scroll;
    }
    .modal-content {
        overflow: scroll;
        max-height: 1000px;
    }
    #cookie-pop-up {
        overflow-y: scroll;
        height: 500px;
    }
}
@media only screen and (max-width: 375px) {
    .modal-content {
        max-height: 500px;
    }
}