
.mt_cookie_popup_before_container {
    background: #f5f0f000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.mt_container_hide {
    display: none;
}
.mt_popup_cookie_main_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffffad;
    z-index: 900;
}
.mt_popup_cookies_container {
    position: fixed;
    top: 35%;
    width: 50%;
    left: 25%;
    padding: 20px 0 10px 0;
}
.mt_popup_cookie_content {
    width: 100%;
    text-align: justify;
    display: flex;
    padding: 50px;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 0 10px #00000038;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
.mt_popup_cookie_actions {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
    flex-direction: column;
    flex-wrap: wrap;
}
.popup_accept_cookie, .popup_decline_cookie, .popup_customize_cookie {
    margin-bottom: 10px;
    border: none;
}
.popup_accept_cookie:hover, .popup_decline_cookie:hover, .popup_customize_cookie:hover {
    margin-bottom: 10px;
    border: none;
    background-color: #fff;
}
.mt_popup__hide_cookie_container {
    display: none;
}


/* customize cookie popup */
.popup_cookie_info_link:hover {
    cursor: pointer;
}
.mt_cookiegroup_popup_container {
    width: 100%;
    margin: 10px 0 30px 0;
}
.mt_cookiegroup_popup_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mt_cookiegroup_popup_caption {
    margin: 0 0 15px 0;
    line-height: 30px;
    font-weight: 900;
    font-size: 20px;
}
.mt_cookiegroup_popup_desc {
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
}
.mt_cookiegroup_popup_toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.mt_cookiegroup_popup_toggle_slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e8e8e8;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}
.mt_checkbox_popup {
    visibility: hidden;
}
.mt_checkbox_popup:checked + .mt_cookiegroup_popup_toggle_slider {
    background: #2196F3;
}
.mt_cookiegroup_popup_toggle_slider:before {
    position: absolute;
    content: "";
    background: #fff;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 100px;
    transition: .4s;
}
.mt_checkbox_popup:checked + .mt_cookiegroup_popup_toggle_slider:before {
    transform: translateX(26px);
}
.mt_cookiegroup_popup_more_info span a{
    text-decoration: none;
}

.mt_cookiegroup_popup_done_container {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
}
.mt_cookiegroup_popup_done_primary {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .mt_popup_cookie_main_container {
        height: 242em;
    }
    .mt_popup_cookies_container {
        top: 30%;
        width: 75%;
        left: 0%;
    }
}
