.mt_cookie_sidebar_before_container {
    background: #f5f0f000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.mt_container_hide {
    display: none;
}
.mt_cookie_main_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffffad;
    z-index: 100;
}

.modal-popup.confirm .modal-inner-wrap {
    max-width: none;
}

/* Side bar style */
.mt_cookiegroup_sidebar_form_container {
    background: #fff;
    width: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 20px;
    box-shadow: 0 0 10px #0000005e;
}
.mt_cookiegroup_sidebar_container {
    width: 100%;
    margin: 10px 0 30px 0;
}
.mt_cookiegroup_sidebar_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mt_cookiegroup_sidebar_toggle_slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e8e8e8;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}
.mt_checkbox {
    visibility: hidden;
}
.mt_checkbox:checked + .mt_cookiegroup_sidebar_toggle_slider {
    background: #2196F3;
}
.mt_cookiegroup_sidebar_toggle_slider:before {
    position: absolute;
    content: "";
    background: #fff;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 100px;
    transition: .4s;
}
.mt_checkbox:checked + .mt_cookiegroup_sidebar_toggle_slider:before {
    transform: translateX(26px);
}
.mt_cookiegroup_actions {
    margin: 5px 0;
    text-align: center;
}
.mt_cookiegroup_actions:hover {
    cursor: pointer;
}
.essential_cookie {
    background: #2196F3;
    border-radius: 3px;
}

.mt_sidebar_hide_cookie_container {
    display: none;
}

.mt_cookie_actions_sidebar {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.sb_accept_cookie, .sb_decline_cookie, .sb_customize_cookie {
    margin-bottom: 10px;
    border: none;
}

.sb_accept_cookie:hover, .sb_decline_cookie:hover, .sb_customize_cookie:hover {
    margin-bottom: 10px;
    border: none;
    background-color: #fff;
}
@media only screen and (max-width: 768px) {
    .modal-popup.confirm .modal-inner-wrap {
        width: 75%;
    }
    .mt_cookiegroup_sidebar_form_container {
        width: 75%;
        overflow-y: scroll;
        height: 62em;
    }
    .modal-popup.confirm .modal-inner-wrap {
        width: 100%;
    }
    .modal-content {
        overflow: scroll;
        max-height: 500px;
    }
    .mt_cookie_main_container {
        height: 242em;
    }
}
