<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var $block \Magento\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_helper = $this->helper('Sg\Module\Helper\Data');
$_item = $block->getItem();
$_order = $_item->getOrder();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$infoStock = $_item->getInfoStock();
$infoShippingFrom = $_item->getInfoShippingfrom();
$infoShippingFromDate = $_item->getInfoShippingfromDate();
?>
<tr>
    <td class="item-info<?= ($block->getItemOptions() ? ' has-extra' : '') ?>">
        <img src="<?= $_imagehelper->init($_item->getProduct(), 'small_image', ['type'=>'small_image'])->keepAspectRatio(true)->resize('65','65')->getUrl();?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <p class="sku"><?= $block->escapeHtml(__('SKU')) ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
        <?php if ($block->getItemOptions()) : ?>
            <dl class="item-options">
            <?php foreach ($block->getItemOptions() as $option) : ?>
                <dt><strong><em><?= $block->escapeHtml($option['label']) ?></em></strong></dt>
                <dd>
                    <?= /* @noEscape */  nl2br($block->escapeHtml($option['value'])) ?>
                </dd>
            <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <div class="product-info-stock">
            <?php if ($infoStock != null):?>
                <p style="width: 10px;height: 10px;background-color: #008000;border-radius: 50%;float: left;margin-right: 5px;"></p><?php echo $infoStock ?>
            <?php endif; ?>
            <?php if ($infoShippingFromDate != null):?>
                <p style="width: 10px;height: 10px;background-color: orange;border-radius: 50%;float: left;margin-right: 5px;"></p><?php echo $infoShippingFromDate ?>
            <?php endif; ?>
            <?php if ($infoShippingFrom != null):?>
                <p style="width: 10px;height: 10px;background-color:  #346DD3;border-radius: 50%;float: left;margin-right: 5px;"></p><?php echo $infoShippingFrom ?>
            <?php endif; ?>
        </div>
        <?php /*if ($qtyAvailable > 0):*/?><!--
            <div class="disclaimer status-instock"  style="width: 300px;">
                <p style="width: 10px;height: 10px;background-color: #008000;border-radius: 50%;float: left;margin-right: 5px;"></p><?php /*echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_stock') ->toHtml()*/?>: <?php /*echo (int)$qtyAvailable */?>
            </div>
        <?php /*endif; */?>

        <?php /* if($backOrders != 0):*/?>
            <?php /*if($shippingFrom != null &&  $orderedQtyFromDate > 0):*/?>
                <div style="display: inline-block" style="width: 300px;">
                    <p style="width: 10px;height: 10px;background-color: orange;border-radius: 50%;float: left;margin-right: 5px;"></p><?php /*echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('info_shippingfrom_date')->toHtml() . " " . $shippingFrom*/?>: <?php /*echo (int)$backOrdersForShipping */?>
                </div>
            <?php /*else:*/?>
                <div class="disclaimer status-120gg"  style="width: 300px;">
                    <p style="width: 10px;height: 10px;background-color: #346DD3;border-radius: 50%;float: left;margin-right: 5px;"></p><?php /*echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('info_shippingfrom')->toHtml()*/?>: <?php /*echo (int)$backOrders */?>
                </div>
            <?php /*endif; */?>
            <?php /*if($shippingFrom != null && $orderedQtyFromDate > 0 &&  $orderedQtyFromDate < $backOrders):*/?>
                <div class="disclaimer status-120gg" style="width: 300px;">
                    <p style="width: 10px;height: 10px;background-color: #346DD3;border-radius: 50%;float: left;margin-right: 5px;"></p><?php /*echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('info_shippingfrom')->toHtml()*/?>: <?php /*echo (int)($backOrders - $orderedQtyFromDate) */?>
                </div>
            <?php /*endif; */?>
        --><?php /*endif; */?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="item-qty"><?= (float) $_item->getQtyOrdered() ?></td>
    <td class="item-price">
        <?= /* @noEscape */ $block->getItemPrice($_item) ?>
    </td>
</tr>
<?php if ($_item->getGiftMessageId()
    && $_giftMessage = $this->helper(\Magento\GiftMessage\Helper\Message::class)
        ->getGiftMessage($_item->getGiftMessageId())
) : ?>
    <tr>
    <td colspan="3" class="item-extra">
        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= $block->escapeHtml(__('Gift Message')) ?></h3>
                    <strong><?= $block->escapeHtml(__('From:')) ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= $block->escapeHtml(__('To:')) ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= $block->escapeHtml(__('Message:')) ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
