<?php
/** @var \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings $block */

$consents = $block->getCheckboxConsents();
$helper = $block->getGdprHelper();
$isGdprEnabled = $helper->isGdprEnabled();
ksort($consents);
?>
<?php if ($isGdprEnabled):?>
    <div class="block block-dashboard-info">
    <?php if (sizeof($consents) && $consents!=null):?>
        <?php foreach ($consents as $item): ?>
            <?php if ($item['is_enabled']): ?>
                <?php $location = explode(',', $item['checkbox_location']); ?>
                <?php $isAllowCountry = $helper->getCheckboxCountries($item['countries_restricted'], $item['countries']) ?>
                <?php $position = $item['checkbox_position']; ?>
                <?php if (in_array('Contact Us', $location)):?>
                    <?php if ($isAllowCountry): ?>
                        <div class="field choice" style="margin: 0 0 20px">
                            <input type="checkbox"
                                   name="mt_consents[<?= /* @noEscape */ $item['checkbox_code']?>]"
                                   id="<?= /* @noEscape */ $item['checkbox_code']?>"
                                   data-role="<?= /* @noEscape */ $item['checkbox_code']?>"
                                   title="<?= /* @noEscape */ $block->escapeHtmlAttr(__($item['checkbox_text'])) ?>"
                                   <?php if ($item['is_required']) { echo 'data-validate="{required:true}"';
                                   } else { echo '';
                                   }?>"
                                   class="checkbox"/>
                            <label class="label" for="<?= /* @noEscape */ $item['checkbox_code']?>">
                                <span>
                                    <?= /* @noEscape */
                                        __($block->getCheckboxLinks($item['checkbox_text'], $item['consents_link_type'], $item['cms_page']));
                                    if ($item['is_required']) { echo '<span style="color: #ff0000; margin: 0 0 0 5px;">*</span>';
                                    }
                                    ?></span>
                            </label>
                            <input type="hidden" name="mt_consents_data[<?= /* @noEscape */ $item['checkbox_code']?>]"/>
                            <input type="hidden" name="is_log[<?= /* @noEscape */ $item['checkbox_code']?>]" value="<?= /* @noEscape */ $item['log_status']?>"/>
                            <input type="hidden" name="is_hide[<?= /* @noEscape */ $item['checkbox_code']?>]" value="<?= /* @noEscape */ $item['is_hide']?>"/>
                        </div>
                    <?php endif;?>
                <?php endif;?>
            <?php endif;?>
        <?php endforeach;?>
    <?php endif;?>
</div>
<?php endif; ?>
<style>
    .block.block-dashboard-info {
        width: 100% !important;
    }
    .block .choice input {
        padding: 0px !important;
    }
</style>