<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
$helper = $this->helper(Meetanshi\GDPR\Helper\Data::class);
$consents = $helper->getConsents();
$isGdprEnabled = $helper->isGdprEnabled();
ksort($consents);
?>
<div class="block newsletter">
    <div class="info">
        <?= $block->getChildHtml('info_newsletter') ?>
    </div>
    <div class="content">
        <form class="form subscribe"
              novalidate
              action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <span class="label">
                            <?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                        </span>
                        <input name="email" type="email" id="newsletter"
                               placeholder="<?= $block->escapeHtml(__('Enter your email address')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                        />
                    </label>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary"
                        title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>"
                        type="submit"
                        aria-label="Subscribe">
                    <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                </button>
            </div>
            <?php if($block->getChildHtml('newsletter_privacy_policy')):?>
                <div class="privacyPolicy-wrap">
                    <div class="field privacyPolicy-check privacy">
                        <input type="checkbox" name="newsletter_privacy" class="checkbox" required="true"/>
                        <span><?= $block->getChildHtml('newsletter_privacy_policy'); ?></span>
                    </div>
                </div>
            <?php endif;?>
            <?php if ($isGdprEnabled): ?>
                <?php if (is_array($consents) && $consents!=null):?>
                    <div class="mt_main_consents">
                        <div class="main_constents">
                            <?php if (sizeof($consents) && $consents != null): ?>
                                <?php foreach ($consents as $item): ?>
                                    <?php if ($item['is_enabled']): ?>
                                        <?php $location = explode(',', $item['checkbox_location']); ?>
                                        <?php $isAllowCountry = $helper->getCheckboxCountries($item['countries_restricted'], $item['countries']) ?>
                                        <?php if (in_array('Newsletter Subscription', $location)): ?>
                                            <?php if ($isAllowCountry): ?>
                                                <div class="consents">
                                                    <input type="checkbox"
                                                           name="mt_consents[<?= /* @noEscape */ $item['checkbox_code'] ?>]"
                                                           id="<?= /* @noEscape */ "mt_consents_".$item['checkbox_code'] ?>"
                                                           data-role="<?= /* @noEscape */ $item['checkbox_code'] ?>"
                                                           title="<?= /* @noEscape */ $block->escapeHtmlAttr(__($item['checkbox_code'])) ?>"
                                                        <?php if ($item['is_required']) { echo 'data-validate="{required:true}"';
                                                        } else { echo '';
                                                        } ?>
                                                    />
                                                    <label for="<?= /* @noEscape */ "mt_consents_".$item['checkbox_code']?>">
                                                        <span>
                                                            <?= /* @noEscape */
                                                            __($helper->getCheckboxLinks($item['checkbox_text'], $item['consents_link_type'], $item['cms_page']));
                                                            if ($item['is_required']) { echo '<span style="color: #ff0000; margin: 0 0 0 5px;">*</span>';
                                                            }
                                                            ?>
                                                        </span>
                                                    </label>
                                                    <input type="hidden" name="mt_consents_data[<?= /* @noEscape */ $item['checkbox_code']?>]"/>
                                                    <input type="hidden" name="is_log[<?= /* @noEscape */ $item['checkbox_code']?>]" value="<?= /* @noEscape */ $item['log_status']?>"/>
                                                    <input type="hidden" name="is_hide[<?= /* @noEscape */ $item['checkbox_code']?>]" value="<?= /* @noEscape */ $item['is_hide']?>"/>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif;?>
            <?php endif;?>
        </form>
    </div>
</div>
<style>
    .consents input {
        margin-right: 0px !important;
        padding: 0px !important;
    }
    .main_constents .consents label span a {
        color: #fff;
        border-bottom: 1px dashed;
    }
</style>
