<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/alert',
        'mage/url',
        'prototype',
        'mage/validation'
    ], function(jQuery, alert, urlBuilder){
//<![CDATA[

        varienImport = {

            ifrElemName: 'import_post_target_frame',
            sampleFilesBaseUrl: '<?= $block->getUrl('*/*/download/', ['filename' => 'entity-name']) ?>',
            resetSelectIndex: function(elementId) {
                var element = jQuery('#' + elementId);
                if (element) {
                    element[0].selectedIndex = 0;
                }
            },
            showUploadFile: function(isShow) {
                if (isShow == true) {
                    jQuery('#upload_file_fieldset').show();
                } else {
                    jQuery('#upload_file_fieldset').hide();
                }
            },
            showSampleFile: function(entityId) {
                var sampleFileSpan = jQuery('#sample-file-span');
                if (entityId) {
                    var sampleFileLink = this.sampleFilesBaseUrl.replace('entity-name', entityId);
                    jQuery('#sample-file-link').attr('href', sampleFileLink);
                    if (sampleFileSpan.is(':hidden')) {
                        sampleFileSpan.show();
                    }
                } else {
                    sampleFileSpan.hide();
                }
            },
            showBehavior: function(entity) {
                var requiredBehavior = this.entityBehaviors[entity];
                for (i = 0; i < this.uniqueBehaviors.length; i++) {
                    var currentBehavior = this.uniqueBehaviors[i];
                    this.showBehaviorFieldset(currentBehavior, requiredBehavior == currentBehavior);
                }
            },
            handleEntityTypeSelector: function() {
                var entity = jQuery('#entity');
                if (entity && entity.val()) {
                    this.showUploadFile(true);
                    this.showSampleFile(entity.val());
                } else {
                    this.showUploadFile(false);
                    this.showSampleFile(false);
                }
            },
            postToFrame: function(newActionUrl) {
                if (!jQuery('[name="' + this.ifrElemName + '"]').length) {
                    jQuery('body').append('<iframe name="' + this.ifrElemName + '" id="' + this.ifrElemName
                        + '" style="display:none;"/>');
                }
                jQuery('body')
                    .loader({
                        icon: jQuery('#loading_mask_loader img').attr('src')
                    })
                    .loader('show');
                var form = jQuery('#edit_form')
                    .one('invalid-form.validate', function(e){jQuery('body').loader('hide')});
                newActionUrl = (newActionUrl ? newActionUrl : form.attr('action')) +
                    (form.attr('action').lastIndexOf('?') != -1 ? '&' : '?')+
                    'form_key=' + encodeURIComponent(form.find('[name="form_key"]').val());

                if(form.valid()) {
                    require([
                        'jquery'
                    ], function ($) {
                        var file_data = $('#import_file').prop('files')[0];
                        var form_data = new FormData();
                        form_data.append('file', file_data);
                        form_data.append('behavior', $('#behavior').val());
                        $.ajax({
                            type: 'POST',
                            showLoader: false,
                            url: urlBuilder.build(newActionUrl),
                            data: form_data,
                            processData: false,
                            contentType: false,
                        }).done(function (data) {
                                jQuery('body').loader('hide');
                                 location.reload();
                        }).error(function (e) {
                            jQuery('body').loader('hide');
                             location.reload();
                        });
                    });
                }

            },
            postToFrameComplete: function(response) {
                jQuery('body').loader('hide');
                jQuery('#' + this.ifrElemName).remove();
                this.postToFrameProcessResponse(response);
            },

        };
//]]>

        jQuery('Document').ready(function() {
            jQuery('#import_file').attr('accept','.csv')
        });

    });
</script>
