//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    body{
        .page-header {
            font-weight: @font-weight__bold;
            text-transform: uppercase;
            margin-bottom: 0;
            .logo{
                &.hide{
                    display: none;
                }
                img{
                    margin: 0 auto;
                }
            }
            .menu-label{
                display: block;
                margin-top: 5px;
                color: @sg-green;
                .lib-font-size(10);
            }
            .panel.wrapper {
                border-bottom: 0 none;
                a{
                    color: @white;
                }
                .top-block{
                    p, span{
                        font-family: @font-family__base;
                    }
                    &.first{
                        p, span{
                            .lib-icon-font(
                                @icon-phone,
                                @_icon-font-color: @white,
                                @_icon-font-color-hover: @white,
                                @_icon-font-margin: 0 5px 0 0,
                                @_icon-font-vertical-align: top
                            );
                        }
                    }
                    &.second{
                        p, span{
                            .lib-icon-font(
                                @icon-credit-card,
                                @_icon-font-size: 20px,
                                @_icon-font-line-height: 18px,
                                @_icon-font-color: @white,
                                @_icon-font-color-hover: @white,
                                @_icon-font-margin: 0 5px 0 0,
                                @_icon-font-vertical-align: top);
                        }
                    }
                    &.third{
                        p, span{
                            .lib-icon-font(
                                @icon-delivery,
                                @_icon-font-size: 24px,
                                @_icon-font-line-height: 20px,
                                @_icon-font-color: @white,
                                @_icon-font-color-hover: @white,
                                @_icon-font-margin: 0 5px 0 0,
                                @_icon-font-vertical-align: top);
                        }
                    }
                }
            }
            .header.content{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                .justify-content(center);
                position: initial;
                &::before,
                &::after{
                    display: none;
                }
                .block-search{
                    float: none;
                    padding: 0;
                    .field.search{
                        margin-top: 0;
                    }
                    input{
                        border: 0 none;
                        border-bottom: 1px solid @black;
                    }
                }
            }
            .header.panel{
               .lib-vendor-prefix-display(flex);
                .justify-content(space-between);
                &::before,
                &::after{
                    display: none;
                }
            }
        }
        .customer-care-phone{
            position: fixed;
            bottom: 50px;
            z-index: 1;
            background: @white;
            padding: 10px;
            border-radius: 0 50% 50% 0;
            width: 40px;
            height: 40px;
            left: 0;
            display: inline-block;
            .lib-font-size(30);
            line-height: initial;
            border: 2px solid @sg-green;
            box-shadow: 1px 0 0 3px #97d6d4;
            a{
                .lib-icon-font(
                    @icon-phone,
                    @_icon-font-size: @icon-font__size,
                    @_icon-font-color: @sg-green
                );
            }
            p{
                display: none;
            }
        }
        .page-wrapper{
            .block-static-block{
             margin-bottom: 0;
            }
        }
        #btn-cookie-allow{
            width: auto;
        }
        #notice-cookie-block{
            .content{
                max-width: @layout__max-width;
                strong{
                    display: block;
                }
            }
        }
        .message.global.cookie{
            background: rgba(221, 221, 221, 0.9);
        }
        .top-container{
            position: sticky;
            z-index: 2;
            top: 0;
        }
        .footer{
            .footer-accordion{
                .lib-vendor-prefix-display(flex);
            }
            .footer-wrapper{
                .footer-block{
                    color: @white;
                    .title{
                        .lib-font-size(16);
                        font-weight: @font-weight__bold;
                    }
                    ul{
                        &.social{
                            padding-right: 0;
                        }
                        li{
                            margin-bottom: 5px;
                            a{
                                .lib-font-size(14);
                                text-transform: uppercase;
                                &:hover{
                                    color: @sg-green;
                                }
                            }
                        }
                    }
                    a{
                        color: @white;
                    }
                    .block-footer-bg{
                        ul{
                            li{
                                display: inline-block;
                                a[class*="icon-"]{
                                    background: @copyright__background-color;
                                    padding: 10px;
                                    border-radius: 50%;
                                    opacity: 1;
                                }
                                span{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .breadcrumbs {
            margin: 10px 0 20px 0;
            padding: 0;
            display: block;
        }
        .page-wrapper{
            .page-bottom{
                background-color: @sg-green;
                color: @white;
                position: relative;
                width: 100%;
                max-width: 100%;
                z-index: 1;
                padding: 30px 16px;
                box-sizing: border-box;
                .content{
                    .lib-vendor-prefix-display(flex);
                    margin: 0 auto;
                    max-width: 1170px;
                    box-sizing: border-box;
                }
            }
        }
        .copyright-center {
            text-align: center;
            padding: 10px;
        }
        &.page-layout-landing{
            #maincontent{
                max-width: 100%;
                padding: 0;
                .image {
                    width: 100%;
                    height: 100vh;
                    background-size: cover;
                    opacity: 0.3;
                    position: absolute;
                    z-index: -1;
                    background-position: center;
                }
            }
            ul{
                li{
                    list-style: none;
                    .country {
                        font-family: 'Baskerville', serif;
                        .lib-font-size(16);
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        margin-bottom: 15px;
                        display: block;
                        padding: 0 15px;
                        &:hover{
                            color: @sg-green;
                        }
                        &::before{
                            content: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 23' width='20' height='23'%3E%3Ctitle%3Eshopper-svg-svg-svg%3C/title%3E%3Cstyle%3E .s0 %7B fill: %230abbb5 %7D %3C/style%3E%3Cpath id='Layer' fill-rule='evenodd' class='s0' d='m1.2 8q0.1-0.5 0.1-0.9 0 0 0-0.1c0-0.2 0-0.3 0-0.5 0.1-0.3 0.2-0.5 0.5-0.5q1.3 0 2.6 0 0.1 0 0.1 0 0.2-0.5 0.4-1.1c0.4-1.1 0.8-2.1 1.4-2.9 0.6-0.8 1.3-1.3 2.1-1.7 0.7-0.3 1.4-0.4 2.1-0.2 1.2 0.1 2.1 0.8 2.9 1.7 0.9 1.1 1.5 2.4 1.8 3.9q0.1 0.1 0.1 0.3 1.4 0 2.8 0c0.4 0 0.6 0.2 0.6 0.6q0 1 0.1 2 0.1 0.8 0.2 1.7 0.1 1.1 0.1 2.2 0.1 0.8 0.2 1.7 0.1 1.1 0.2 2.3 0 0.8 0.1 1.6 0.1 1.2 0.2 2.3 0.1 1.2 0.2 2.2 0 0.4-0.4 0.4-9.6 0-19.2 0c-0.3 0-0.4-0.2-0.4-0.4q0.1-0.5 0.1-0.8 0.1-1.1 0.2-2.2 0-0.3 0-0.6 0.1-1.1 0.2-2 0-0.8 0.1-1.7 0.1-1.1 0.2-2.3 0.1-0.8 0.1-1.6 0.2-1.3 0.2-2.5 0.1-0.4 0.1-0.9zm1.3-1.2q-0.2 0-0.4 0 0 0.8-0.1 1.5-0.1 1.1-0.2 2.3-0.1 0.8-0.1 1.6-0.2 1.1-0.2 2.3-0.1 0.8-0.2 1.7-0.1 1.1-0.2 2.3 0 1-0.1 1.9c-0.1 0.3-0.1 0.6-0.1 0.8q0 0.6 0 1 9.2 0 18.3 0 0-0.1 0-0.1-0.1-0.9-0.2-1.9-0.1-0.9-0.1-1.7-0.1-1.2-0.2-2.3-0.1-0.9-0.2-1.7 0-0.8-0.1-1.7-0.1-1-0.1-2 0-0.3-0.1-0.6-0.1-1-0.2-2 0-0.6-0.1-1.4-1.2 0-2.4 0c0 0.3 0.1 0.6 0.1 0.8q0.1 0.7 0.1 1.5c0 0 0 0.1 0.1 0.2 0.3 0.3 0.3 0.8 0.1 1-0.3 0.3-0.7 0.3-1 0.1-0.4-0.2-0.4-0.7-0.1-1.1 0.2-0.2 0.1-0.4 0.1-0.6q0 0 0-0.1-0.1-0.9-0.2-1.8c-3.2 0-6.4 0-9.5 0q-0.1 0.6-0.1 1.2-0.1 0.5-0.1 1c-0.1 0.1 0 0.1 0.1 0.2 0.3 0.3 0.4 0.7 0.2 1-0.2 0.4-0.6 0.4-1 0.2-0.4-0.1-0.4-0.6-0.2-1q0-0.1 0.1-0.2 0-0.5 0.1-1 0-0.7 0.1-1.4-0.9 0-1.9 0zm3.2-1.8q-0.2 0.5-0.4 1c3.2 0 6.2 0 9.2 0q0-0.1 0-0.1c-0.2-0.6-0.4-1.2-0.6-1.9-0.5-1.1-1.2-2.2-2.4-2.8q-1.4-0.8-2.9-0.1c-0.8 0.3-1.5 1-1.9 1.8-0.5 0.6-0.8 1.3-1 2.1zm-4.4 2q0 0 0 0.1c0-0.1 0-0.2 0-0.6q0 0.2 0 0.5z'/%3E%3C/svg%3E");
                            margin-right: 20px;
                        }
                    }
                }
            }
            .copyright-wrapper{
                display: none;
            }
            .content {
                max-width: 1000px;
                margin: 5% auto;
            }
            .logo {
                float: none;
                text-align: center;
                display: block;
                margin: 0 auto;
                width: 100%;
                padding: 20px;
                img{
                    margin: 0 auto;
                }
            }
            .breadcrumbs {
                display: none;
            }
        }
        &.page-layout-corporate-page{
            .columns{
                margin-bottom: 50px;
                .column.main{
                    .lib-vendor-prefix-order(2);
                }
                .sidebar-main{
                    .corporate-sidebar{
                        padding: 10px;
                        border-radius: 10px;
                        background-color: @gray-F6;
                        ul{
                            padding: 0;
                            li{
                                list-style: none;
                                padding: 5px 0;
                                &:not(:last-child){
                                    border-bottom: 1px solid @white;
                                }
                                a{
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                   .title{
                       .lib-font-size(20);
                       font-weight: @font-weight__bold;
                   }
                }
            }
        }
        #back_top{
            background-color: @white;
            border: 1px solid @sg-green;
            padding: 20px;
            position: fixed;
            .lib-icon-font(
                @icon-up,
                @_icon-font-color: @sg-green
            );
            bottom: 90px;
            right: 20px;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: initial;
            text-align: center;
            z-index: 1;
        }
        &.checkout-index-index{
            .prcr-timer.prcr_checkout_global_timer{
                float: right;
            }
            .button-header {
                margin-bottom: 50px;
            }
        }
        .button-back-to{
            .lib-button(
                @_button-font-size: 12px,
                @_button-padding: 7px 10px 3px,
                @_button-icon-use: true,
                @_button-font-content: @icon-prev,
                @_button-icon-font-size: 12px,
                @_button-icon-font-margin: 0 10px 0 0
            );
            text-transform: uppercase;
        }

    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    body{
        .search-container{
            .lib-layout-column(3, 2, @layout-column-main__width-3);
        }
        .customer-care-phone{
            display: none;
        }
        .logo-container{
            .lib-layout-column(3, 2, @layout-column-main__width-3);
            .logo{
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                text-align: center;
                z-index: 3;
                img{
                    margin: 0 auto;
                }
            }
        }
        .panel.wrapper {
            border-bottom: 0 none;
            .top-block{
                width: 33%;
                &.first{
                    text-align: left;
                }
                &.second{
                  text-align: center;
                }
                &.third{
                    text-align: right;
                }
            }

        }
        .noroute-wrapper {
            padding: 50px;
            .noroute-buttons-wrapper{
                .action.secondary{
                    width: 176px;
                    margin: 0 30px;
                }
            }
        }
        .store-settings-mobile {
            display: none !important;
        }
        .links-container {
            .lib-layout-column(3, 3, @layout-column-main__width-3);
            .justify-content(flex-end);
            .lib-vendor-box-align(center);
        }
        .page-wrapper{
            .action.nav-toggle{
                display: none;
            }
            .menu-label{
                display: none;
            }
            .page-bottom{
                background: url(../images/deco-newsletter.png) no-repeat 0 0 @sg-green;
            }
        }
        .minicart-wrapper{
            .action.showcart{
                margin-left: 15px;
            }
        }
        footer{
            &.page-footer{
            }
        }
        footer{
            &.page-footer {
                padding: 30px 0;
                .footer-logo{
                    margin-bottom: 30px;
                    display: block;
                    max-width: 80%;
                }
                .footer.content{
                    padding: 0 15px;
                }
            }
            .footer-content{
                padding: 0;
            }
            .footer-accordion{
                .footer-block{
                    width: 16%;
                    padding-right: 15px;
                    padding-left: 15px;
                    &.footer-block-1{
                        width: 25%;
                    }
                }
                .title{
                    pointer-events: none;
                    margin-bottom: 10px;
                }
                div[data-role='content']{
                    display: block !important;
                }
            }
        }
        &.page-layout-corporate-page{
            .columns{
                .lib-vendor-prefix-display(flex);
                .column.main{
                    .lib-vendor-prefix-flex-basis(75%);
                }
                .sidebar-main{
                    .lib-vendor-prefix-flex-basis(25%);
                }
            }
            .page-title {
                margin-bottom: 20px;
            }
        }
        &.page-layout-landing{
            ul{
                padding: 0;
                li{
                    list-style: none;
                    .country {
                        .lib-font-size(30);
                        &::before{
                            content: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 35' width='30' height='35'%3E%3Ctitle%3Eshopper-svg-svg%3C/title%3E%3Cstyle%3E .s0 %7B fill: %230abbb5 %7D %3C/style%3E%3Cpath id='Layer' fill-rule='evenodd' class='s0' d='m1.8 12.2q0.1-0.8 0.2-1.4 0 0 0-0.2c0-0.2 0-0.4 0-0.7 0.1-0.5 0.2-0.7 0.7-0.7q1.9 0 3.9 0 0.1 0 0.2 0 0.3-0.9 0.6-1.8c0.5-1.6 1.1-3.1 2.1-4.4 0.8-1.1 1.9-2 3.1-2.5 1.1-0.5 2.1-0.6 3.2-0.4 1.8 0.2 3.1 1.2 4.3 2.6 1.4 1.7 2.2 3.7 2.7 5.9q0.1 0.3 0.2 0.6 2.1 0 4.2 0c0.5 0 0.8 0.2 0.8 0.8q0.1 1.5 0.2 3.1 0.1 1.2 0.3 2.5 0.1 1.7 0.2 3.4 0.1 1.3 0.2 2.6 0.2 1.7 0.3 3.5 0.1 1.2 0.2 2.4 0.2 1.8 0.3 3.6 0.2 1.7 0.3 3.3c0 0.4-0.2 0.6-0.6 0.6q-14.4 0-28.8 0c-0.4 0-0.6-0.3-0.6-0.6q0.1-0.7 0.1-1.3 0.2-1.6 0.3-3.2 0.1-0.5 0.1-1 0.1-1.6 0.2-3.1 0.1-1.2 0.2-2.5 0.2-1.7 0.3-3.5 0.1-1.3 0.2-2.5 0.2-1.9 0.3-3.7 0.1-0.7 0.1-1.4zm0.2-1.6q0 0.1 0 0.2c0-0.1 0-0.3 0-0.9q0 0.3 0 0.7zm1.7-0.3q-0.3 0-0.5 0-0.1 1.2-0.2 2.3-0.2 1.7-0.3 3.5-0.1 1.2-0.2 2.5-0.2 1.7-0.3 3.5-0.1 1.2-0.2 2.5-0.2 1.8-0.3 3.5-0.1 1.5-0.2 3c-0.1 0.4-0.1 0.8-0.2 1.2q0 0.8 0 1.5 13.8 0 27.5 0 0-0.1 0-0.2-0.1-1.4-0.3-2.8-0.1-1.4-0.2-2.7-0.1-1.7-0.3-3.5-0.1-1.3-0.2-2.6-0.1-1.2-0.2-2.5-0.1-1.5-0.2-3.1 0-0.4-0.1-0.9-0.1-1.5-0.3-3 0-1-0.1-2.2-1.9 0-3.7 0c0.1 0.5 0.2 0.9 0.2 1.3q0.1 1.1 0.1 2.2c0.1 0.1 0.1 0.2 0.2 0.3 0.5 0.5 0.5 1.2 0.1 1.6-0.4 0.5-1 0.5-1.5 0.1-0.5-0.3-0.5-1.1-0.1-1.6 0.3-0.3 0.2-0.6 0.2-0.9q-0.1-0.1-0.1-0.2-0.1-1.4-0.2-2.7c-4.8 0-9.6 0-14.3 0q-0.1 0.9-0.2 1.8-0.1 0.7-0.1 1.5c-0.1 0.1 0 0.2 0.1 0.3 0.5 0.4 0.7 1 0.4 1.5-0.4 0.6-1 0.7-1.5 0.4-0.6-0.3-0.7-1-0.3-1.6q0-0.1 0.1-0.3 0-0.7 0.1-1.5 0.1-1.1 0.2-2.2-1.4 0-2.9 0zm4.8-2.7q-0.2 0.8-0.5 1.6c4.7 0 9.2 0 13.8 0q0-0.2 0-0.2c-0.4-1-0.6-1.9-1-2.9-0.7-1.7-1.8-3.3-3.5-4.3q-2.1-1.2-4.4-0.2c-1.2 0.6-2.2 1.6-2.9 2.8-0.7 0.9-1.1 2-1.5 3.2z'/%3E%3C/svg%3E");
                            margin-right: 20px;
                        }
                    }
                }
            }
            .content {
                .justify-content(space-around);
                .lib-vendor-prefix-display(flex);
                max-width: 1400px;
                margin: 5% auto;
            }
        }
    }
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body{
        header{
            margin-bottom: 0;
            .panel{
                &.header{
                    padding: 5px;
                    box-sizing: border-box;
                    .lib-vendor-prefix-flex-wrap(wrap);
                    .top-block{
                        &.first,
                        &.second{
                            display: none;
                        }
                        &.third {
                            text-align: center;
                            margin: 0 auto;
                        }
                        &.geoip{
                            flex: 1 1 100%;
                            .lib-vendor-prefix-display(flex);
                            .justify-content(center);
                            div#switcher-language{
                                margin-right: 10px;
                            }
                        }
                    }
                    .switcher{
                        display: block;
                    }
                }
            }
            .header{
                &.content{
                    padding: 15px;
                    background-color: @white;
                    &.fixed{
                        position: fixed;
                        z-index: 10;
                        top: 0;
                        width: 100%;
                        box-sizing: border-box;
                    }
                    .logo-container{
                        width: 50%;
                        .logo{
                            float: none;
                            margin: 0;
                            max-width: 250px;
                            &.hide{
                                display: none;
                            };
                        }
                    }
                    .search-container{
                        width: 25%;
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                    }
                    .links-container{
                        width: 25%;
                        .justify-content(flex-end)
                    }
                }
            }
        }
        .breadcrumbs {
            text-align: center;
        }
        .nav-sections{
            &::before,
            &::after{
                display: none;
            }
            .nav-sections-item-content{
                margin-top: 0;
                padding-top: 0;
            }
        }
        .page-wrapper {
            .page-bottom {
                margin-top: 40px;
                .block.newsletter {
                    margin-bottom: 0;
                    margin-top: 30px;
                }
                .content{
                    .lib-vendor-prefix-flex-wrap(wrap);
                }
            }
        }
        .page-footer{
            margin-top: 0;
            .footer{
                .footer-logo{
                    max-width: 250px;
                    display: block;
                    margin: 0 auto;
                }
                &.content{
                    background-color: @copyright__background-color;
                    .footer-accordion{
                        .lib-vendor-prefix-flex-wrap(wrap);
                        .footer-block{
                            width: 100%;
                            text-align: center;
                            .title{
                                width: 100%;
                                padding: 15px 10px;
                                box-sizing: border-box;
                                border-bottom: 1px solid @copyright__background-color;
                                &::after{
                                    position: absolute;
                                    right: 20px;
                                }
                                &[aria-expanded="false"]{
                                    .lib-icon-font(
                                        @icon-down,
                                        @_icon-font-size: 15px,
                                        @_icon-font-line-height: 16px,
                                        @_icon-font-color: @white,
                                        @_icon-font-position: after,
                                        @_icon-font-color-hover: @white
                                    );
                                }
                                &[aria-expanded="true"]{
                                    .lib-icon-font(
                                        @icon-up,
                                        @_icon-font-size: 15px,
                                        @_icon-font-line-height: 16px,
                                        @_icon-font-color: @white,
                                        @_icon-font-position: after,
                                        @_icon-font-color-hover: @white
                                    );
                                }
                            }
                            ul{
                                margin-top: 10px;
                            }
                            &.footer-block-1{
                                margin-bottom: 20px;
                            }
                            .block-footer-bg {
                                margin: 30px auto;
                                .title{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.page-layout-corporate-page{
            .columns{
                .column.main{

                }
                .sidebar-main{
                   margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

//
//  Large Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}
