<?php
// @codingStandardsIgnoreFile
$_helper = $this->helper('Sg\Module\Helper\Data');
$title = $this->getData('title');
$textarea = $this->getData('textarea');
$finalDate = $_helper->getDate($this->getData('final_date'))->format('d M Y H:i:s');
$background= $this->getData('background_image');
?>
<div class="countdown-container" data-mage-init='{
    "countdown":{
        "finalDate":"<?= $finalDate?>",
        "popupContainer": ".countdown-container"
    }}'>
    <div class="title"><?= $title ?></div>
    <div class="content"><?= $textarea ?></div>
    <div id="countdown">
        <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
        </ul>
    </div>
    <a class="logo-countdown" href="<?= $block->getUrl('')?>">
        <img src="<?php echo $_helper->getUrlMedia('wysiwyg/logo-1527027667.png')?>"/>
    </a>
</div>
<?php if($background):?>
    <style>
        .countdown_popup.modal-popup._inner-scroll .modal-inner-wrap {
            background-image: url('<?= $background?>');
        }
    </style>
<?php endif;?>
