<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magento\Framework\View\Element\Html\Links */
?>
<?php /** @var $block \Magento\Customer\Block\Account\Navigation */ ?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>
<div class="block account-nav">
    <div class="block-content">
        <nav class="account-nav">
            <ul class="nav items">
                <?php echo $block->getChildHtml();?>
            </ul>
        </nav>
        <div class="actions">
            <button class="action logout primary" onclick="location.href = '<?php echo $this->getUrl('customer/account/logout'); ?>';" title="<?php echo __('Log Out'); ?>" type="button">
                <span><?php echo __('Log Out'); ?></span>
            </button>
        </div>
    </div>
</div>
