<?php
/**
 * Policy Popup template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$helper = $block->getGdprHelper();
$policyInfo = $helper->getPolicyInformation();
$isGdprEnabled = $helper->isGdprEnabled();
$version  = '';
if (isset($policyInfo['version_number'])) {
    $version = $policyInfo['version_number'];
}
$isNew = $helper->isPolicyVerNew($version);
$displayPopup = $helper->isDisplayPrivacyPopup();
$policyAccepted = $helper->isPrivacyPolicyAccepted();
$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
    if (($customerDetails['name'] == 'Guest')) {
        $isGuest = true;
    } else {
        $isGuest = false;
    }
}
$logGuest = $helper->isLogGuestConsents();
$status = false;
?>
<?php if ($isGdprEnabled):?>
    <?php if (is_array($policyInfo) && $policyInfo != null):?>
        <?php if ($displayPopup):?>
            <?php if (!$policyAccepted):?>
                <div id="privacy-pop-up" style="display:none;">
                <h1>Privacy Policy</h1>
                <div id="modal-content-27" class="modal-content" data-role="content">
                    <?php if ($isNew): ?>
                        <div id="messages">
                            <div class="messages">
                                <div class="message message-success info">
                                    <div data-ui-id="messages-message-info">
                                        We would like to inform you that we have recently updated our Privacy Policy.
                                        Please, review our new Policy terms and Accept.
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif;?>
                    <div class="mtgdpr-privacy-policy" id="mtgdpr-privacy-popup" style="display: block;">
                        <?= /* @noEscape */ $policyInfo['policy_description']?>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit"
                                data-role="closeBtn"
                                class="action save primary"
                                id="accept-privacy-policy"
                                title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('I have read and accept')) ?>">
                            <span><?= /* @noEscape */ $block->escapeHtml(__('I have read and accept')) ?></span>
                        </button>
                    </div>
                </div>
            </div>
                <script>
                require(
                    [
                        'jquery',
                        'Magento_Ui/js/modal/modal'
                    ],
                    function (
                        $,
                        modal
                    ) {
                        var options = {
                            type: 'popup',
                            responsive: true,
                            innerScroll: true,
                            buttons: false
                        };

                        var popup = modal(options, $('#privacy-pop-up'));

                        $('#privacy-pop-up').modal("openModal");

                        $('#accept-privacy-policy').click(function (data) {
                            createCookie('privacy_popup', "1", 1)
                            <?php if ($isGuest): ?>
                                <?php if ($logGuest):?>
                                    <?php $status = true;?>
                                <?php endif;?>
                            <?php else:?>
                                <?php $status = true;?>
                            <?php endif;?>
                            <?php if ($status): ?>
                                jQuery.ajax({
                                url: "<?= /* @noEscape */ $block->getSubmitUrl();?>",
                                type: 'POST',
                                data : {
                                    'concents_log_id':null,
                                    'checkbox_location':'Policy Popup',
                                    'checkbox_code':'--',
                                    'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                    'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                    'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                    'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                    'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                    'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                    'policy_version': '<?= /* @noEscape */ $version?>',
                                    'action': 'Accepted'
                                }
                            });
                            <?php endif;?>
                        });
                        function createCookie(name, value, days) {
                            var expires;

                            if (days) {
                                var date = new Date();
                                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                                expires = "; expires=" + date.toGMTString();
                            } else {
                                expires = "";
                            }
                            document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
                        }
                    }
                );
            </script>
            <?php endif;?>
        <?php endif;?>
    <?php endif;?>
<?php endif; ?>
