@sg-green: #0abbb5;

& when (@media-common = true) {

    .countdown-container{
        display: none;
    }

    .countdown{
        .logo-countdown{
            margin-top: 20px;
            img {
                max-width: 100%;
                width: 50%;
            }
        }
    }
    .countdown_popup{
        &.modal-popup._inner-scroll{
            .modal-inner-wrap {
                width: 100%;
                height: 100vh;
                margin: 0;
                max-height: 100%;
                align-items: center;
                justify-content: center;
                background-size: cover;
                background-color: @color-white;
                .countdown-container{
                    display: none;
                    text-align: center;
                    &.show{
                        display: block;
                        margin-top: 100px;
                    }
                    .title{
                        .lib-font-size(40);
                        color: @sg-green;
                        font-weight: bold;
                    }
                    .content{
                        .lib-font-size(35);
                        color: @color-white;
                    }
                    #countdown {
                        margin: 0 auto;
                        text-align: center;
                        ul{
                            padding: 0;
                            li {
                                display: inline-block;
                                list-style-type: none;
                                padding: 10px;
                                text-transform: uppercase;
                                color: @sg-green;
                                span{
                                    display: block;
                                    font-weight: bold;
                                    .lib-font-size(45);
                                }
                            }
                        }
                        h3 {
                            font-size: 30px;
                            line-height: inherit;
                        }
                    }
                }
            }
        }
        .action-close{
            display: none;
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .countdown_popup {
        &.modal-popup._inner-scroll {
            .modal-inner-wrap {
                background-size: contain;
                background-repeat: no-repeat;
                background-color: @color-black;
                background-position: top;
                .countdown-container {
                    &.show {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
