<?php
/**
 * Cookie Classic bar template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$helper = $block->getGdprHelper();
$isGdprEnabled = $helper->isGdprEnabled();
$cookieStyleType = $helper->getCookieStyle();
$hideCookieBar = $helper->hideCookiebarNoDecision();
$cookiebarLocation = $helper->getCookieLocation();
$policyTextColor = $helper->getCookieClassicbarPolicyTextColor();
$linkColor = $helper->getCookieClassicbarLinkColor();
$acceptBtnName = $helper->getCookieClassicbarAcceptBtnName();
$acceptBtnColor = $helper->getCookieClassicbarAcceptBtnColor();
$acceptBtnHoverColor = $helper->getCookieClassicbarAcceptBtnColorOnHover();
$acceptBtnTxtColor = $helper->getCookieClassicbarAcceptBtnTextColor();
$acceptBtnTxtHoverColor = $helper->getCookieClassicbarAcceptBtnTextColorOnHover();
$isDeclineBtn = $helper->isCookieSClassicbarDeclineBtnEnabled();
$declineBtnName = $helper->getCookieClassicbarDeclineBtnName();
$declineBtnColor = $helper->getCookieClassicbarDeclineBtnColor();
$declineBtnHoverColor = $helper->getCookieClassicbarDeclineBtnColorOnHover();
$declineBtnTxtColor = $helper->getCookieClassicbarDeclineBtnTextColor();
$declineBtnTxtHoverColor = $helper->getCookieClassicbarDeclineBtnTextColorOnHover();
$customizeBtnName = $helper->getCookieClassicbarCustomizeBtnName();
$customizeBtnColor = $helper->getCookieClassicbarCustomizeBtnColor();
$customizeBtnHoverColor = $helper->getCookieClassicbarCustomizeBtnColorOnHover();
$customizeBtnTxtColor = $helper->getCookieClassicbarCustomizeBtnTextColor();
$customizeBtnTxtHoverColor = $helper->getCookieClassicbarCustomizeBtnTextColorOnHover();
$isAllowCookie = $helper->getIsAllowCookies();
$isAllCookiesAccepted = $helper->isAllCookiesAccepted();
$isHide = $helper->hideCookiebarNoDecision();
$cookieBarCookie = $helper->isCookieBarHide();
$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}
$cookieData = [];
$checkBoxes = [];
?>
<?php if ($isGdprEnabled):?>
    <?php if ($cookieStyleType == 2): ?>
        <?php
            $cookieHideClass = '';
        if ($isHide) {
            if ($cookieBarCookie) {
                $cookieHideClass = 'mt_container_hide';
            }
        }
        if ($isAllCookiesAccepted) {
            $cookieHideClass = 'mt_container_hide';
        }
        ?>
        <div id="classic-cookie-pop-up" class="<?= /* @noEscape */ $cookieHideClass ?>">
            <?php echo __('Please select and accept your Cookies Group')?>
            <?php $groups = $helper->getCookieGroups()?>
            <div class="mt_cookiegroup_classic_form_container">
            <?php if (sizeof($groups) && $groups!=null):?>
                <?php foreach ($groups as $group): ?>
                    <div class="mt_cookiegroup_classic_container">
                        <div class="mt_cookiegroup_classic_header">
                            <h3 class="mt_cookiegroup_classic_caption">
                                <span>
                                    <?= /* @noEscape */ $group['cookie_group_name']?>
                                </span>
                            </h3>
                            <div class="mt_cookiegroup_classic_toggle">
                                <input
                                    <?php $is_essential='';
                                    if ($group['is_essential']) { echo "disabled" ;
                                        $is_essential="is_essential";
                                    } else { echo "" ;
                                        $is_essential = '';
                                    }?>
                                        class="mt_checkbox"
                                        type="checkbox"
                                        name="<?= /* @noEscape */ $group['cookie_group_name']?>"
                                        id="<?= /* @noEscape */ trim($group['cookie_group_code'])?>" />
                                <?php $checkBoxes[] = trim($group['cookie_group_code'])?>
                                <label class="mt_cookiegroup_classic_toggle_slider  <?= /* @noEscape */ $is_essential?>" for="<?= /* @noEscape */ trim($group['cookie_group_code'])?>"></label>
                            </div>
                        </div>
                        <div class="mt_cookiegroup_classic_desc">
                            <p>
                                <?= /* @noEscape */ $group['description']?>
                            </p>
                        </div>
                        <div class="mt_cookiegroup_classic_more_info">
                            <span>
                                <a class="classic_cookie_info_link"
                                   id="<?= /* @noEscape */ $group['cookie_group_name']?>" >More information</a>
                                <?php $cookieData[$group['cookie_group_name']] = $helper->getCookieByCookieGroup($group['cookie_group_code'])?>
                            </span>
                        </div>
                    </div>
                <?php endforeach; ?>
                <div class="mt_cookiegroup_classic_done_container">
                    <div class="mt_cookiegroup_classic_done_primary">
                        <button
                                type="submit"
                                data-role="closeBtn"
                                class="action-primary"
                                id="mt_cookiegroup_classic_done"
                                title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('Done')) ?>">
                            <span><?= /* @noEscape */ $block->escapeHtml(__('Done')) ?></span>
                        </button>
                    </div>
                </div>
            <?php endif; ?>
        </div>
        </div>
    <?php endif; ?>
    <?php if (!$isAllCookiesAccepted):?>
        <?php if ($isAllowCookie): ?>
            <?php if ($cookieStyleType == 2): ?>
                <div class="mt_cookie_classic_main_container <?= /* @noEscape */ $cookieHideClass?>" id="mt-cookie-main-container">
                    <div class="mt_cookie_classic_before_container"></div>
                    <div class="mt_cookie_classic_container <?php if ($cookiebarLocation == 1) { echo 'cookie_footer';
                                                            } else { echo 'cookie_top';
                                                            }?>">
                       <div class="mt_cookie_classic_content">
                                <div class="mt_cookie_classic_content_details ">
                                    <p style="color: <?= /* @noEscape */ $policyTextColor?>">
                                        <?= /* @noEscape */ $helper->getCookieClassicbarNotificationText()?>
                                    </p>
                                </div>
                                <div class="mt_cookie_classic_actions">
                                    <button class="mt_classicbar_accept_cookie mt_classicbar_essential_cookie">
                                        <span class="mt_classicbar_accept" id="mt-classic-accept-cookie">
                                            <?= /* @noEscape */  ($acceptBtnName=='')? "Accept cookies" : $acceptBtnName;?>
                                        </span>
                                    </button>
                                    <?php if ($isDeclineBtn): ?>
                                        <button class="mt_classicbar_decline_cookie">
                                            <span class="mt_classicbar_decline" id="mt-classic-decline-cookie">
                                                <?= /* @noEscape */  ($declineBtnName=='')? "Decline cookies" : $declineBtnName;?>
                                            </span>
                                        </button>
                                    <?php endif; ?>
                                    <button class="mt_classicbar_customize_cookie">
                                        <span class="mt_classicbar_customize" id="mt-classic-customize-cookie">
                                            <?= /* @noEscape */  ($customizeBtnName=='')? "Customize cookies" : $customizeBtnName;?>
                                        </span>
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    <?php endif?>
    <?php if ($cookieStyleType == 2): ?>
        <script>
            require([
                'jquery',
                'Magento_Ui/js/modal/modal',
                'Magento_Ui/js/modal/alert',
                'domReady!'
            ], function ($, modal, alert) {

                $('#mt-classic-accept-cookie').click(function (data) {
                    $('.mt_cookie_classic_main_container').addClass('mt_classic_hide_cookie_container');
                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                        type: 'POST',
                        data : {
                            'userData': {
                                'concents_log_id':null,
                                'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                'status': 'All Allowed'
                            },
                            'all_accepted':true
                        }
                    });
                });

                $('#mt-classic-decline-cookie').click(function (data) {
                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                        type: 'POST',
                        data : {
                            'userData': {
                                'concents_log_id':null,
                                'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                'status': 'All Rejected'
                            }
                        }
                    });
                    $('.mt_cookie_classic_main_container').addClass('mt_classic_hide_cookie_container');
                });

                $('.mt_cookie_classic_before_container').click(function () {
                    $('#mt-cookie-main-container').addClass('mt_container_hide')
                    createCookie('mt_is_hide_cookiebar', "1", 1)
                });

                $('#mt_cookiegroup_classic_done').click(function (data) {
                    var checkboxes = <?= /* @noEscape */ json_encode($checkBoxes)?>;
                    var checkboxChecked = [];
                    $.each(checkboxes, function(index, value) {
                        id = '#'+value;
                        if ($(id).prop('disabled') ==  true){
                            checkboxChecked.push(value);
                        }
                        else if($(id).prop('checked') ==  true){
                            checkboxChecked.push(value);
                        }
                    });

                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                        type: 'POST',
                        data : {
                            'userData': {
                                'concents_log_id':null,
                                'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                'status': 'All Allowed'
                            },
                            'cookies_accepted': checkboxChecked,
                            'all_accepted':false
                        }
                    });
                    $('.mt_cookie_classic_main_container').addClass('mt_classic_hide_cookie_container');
                });

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    buttons: false
                };

                var popup = modal(options, $('#classic-cookie-pop-up'));
                $("body").on("click", ".mt_classicbar_customize_cookie", function (e) {
                    $('#classic-cookie-pop-up').modal("openModal");
                });

                var getCookieHtml = function (id) {
                    var cookieArrays = <?= /* @noEscape */ json_encode($cookieData)?>;
                    var cookieArray = cookieArrays[id];
                    var html = "<table>";
                    html += "<tr>";
                    html += "<th>Cookie Name</th>";
                    html += "<th>Cookie Provider</th>";
                    html += "<th>Cookie Description</th>";
                    html += "<th>Cookie Lifetime</th>";
                    html += "<th>Cookie Type</th>";
                    html += "</tr>";

                    cookieArray.forEach(function (item) {
                        html += "<tr>";
                        html += "<td>"+item['cookie_name']+"</td>";
                        html += "<td>"+item['cookie_provider']+"</td>";
                        html += "<td>"+item['description']+"</td>";
                        html += "<td>"+item['cookie_lifetime']+"</td>";
                        html += "<td>"+item['cookie_type']+"</td>";
                        html += "</tr>";
                    });
                    html += "</table>";
                    return html;
                };

                $('.classic_cookie_info_link').click(function () {
                    var id = $(this).attr('id');
                    var html = getCookieHtml(id);
                    alert({
                        title: id,
                        content: html,
                        autoOpen: true,
                        clickableOverlay: false,
                        focus: "",
                        actions: {
                            always: function(){

                            }
                        }
                    });
                })

                function createCookie(name, value, days) {
                    var expires;

                    if (days) {
                        var date = new Date();
                        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                        expires = "; expires=" + date.toGMTString();
                    } else {
                        expires = "";
                    }
                    document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
                }
            })
        </script>
        <style>
            .mt_cookiegroup_classic_toggle_slider.is_essential:before {
                transform: translateX(26px);
            }
            .mt_cookie_classic_content_details p a {
                color: <?= /* @noEscape */ $linkColor; ?>;
            }
            .mt_classicbar_accept_cookie {
                background-color: <?= /* @noEscape */ $acceptBtnColor?>;
            }
            .mt_classicbar_accept_cookie:hover {
                background-color: <?= /* @noEscape */ $acceptBtnHoverColor?>;
            }
            .mt_classicbar_essential_cookie {
                background: <?= /* @noEscape */ $acceptBtnColor?>;
            }
            .mt_classicbar_accept {
                color: <?= /* @noEscape */ $acceptBtnTxtColor?>;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                cursor: pointer;
            }
            .mt_classicbar_accept_cookie:hover .mt_classicbar_accept{
                color: <?= /* @noEscape */ $acceptBtnTxtColor?>;
            }
            .mt_classicbar_accept_cookie:focus{
                color: <?= /* @noEscape */ $acceptBtnTxtHoverColor; ?>;
                background-color: <?= /* @noEscape */ $acceptBtnColor?>;
                border: none;
            }
            .mt_classicbar_decline_cookie {
                background-color: <?= /* @noEscape */ $declineBtnColor?>;
            }
            .mt_classicbar_decline_cookie:hover {
                background-color: <?= /* @noEscape */ $declineBtnHoverColor?>;
            }
            .mt_classicbar_decline_cookie:focus {
                background-color: <?= /* @noEscape */ $declineBtnColor?>;
                border: none;
            }
            .mt_classicbar_decline {
                color: <?= /* @noEscape */ $declineBtnTxtColor?>;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
            .mt_classicbar_decline_cookie:hover .mt_classicbar_decline{
                color: <?= /* @noEscape */ $declineBtnTxtHoverColor; ?>;
            }
            .mt_classicbar_customize_cookie {
                background-color: <?= /* @noEscape */ $customizeBtnColor?>;
            }
            .mt_classicbar_customize_cookie:hover {
                background-color: <?= /* @noEscape */ $customizeBtnHoverColor?>;
            }
            .mt_classicbar_customize_cookie:focus {
                background-color: <?= /* @noEscape */ $customizeBtnColor?>;
                border: none;
            }
            .mt_classicbar_customize {
                color: <?= /* @noEscape */ $customizeBtnTxtColor; ?>;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
            .mt_classicbar_customize_cookie:hover .mt_classicbar_customize{
                color: <?= /* @noEscape */ $customizeBtnTxtHoverColor; ?>;
            }
        </style>
    <?php endif; ?>
<?php endif; ?>



