<?php
/**
 * Cookie Popup template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$helper = $block->getGdprHelper();
$isGdprEnabled = $helper->isGdprEnabled();
$cookieStyleType = $helper->getCookieStyle();
$hideCookieBar = $helper->hideCookiebarNoDecision();
$cookiebarLocation = $helper->getCookieLocation();
$policyTextColor = $helper->getCookiePopupPolicyTextColor();
$linkColor = $helper->getCookiePopupLinkColor();
$acceptBtnName = $helper->getCookiePopupAcceptBtnName();
$acceptBtnColor = $helper->getCookiePopupAcceptBtnColor();
$acceptBtnHoverColor = $helper->getCookiePopupAcceptBtnColorOnHover();
$acceptBtnTxtColor = $helper->getCookiePopupAcceptBtnTextColor();
$acceptBtnTxtHoverColor = $helper->getCookiePopupAcceptBtnTextColorOnHover();
$isDeclineBtn = $helper->isCookieSPopupDeclineBtnEnabled();
$declineBtnName = $helper->getCookiePopupDeclineBtnName();
$declineBtnColor = $helper->getCookiePopupDeclineBtnColor();
$declineBtnHoverColor = $helper->getCookiePopupDeclineBtnColorOnHover();
$declineBtnTxtColor = $helper->getCookiePopupDeclineBtnTextColor();
$declineBtnTxtHoverColor = $helper->getCookiePopupDeclineBtnTextColorOnHover();
$customizeBtnName = $helper->getCookiePopupCustomizeBtnName();
$customizeBtnColor = $helper->getCookiePopupCustomizeBtnColor();
$customizeBtnHoverColor = $helper->getCookiePopupCustomizeBtnColorOnHover();
$customizeBtnTxtColor = $helper->getCookiePopupCustomizeBtnTextColor();
$customizeBtnTxtHoverColor = $helper->getCookiePopupCustomizeBtnTextColorOnHover();
$isAllowCookie = $helper->getIsAllowCookies();
$isAllCookiesAccepted = $helper->isAllCookiesAccepted();
$isHide = $helper->hideCookiebarNoDecision();
$cookieBarCookie = $helper->isCookieBarHide();
$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}
$cookieData = [];
$checkBoxes = [];
?>
<?php if ($isGdprEnabled):?>
    <?php if ($cookieStyleType == 3): ?>
        <?php
            $cookieHideClass = '';
        if ($isHide) {
            if ($cookieBarCookie) {
                $cookieHideClass = 'mt_container_hide';
            }
        }
        if ($isAllCookiesAccepted) {
            $cookieHideClass = 'mt_container_hide';
        }
        ?>
        <div id="popup-cookie-pop-up" style="display:none;" class="<?= /* @noEscape */ $cookieHideClass ?>">
            <?php echo __('Please select and accept your Cookies Group')?>
            <?php $groups = $helper->getCookieGroups()?>
            <?php ksort($groups);?>
            <div class="mt_cookiegroup_popup_form_container <?= /* @noEscape */ $cookieHideClass ?>">
                <?php if (sizeof($groups) && $groups!=null):?>
                    <?php foreach ($groups as $group): ?>
                        <div class="mt_cookiegroup_popup_container">
                            <div class="mt_cookiegroup_popup_header">
                                <h3 class="mt_cookiegroup_popup_caption">
                                    <span>
                                        <?= /* @noEscape */ $group['cookie_group_name']?>
                                    </span>
                                </h3>
                                <div class="mt_cookiegroup_popup_toggle">
                                    <input class="mt_checkbox_popup"
                                        <?php $is_essential='';
                                        if ($group['is_essential']) { echo "disabled" ;
                                            $is_essential="is_essential";
                                        } else { echo "" ;
                                            $is_essential = '';
                                        }?>
                                            type="checkbox"
                                            name="<?= /* @noEscape */ $group['cookie_group_name']?>"
                                            id="<?= /* @noEscape */ trim($group['cookie_group_code'])?>" />
                                    <?php $checkBoxes[] = trim($group['cookie_group_code'])?>
                                    <label class="mt_cookiegroup_popup_toggle_slider  <?= /* @noEscape */ $is_essential?>" for="<?= /* @noEscape */ trim($group['cookie_group_code'])?>"></label>
                                </div>
                            </div>
                            <div class="mt_cookiegroup_popup_desc">
                                <p>
                                    <?= /* @noEscape */ $group['description']?>
                                </p>
                            </div>
                            <div class="mt_cookiegroup_popup_more_info">
                                <span>
                                    <a class="popup_cookie_info_link"
                                       id="<?= /* @noEscape */ $group['cookie_group_name']?>" ><?php echo __('More information')?></a>
                                    <?php $cookieData[$group['cookie_group_name']] = $helper->getCookieByCookieGroup($group['cookie_group_code'])?>
                                </span>
                            </div>
                        </div>
                    <?php endforeach; ?>
                    <div class="mt_cookiegroup_popup_done_container">
                        <div class="mt_cookiegroup_popup_done_primary">
                            <button
                                    type="submit"
                                    data-role="closeBtn"
                                    class="action-primary"
                                    id="mt_cookiegroup_popup_done"
                                    title="<?= /* @noEscape */ $block->escapeHtmlAttr(__('Donne')) ?>">
                                <span><?= /* @noEscape */ $block->escapeHtml(__('Donne')) ?></span>
                            </button>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
    <?php if (!$isAllCookiesAccepted):?>
        <?php if ($isAllowCookie): ?>
            <?php if ($cookieStyleType == 3): ?>
                <div class="mt_popup_cookie_main_container <?= /* @noEscape */ $cookieHideClass ?>" id="mt-cookie-main-container">
                    <div class="mt_cookie_popup_before_container"></div>
                    <div class="mt_popup_cookies_container">
                        <div class="mt_popup_cookie_content">
                            <div class="mt_popup_cookie_content_details">
                                <p style="color: <?= /* @noEscape */ $policyTextColor?>">
                                    <?= /* @noEscape */ $helper->getCookiePopupNotificationText()?>
                                </p>
                            </div>
                            <div class="mt_popup_cookie_actions">
                                <button class="popup_accept_cookie popup_essential_cookie" title="<?= /* @noEscape */  ($acceptBtnName=='')? __("Accept cookies") : __($acceptBtnName);?>">
                                    <span class="popup_accept" id="mt-popup-accept-cookie">
                                        <?= /* @noEscape */  __("Accept cookies")?>
                                    </span>
                                </button>
                                <?php if ($isDeclineBtn): ?>
                                    <button class="popup_decline_cookie" title="<?= /* @noEscape */  ($declineBtnName=='')? __("Decline cookies") : __($declineBtnName);?>">
                                        <span class="popup_decline" id="mt-popup-decline-cookie">
                                            <?= /* @noEscape */  __("Decline cookies")?>
                                        </span>
                                    </button>
                                <?php endif; ?>
                                <button class="popup_customize_cookie" title="<?= /* @noEscape */  ($customizeBtnName=='')? __("Customize cookies") : __($customizeBtnName);?>">
                                    <span class="popup_customize" id="mt-popup-customize-cookie">
                                        <?= /* @noEscape */  __("Customize cookies")?>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    <?php endif; ?>
    <?php if ($cookieStyleType == 3): ?>
        <script>
            require([
                'jquery',
                'Magento_Ui/js/modal/modal',
                'Magento_Ui/js/modal/alert',
                'domReady!'
            ], function ($, modal, alert) {

                $('#mt-popup-accept-cookie').click(function (data) {
                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                        type: 'POST',
                        data : {
                            'userData': {
                                'concents_log_id':null,
                                'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                'status': 'All Allowed'
                            },
                            'all_accepted':true
                        }
                    });

                    $('.mt_popup_cookie_main_container').addClass('mt_popup__hide_cookie_container');
                });

                $('#mt-popup-decline-cookie').click(function (data) {
                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                        type: 'POST',
                        data : {
                            'userData': {
                                'concents_log_id':null,
                                'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                'status': 'All Rejected'
                            },
                            'all_accepted':false
                        }
                    });
                    $('.mt_popup_cookie_main_container').addClass('mt_popup__hide_cookie_container');
                });

                $('.mt_cookie_popup_before_container').click(function () {
                    $('#mt-cookie-main-container').addClass('mt_container_hide')
                    createCookie('mt_is_hide_cookiebar', "1", 1)
                });

                // Cookie more information pop up

                $('#mt_cookiegroup_popup_done').click(function (data) {
                    var checkboxes = <?= /* @noEscape */ json_encode($checkBoxes)?>;
                    var checkboxChecked = [];
                    $.each(checkboxes, function(index, value) {
                        id = '#'+value;
                        if ($(id).prop('disabled') ==  true){
                            checkboxChecked.push(value);
                        }
                        else if($(id).prop('checked') ==  true){
                            checkboxChecked.push(value);
                        }
                    });
                    jQuery.ajax({
                        url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                        type: 'POST',
                        data : {
                            'userData': {
                                'concents_log_id':null,
                                'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                                'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                                'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                                'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                                'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                                'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                                'status': 'All Allowed'
                            },
                            'cookies_accepted': checkboxChecked,
                            'all_accepted':false
                        }
                    });
                    $('.mt_popup_cookie_main_container').addClass('mt_popup__hide_cookie_container');
                });

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    buttons: false
                };
                var popup = modal(options, $('#popup-cookie-pop-up'));
                $("body").on("click", ".popup_customize_cookie", function (e) {
                    $('#popup-cookie-pop-up').modal("openModal");
                });
                var getCookieHtml = function (id) {
                    var cookieArrays = <?= /* @noEscape */ json_encode($cookieData)?>;
                    console.log("cookie data")
                    console.log(cookieArrays)
                    var cookieArray = cookieArrays[id];
                    var html = "<table>";
                    html += "<tr>";
                    html += "<th>Cookie Name</th>";
                    html += "<th>Cookie Provider</th>";
                    html += "<th>Cookie Description</th>";
                    html += "<th>Cookie Lifetime</th>";
                    html += "<th>Cookie Type</th>";
                    html += "</tr>";

                    cookieArray.forEach(function (item) {
                        html += "<tr>";
                        html += "<td>"+item['cookie_name']+"</td>";
                        html += "<td>"+item['cookie_provider']+"</td>";
                        html += "<td>"+item['description']+"</td>";
                        html += "<td>"+item['cookie_lifetime']+"</td>";
                        html += "<td>"+item['cookie_type']+"</td>";
                        html += "</tr>";
                    });
                    html += "</table>";
                    return html;
                };
                $('.popup_cookie_info_link').click(function () {
                    var id = $(this).attr('id');
                    var html = getCookieHtml(id);
                    alert({
                        title: id,
                        content: html,
                        autoOpen: true,
                        clickableOverlay: false,
                        focus: "",
                        actions: {
                            always: function(){

                            }
                        }
                    });
                });

                function createCookie(name, value, days) {
                    var expires;

                    if (days) {
                        var date = new Date();
                        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                        expires = "; expires=" + date.toGMTString();
                    } else {
                        expires = "";
                    }
                    document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
                }
            })
        </script>

        <style>
            .mt_cookiegroup_popup_toggle_slider.is_essential:before {
                transform: translateX(26px);
            }
            .mt_popup_cookie_content_details p a {
                color: <?= /* @noEscape */ $linkColor; ?>;
            }
            .popup_accept_cookie {
                background-color: <?= /* @noEscape */ $acceptBtnColor?>;
            }
            .popup_accept_cookie:focus {
                background-color: <?= /* @noEscape */ $acceptBtnColor?>;
                border: none;
            }
            .popup_accept_cookie:hover {
                background-color: <?= /* @noEscape */ $acceptBtnHoverColor?>;
            }
            .popup_essential_cookie {
                background: <?= /* @noEscape */ $acceptBtnColor?>;
            }
            .popup_accept_cookie:hover .popup_accept{
                color: <?= /* @noEscape */ $acceptBtnTxtHoverColor; ?>;
            }
            .popup_accept {
                color: <?= /* @noEscape */ $acceptBtnTxtColor?>;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                cursor: pointer;
            }
            .popup_decline_cookie {
                background-color: <?= /* @noEscape */ $declineBtnColor?>;
            }
            .popup_decline_cookie:focus {
                background-color: <?= /* @noEscape */ $declineBtnColor?>;
                border: none;
            }
            .popup_decline_cookie:hover {
                background-color: <?= /* @noEscape */ $declineBtnHoverColor?>;
            }
            .popup_decline_cookie:hover .popup_decline {
                color: <?= /* @noEscape */ $declineBtnTxtHoverColor; ?>;
            }
            .popup_decline {
                color: <?= /* @noEscape */ $declineBtnTxtColor?>;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
            .popup_customize_cookie{
                background-color: <?= /* @noEscape */ $customizeBtnColor?>;
            }
            .popup_customize_cookie:focus {
                background-color: <?= /* @noEscape */ $customizeBtnColor?>;
                border: none;
            }
            .popup_customize_cookie:hover {
                background-color: <?= /* @noEscape */ $customizeBtnHoverColor?>;
            }
            .popup_customize {
                color: <?= /* @noEscape */ $customizeBtnTxtColor; ?>;
                font-size: 14px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
            .popup_customize_cookie:hover .popup_customize {
                color: <?= /* @noEscape */ $customizeBtnTxtHoverColor; ?>;
            }
        </style>
    <?php endif; ?>
<?php endif; ?>


