<?php
/**
 * Cookie Sidebar template
 *
 * @var $block \Meetanshi\GDPR\Block\PrivacySettings\PolicySettings
 */
?>
<?php
$helper = $block->getGdprHelper();
$isGdprEnabled = $helper->isGdprEnabled();
$cookieStyleType = $helper->getCookieStyle();
$hideCookieBar = $helper->hideCookiebarNoDecision();
$cookiebarLocation = $helper->getCookieLocation();
$policyTextColor = $helper->getCookieSidebarPolicyTextColor();
$linkColor = $helper->getCookieSidebarLinkColor();
$groupColor = $helper->getCookieSidebarGroupColor();
$groupDescColor = $helper->getCookieSidebarGroupDescColor();
$acceptBtnName = $helper->getCookieSidebarAcceptBtnName();
$acceptBtnColor = $helper->getCookieSidebarAcceptBtnColor();
$acceptBtnHoverColor = $helper->getCookieSidebarAcceptBtnColorOnHover();
$acceptBtnTxtColor = $helper->getCookieSidebarAcceptBtnTextColor();
$acceptBtnTxtHoverColor = $helper->getCookieSidebarAcceptBtnTextColorOnHover();
$isDeclineBtn = $helper->isCookieSidebarDeclineBtnEnabled();
$declineBtnName = $helper->getCookieSidebarDeclineBtnName();
$declineBtnColor = $helper->getCookieSidebarDeclineBtnColor();
$declineBtnHoverColor = $helper->getCookieSidebarDeclineBtnColorOnHover();
$declineBtnTxtColor = $helper->getCookieSidebarDeclineBtnTextColor();
$declineBtnTxtHoverColor = $helper->getCookieSidebarDeclineBtnTextColorOnHover();
$customizeBtnName = $helper->getCookieSidebarAllowAllBtnName();
$customizeBtnColor = $helper->getCookieSidebarAllowAllBtnColor();
$customizeBtnHoverColor = $helper->getCookieSidebarAllowAllBtnColorOnHover();
$customizeBtnTxtColor = $helper->getCookieSidebarAllowAllBtnTextColor();
$customizeBtnTxtHoverColor = $helper->getCookieSidebarAllowAllBtnTextColorOnHover();
$isAllowCookie = $helper->getIsAllowCookies();
$isAllCookiesAccepted = $helper->isAllCookiesAccepted();
$isHide = $helper->hideCookiebarNoDecision();
$cookieBarCookie = $helper->isCookieBarHide();
$customerDetails = [];
if (is_array($block->getCustomerDetails()) && $block->getCustomerDetails()!=null) {
    $customerDetails = $block->getCustomerDetails();
}
$checkBoxes = [];
$cookieData = [];
?>
<?php if ($isGdprEnabled):?>
    <?php if (!$isAllCookiesAccepted):?>
        <?php
            $cookieHideClass = '';
        if ($isHide) {
            if ($cookieBarCookie) {
                $cookieHideClass = 'mt_container_hide';
            }
        }
        if ($isAllCookiesAccepted) {
            $cookieHideClass = 'mt_container_hide';
        }
        ?>
        <?php if ($isAllowCookie): ?>
            <?php if ($cookieStyleType == 1): ?>
                <div class="mt_cookie_main_container <?= /* @noEscape */ $cookieHideClass ?>" id="mt-cookie-main-container">
                    <div class="mt_cookie_sidebar_before_container"></div>
                    <?php $groups = $helper->getCookieGroups()?>
                    <?php ksort($groups);?>
                    <div class="mt_cookiegroup_sidebar_form_container <?= /* @noEscape */ $cookieHideClass ?>">
                        <div class="mt_cookie_desc">
                            <?= /* @noEscape */ $helper->getCookieSidebarNotificationText() ?>
                        </div>
                        <?php if (sizeof($groups) && $groups!=null):?>
                            <?php foreach ($groups as $group): ?>
                                <div class="mt_cookiegroup_sidebar_container">
                                    <div class="mt_cookiegroup_sidebar_header">
                                        <h3 class="mt_cookiegroup_sidebar_caption">
                                            <span>
                                                <?= /* @noEscape */ $group['cookie_group_name']?>
                                            </span>
                                        </h3>
                                        <div class="mt_cookiegroup_sidebar_toggle">
                                            <input
                                                <?php $is_essential='';
                                                if ($group['is_essential']) { echo "disabled" ;
                                                    $is_essential="is_essential";
                                                } else { echo "" ;
                                                    $is_essential = '';
                                                }?>
                                                class="mt_checkbox"
                                                type="checkbox"
                                                name="<?= /* @noEscape */ $group['cookie_group_name']?>"
                                                id="<?= /* @noEscape */ trim($group['cookie_group_code'])?>" />
                                            <?php $checkBoxes[] = trim($group['cookie_group_code'])?>
                                            <label class="mt_cookiegroup_sidebar_toggle_slider <?= /* @noEscape */ $is_essential?>" for="<?= /* @noEscape */ trim($group['cookie_group_code'])?>"></label>
                                        </div>
                                    </div>
                                    <div class="mt_cookiegroup_sidebar_desc">
                                        <p>
                                            <?= /* @noEscape */ $group['description']?>
                                        </p>
                                    </div>
                                    <div class="mt_cookiegroup_sidebar_more_info">
                                        <span>
                                            <a class="sidebar_cookie_info_link" id="<?= /* @noEscape */ $group['cookie_group_name']?>">More information</a>
                                            <?php $cookieData[$group['cookie_group_name']] = $helper->getCookieByCookieGroup($group['cookie_group_code'])?>
                                        </span>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                            <div class="mt_cookiegroup_sidebar_done_container">
                                <div class="mt_cookie_actions_sidebar">
                                    <button class="sb_accept_cookie essential_cookie" title="<?= /* @noEscape */  ($acceptBtnName=='')? __("Accept cookies") : __($acceptBtnName);?>">
                                        <span class="sb_accept" id="mt-sidebar-accept-cookie">
                                            <?= /* @noEscape */  __("Accept cookies")?>
                                        </span>
                                    </button>
                                    <?php if ($helper->isCookieSidebarDeclineBtnEnabled()): ?>
                                        <button class="sb_decline_cookie" title="<?= /* @noEscape */  ($declineBtnName=='')? __("Decline cookies") : __($declineBtnName);?>">
                                            <span class="sb_decline" id="mt-sidebar-decline-cookie">
                                                <?= /* @noEscape */  __("Decline cookies")?>
                                            </span>
                                        </button>
                                    <?php endif; ?>
                                    <button class="sb_customize_cookie">
                                        <span class="sb_customize" id="mt-sidebar-customize-cookie" title="<?= /* @noEscape */  ($customizeBtnName=='')? __("Allow all cookies") : __($customizeBtnName);?>">
                                            <?= /* @noEscape */  ($customizeBtnName=='')? __("Allow all cookies") : __($customizeBtnName);?>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    <?php endif?>
    <script>
        require([
            'jquery',
            'Magento_Ui/js/modal/modal',
            'Magento_Ui/js/modal/alert',
            'domReady!'
        ], function ($, modal, alert) {

            $('#mt-sidebar-customize-cookie').click(function (data) {
                jQuery.ajax({
                    url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                    type: 'POST',
                    data : {
                        'userData': {
                            'concents_log_id':null,
                            'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                            'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                            'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                            'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                            'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                            'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                            'status': 'All Allowed'
                        },
                        'all_accepted':true
                    }
                });
                $('.mt_cookie_main_container').addClass('mt_sidebar_hide_cookie_container');
            });

            $('.mt_cookie_sidebar_before_container').click(function () {
                $('#mt-cookie-main-container').addClass('mt_container_hide')
                createCookie('mt_is_hide_cookiebar', "1", 1)
            });

            $('#mt-sidebar-accept-cookie').click(function (data) {
                var checkboxes = <?= /* @noEscape */ json_encode($checkBoxes)?>;
                var checkboxChecked = [];
                $.each(checkboxes, function(index, value) {
                    id = '#'+value;
                    if ($(id).attr('disabled')){
                        checkboxChecked.push(value);
                    }
                    else if($(id).attr('checked')){
                        checkboxChecked.push(value);
                    }
                });
                jQuery.ajax({
                    url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                    type: 'POST',
                    data : {
                        'userData': {
                            'concents_log_id':null,
                            'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                            'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                            'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                            'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                            'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                            'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                            'status': 'All Allowed'
                        },
                        'cookies_accepted': checkboxChecked,
                        'all_accepted':false
                    }
                });
                $('.mt_cookie_main_container').addClass('mt_sidebar_hide_cookie_container');
            });

            $('#mt-sidebar-decline-cookie').click(function (data) {
                jQuery.ajax({
                    url: "<?= /* @noEscape */ $block->getCookieConsentUrl()?>",
                    type: 'POST',
                    data : {
                        'userData': {
                            'concents_log_id':null,
                            'customer_name': '<?= /* @noEscape */ $customerDetails['name']?>',
                            'customer_id': '<?= /* @noEscape */ $customerDetails['id']?>',
                            'email': '<?= /* @noEscape */ $customerDetails['email']?>',
                            'website_id': '<?= /* @noEscape */ $customerDetails['website_id']?>',
                            'remote_ip': '<?= /* @noEscape */ $customerDetails['ip_address']?>',
                            'login_date': '<?= /* @noEscape */ $customerDetails['logged_in_date']?>',
                            'status': 'All Rejected'
                        }
                    }
                });
                $('.mt_cookie_main_container').addClass('mt_sidebar_hide_cookie_container');
            });

            // Cookie more information pop up
            var getCookieHtml = function (id) {
                var cookieArrays = <?= /* @noEscape */ json_encode($cookieData)?>;
                var cookieArray = cookieArrays[id];
                var html = "<table>";
                html += "<tr>";
                html += "<th>Cookie Name</th>";
                html += "<th>Cookie Provider</th>";
                html += "<th>Cookie Description</th>";
                html += "<th>Cookie Lifetime</th>";
                html += "<th>Cookie Type</th>";
                html += "</tr>";

                cookieArray.forEach(function (item) {
                    html += "<tr>";
                    html += "<td>"+item['cookie_name']+"</td>";
                    html += "<td>"+item['cookie_provider']+"</td>";
                    html += "<td>"+item['description']+"</td>";
                    html += "<td>"+item['cookie_lifetime']+"</td>";
                    html += "<td>"+item['cookie_type']+"</td>";
                    html += "</tr>";
                });
                html += "</table>";
                return html;
            };
            $('.sidebar_cookie_info_link').click(function () {
                var id = $(this).attr('id');

                var html = getCookieHtml(id);
                alert({
                    title: id,
                    content: html,
                    autoOpen: true,
                    clickableOverlay: false,
                    focus: "",
                    actions: {
                        always: function(){

                        }
                    }
                });
            })

            function createCookie(name, value, days) {
                var expires;

                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toGMTString();
                } else {
                    expires = "";
                }
                document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
            }
        })
    </script>
    <style>
        .mt_cookiegroup_sidebar_toggle_slider.is_essential:before {
            transform: translateX(26px);
        }
        .mt_cookie_desc {
            text-align: justify;
        }
        .mt_cookiegroup_sidebar_caption {
            margin: 0 0 15px 0;
            line-height: 30px;
            font-weight: 900;
            font-size: 20px;
            color: <?= /* @noEscape */ $groupColor?>;
        }
        .mt_cookiegroup_sidebar_desc {
            text-align: justify;
            font-size: 14px;
            line-height: 25px;
            color: <?= /* @noEscape */ $groupDescColor?>;
        }
        .mt_cookiegroup_sidebar_toggle {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .mt_cookiegroup_sidebar_more_info span a{
            text-decoration: none;
            color: <?= /* @noEscape */ $linkColor; ?>;
        }
        .mt_cookiegroup_sidebar_more_info:hover {
            cursor: pointer;
            color: <?= /* @noEscape */ $linkColor; ?>;
        }
        .sb_accept_cookie {
            background-color: <?= /* @noEscape */ $acceptBtnColor?>;
        }
        .sb_accept_cookie:focus {
            background-color: <?= /* @noEscape */ $acceptBtnColor?>;
            border: none;
        }
        .sb_accept_cookie:hover {
            background-color: <?= /* @noEscape */ $acceptBtnHoverColor?>;
        }
        .essential_cookie {
            background: <?= /* @noEscape */ $acceptBtnColor?>;
        }
        .sb_accept {
            color: <?= /* @noEscape */ $acceptBtnTxtColor?>;
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
        }
        .sb_accept_cookie:hover .sb_accept{
            color: <?= /* @noEscape */ $acceptBtnTxtHoverColor; ?>;
        }
        .sb_decline_cookie {
            background-color: <?= /* @noEscape */ $declineBtnColor?>;
        }
        .sb_decline_cookie:focus {
            background-color: <?= /* @noEscape */ $declineBtnColor?>;
            border: none;
        }
        .sb_decline_cookie:hover {
            background-color: <?= /* @noEscape */ $declineBtnHoverColor?>;
        }
        .sb_decline {
            color: <?= /* @noEscape */ $declineBtnTxtColor?>;
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }
        .sb_decline_cookie:hover .sb_decline {
            color: <?= /* @noEscape */ $declineBtnTxtHoverColor; ?>;
        }
        .sb_customize_cookie {
            background-color: <?= /* @noEscape */ $customizeBtnColor?>;
        }
        .sb_customize_cookie:focus {
            background-color: <?= /* @noEscape */ $customizeBtnColor?>;
            border: none;
        }
        .sb_customize_cookie:hover {
            background-color: <?= /* @noEscape */ $customizeBtnHoverColor?>;
        }
        .sb_customize {
            color: <?= /* @noEscape */ $customizeBtnTxtColor; ?>;
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }
        .sb_customize_cookie:hover .sb_customize {
            color: <?= /* @noEscape */ $customizeBtnTxtHoverColor; ?>;
        }
    </style>
<?php endif; ?>



