//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body{
        .text-newsletter{
            p{
                .lib-icon-font(@icon-envelope,
                    @_icon-font-color: @white,
                    @_icon-font-color-active: @white,
                    @_icon-font-color-hover: @white,
                    @_icon-font-margin: 0 5px 0 0,
                    @_icon-font-vertical-align: top);
            }
        }
        .block.newsletter,
        .text-newsletter{
            .title{
                display: block;
                padding: 0;
                background: none;
                text-align: left;
                .lib-font-size(20);
                margin: 0;
                font-weight: @font-weight__bold;
            }
            ul{
                padding: 0;
                li{
                    list-style: none;
                    margin-bottom: 10px;
                    .lib-icon-font(
                        @icon-phone,
                        @_icon-font-color: @white,
                        @_icon-font-color-hover: @white,
                        @_icon-font-color-active: @white,
                        @_icon-font-margin: 0 5px 0 0,
                        @_icon-font-vertical-align: top);
                    a{
                        color: @white;
                        border-bottom: 1px dashed;
                    }
                }
            }
            p{
                margin: 0 0 10px;
                a{
                    color: @white;
                    border-bottom: 1px dashed;
                }
            }
            input#newsletter{
                .lib-form-element-input(
                    @_type: input-text,
                    @_background: @sg-green-input,
                    @_border: 0 none,
                    @_height: 50px,
                    @_color: @white,
                    @_margin: 0,
                    @_padding: 0 0 0 20px,
                    @_focus-background: @sg-green-input,
                    @_placeholder-color: @white
                );
            }
        }
        .block.newsletter{
            .form.subscribe{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                .field{
                    &.newsletter{
                        float: none;
                        flex: 1 1 70%;
                        max-width: 100%;
                    }
                    .control{
                        &::before{
                            display: none;
                        }
                    }
                }
                .actions{
                    flex: 2 1 30%;
                }
                .privacyPolicy-wrap{
                    flex: 1 1 100%;
                    span {
                        width: 90%;
                        .lib-font-size(12);
                    }
                }
                button.action.subscribe.primary{
                    .lib-button-secondary-inverse();
                    height: 50px;
                    width: auto;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    body{
        .page-bottom{
            .text-newsletter {
                .lib-layout-column(3, 1, @layout-column-main__width-3);
            }
            .block.newsletter{
                .lib-layout-column(2, 2, @layout-column-main__width-2-left);
                max-width: 100%;
            }
        }
    }
}
