<?php
/** @var $block \Magenest\MigrationTool\Block\Adminhtml\Migration\Steps\DatabaseConnection */
?>

<div data-bind="scope: '<?= $block->escapeHtml($block->getComponentName()) ?>'">
    <h2 class="steps-wizard-title">
        <?= $block->escapeHtml(__(
            'Step %1: Magento %2 Database Connection',
            $block->getData('config/step'),
            str_replace('magento', '', $block->getData('config/version'))
        )) ?>
    </h2>
    <div class="steps-wizard-info"><?= $block->escapeHtml(__('Check Magento Database Connection')) ?></div>
    <div class="steps-wizard-section">
        <?= $block->getChildHtml() ?>
    </div>
    <div data-role="spinner" data-component="<?= $block->escapeHtml($block->getComponentName()) ?>"
         class="admin__data-grid-loading-mask">
        <span class="spinner">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </span>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "<?= $block->getComponentName() ?>": {
                        "component": "Magenest_MigrationTool/js/migration/steps/database-connection",
                        "check_url": "<?= $block->getCheckUrl() ?>",
                        "formName": "<?= $block->getData('config/formName')?>",
                        "version": "<?= $block->getData('config/version')?>",
                        "step": "<?= $block->getData('config/step')?>"
                    }
                }
            }
        }
    }
</script>