<?php
/** @var $block \Magenest\MigrationTool\Block\Adminhtml\Migration\Steps\Magento1Version */
?>

<div data-bind="scope: '<?= $block->escapeHtml($block->getComponentName()) ?>'">
    <h2 class="steps-wizard-title">
        <?= $block->escapeHtml(__(
            'Step %1: Magento 1 Version Select',
            $block->getData('config/step')
        ))
?>
    </h2>
    <div class="steps-wizard-info"><?= $block->escapeHtml(__('Magento 1 Version')) ?></div>
    <div class="steps-wizard-section">
        <?= $block->getChildHtml() ?>
    </div>
    <div data-role="spinner" data-component="<?= $block->escapeHtml($block->getComponentName()) ?>"
         class="admin__data-grid-loading-mask">
        <span class="spinner">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </span>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "<?= $block->getComponentName() ?>": {
                        "component": "Magenest_MigrationTool/js/migration/steps/magento1-version",
                        "save_url": "<?= $block->getSaveUrl() ?>",
                        "formName": "<?= $block->getData('config/formName') ?>"
                    }
                }
            }
        }
    }
</script>
