<?php
/** @var $block \Magenest\MigrationTool\Block\Adminhtml\Migration\Steps\ReadinessCheck */
?>

<div data-bind="scope: '<?= $block->escapeHtml($block->getComponentName()) ?>'">
    <div data-role="spinner" data-component="<?= $block->escapeHtml($block->getComponentName()) ?>"
         class="admin__data-grid-loading-mask">
        <span class="spinner">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </span>
    </div>
    <h2 class="steps-wizard-title"><?= $block->escapeHtml(__('Step %1: Readiness Check',$block->escapeHtml($block->getData('config/step')))) ?></h2>
    <div class="steps-wizard-info"><?= $block->escapeHtml(__('Let\'s check your environments for the correct Magento Data Migration tool version, cron job and compatibility.')) ?></div>
    <div class="steps-wizard-section">
        <div class="readiness-check-item-list"></div>
        <button style="margin-top: 10px" class="action primary"
                data-bind="click: startReadinessCheck"><?= $block->escapeHtml(__('Start Readiness Check')) ?></button>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "<?= $block->getComponentName() ?>": {
                        "component": "Magenest_MigrationTool/js/migration/steps/readiness-check",
                        "is_ready": <?= $block->isReady() ? 'true' : 'false' ?>,
                        "save_url": "<?= $block->getSaveUrl() ?>"
                    }
                }
            }
        }
    }
</script>
<script>
    require(
        ['jquery', 'uiRegistry', 'underscore', 'Magento_Ui/js/lib/spinner', 'prototype'],
        function ($, registry, _, spinner) {
            registry.async([<?= $block->getAllComponentsNames()?>])(function (wizard) {
                let steps = _.rest(arguments);
                _.each(steps, function (stepComponent) {
                    // register steps
                    wizard.initElement(stepComponent);
                });
                wizard.open();
                spinner.get('<?= $block->escapeHtml($block->getComponentName()) ?>').hide();
            });
        });
</script>
