<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="row"
    click="element.selectShippingMethod">
    <td class="col col-method">
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.isSelected" />
    </td>
    <!-- ko ifnot: (method.error_message) -->
    <td class="col col-price">
        <each args="element.getRegion('price')" render="" />
    </td>
    <!-- /ko -->

    <td class="col col-carrier"
        attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code"
        text="method.carrier_title" />
    <!--<td class="col col-method"
        attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
        text="method.method_title" />-->

    <!-- ko if: method.method_title -->
    <td class="col">
        <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-help"
                      data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                </span>
            <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true"  data-bind="html: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}">
            </div>
        </div>
    </td>
    <!-- /ko -->

</tr>
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="4">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
            <input type="radio"
                   attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
        </span>
    </td>
</tr>
