<?php
/** @var \Blackbird\ContentManager\Block\Content\Widget\ContentList $block */
// Collection
$collection = $block->getCollection();

// Helper
$_helper = $this->helper('Sg\Module\Helper\Data');
$rndId = $_helper->getRandomString(10);
$layout = $block->getData('layout_container');
$sliderOnMobile = $block->getData('slider_on_mobile');
?>
<?php if ($collection->getSize()): ?>
    <div class="category-blocks <?php echo $layout;?>">
           <?php if ($block->getTitle()):?><h2 class="block-title"><?php echo $block->getTitle()?></h2><?php endif;?>
           <?php if ($block->getSubtitle()):?><h3 class="subtitle"><?php echo $block->getSubtitle()?></h3><?php endif;?>
                    <div class="blocks block-<?php echo $rndId ?>">
                    <?php foreach ($collection as $content) { ?>
                        <?php
                        $_titleTag = $content->getSbTag();
                        //CTA
                        $ctaText = $content->getData('sb_cta_text');
                        $cta = $_helper->getContentUrl($content->getData('sb_cta_type'),$content->getData('sb_cta_custom'), $content->getData('sb_cta_category'), $content->getData('sb_cta_product'));
                        $ctaClass = $content->getData('sb_cta_style');
                        $ctaPosition = $content->getData('sb_cta_position');
                        $rndId = $_helper->getRandomString(10);
                        ?>
                            <div class="category-content">
                                <?php if($content->getSbImage()):?>
                                    <div class="category-image">
                                        <a <?php if($cta):?>href="<?php echo $cta; ?>"<?php endif;?>>
                                            <img src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbImage()?>"/>
                                        </a>
                                    </div>
                                <?php endif;?>
                                <?php if ($content->getSbTitle() || $ctaText):?>
                                    <div class="category-text  <?php echo $content->getSbTextPosition();?>">
                                        <a  <?php if($cta):?>href="<?php echo $cta; ?>"<?php endif;?>>
                                            <?php if ($content->getSbTitle()):?>
                                            <<?= $_titleTag; ?> class="category-title"><?php echo $content->getSbTitle();?> </<?= $_titleTag; ?>>
                                        <?php endif;?>
                                        <?php if ($content->getSbSubtitle()):?>
                                            <h3 class="category-subtitle"><?php echo $content->getSbSubtitle();?></h3>
                                        <?php endif;?>
                                        <?php if ($content->getSbDescription()):?>
                                            <?= $content->render('sb_description')?>
                                        <?php endif;?>
                                        </a>
                                    </div>
                                    <?php if ($ctaText):?>
                                        <div class="action-container main-slider-actions">
                                            <a href="<?php echo $cta; ?>" title="<?php echo $ctaText; ?>"
                                               class="action <?php echo $ctaClass; ?> <?php echo $ctaPosition; ?>"
                                               id="cta1<?php echo $rndId; ?>"><?php echo $ctaText; ?></a>
                                        </div>
                                    <?php endif;?>
                                <?php endif;?>
                            </div>
                    <?php }?>
           </div>
    </div>
<?php else: ?>
    <div class="message info empty">
        <div><?= __('Widget not found. Please check settings.') ?></div>
    </div>
<?php endif; ?>
