<?php
/** @var \Blackbird\ContentManager\Block\Content\Widget\ContentList $block */
// Collection
$collection = $block->getCollection();

// Helper
$_helper = $this->helper('Sg\Module\Helper\Data');
$rndId = $_helper->getRandomString(10);
$layout = $block->getData('layout_container');
$layoutMobile = $block->getData('layout_container_mobile');
?>
<?php if ($collection->getSize()): ?>
    <div class="content-blocks">
       <?php if ($block->getTitle()):?><h2 class="block-title"><?php echo $block->getTitle()?></h2><?php endif;?>
           <?php if ($block->getSubtitle()):?><h3 class="subtitle"><?php echo $block->getSubtitle()?></h3><?php endif;?>
               <div class="blocks block-<?php echo $rndId ?> <?= $layout;?> <?= $layoutMobile ?>">
                <?php foreach ($collection as $content) { ?>
                    <?php
                    $_titleTag = $content->getSbTag();
                    //CTA
                    $ctaText = $content->getData('sb_cta_text');
                    $cta = $_helper->getContentUrl($content->getData('sb_cta_type'),$content->getData('sb_cta_custom'), $content->getData('sb_cta_category'), $content->getData('sb_cta_product'));
                    $ctaClass = $content->getData('sb_cta_style');
                    $ctaPosition = $content->getData('sb_cta_position');
                    // Content
                    $rndId = $_helper->getRandomString(10);
                    $bg = $content->getData('sb_bg');
                    $row = $content->getData('sb_row');
                    $column = $content->getData('sb_column');
                    $rowMobile = $content->getData('sb_row_mobile');
                    $columnMobile = $content->getData('sb_column_mobile');
                    $color = $content->getSbTextColor();
                    $overlay =  $content->getData('sb_overlay') === 'true' ? 'overlay' : '';
                    ?>
                    <div class="content <?= $overlay ?> grid-item-<?= 'row-'. $row ?> grid-item-<?= 'column-'. $column ?> grid-item-<?= 'row-mobile-'. $rowMobile ?> grid-item-<?= 'column-mobile-'. $columnMobile ?>"
                         style="<?php if($bg): echo 'background-color:'. $bg ;endif; if($color): echo ';color:'. $color .' "';endif;?> ">
                        <?php if($content->getSbImage()):?>
                            <div class="image">
                                <a <?php if($cta):?>href="<?php echo $cta; ?>"<?php endif;?>>
                                    <?php if($content->getSbImageMobile()):?>
                                        <img class="img-desktop" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbImage()?>"/>
                                        <img class="img-mobile" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbImageMobile()?>"/>
                                    <?php else:?>
                                        <img src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbImage()?>"/>
                                    <?php endif;?>
                                </a>
                            </div>
                        <?php endif;?>
                        <?php if ($content->getSbTitle() || $ctaText || $content->getSbDescription()):?>
                            <div class="text  <?php echo $content->getSbTextPosition();?>">
                                <a  <?php if($cta):?>href="<?php echo $cta; ?>"<?php endif;?>>
                                    <?php if ($content->getSbTitle()):?>
                                    <<?= $_titleTag; ?> class="category-title"><?php echo $content->getSbTitle();?> </<?= $_titleTag; ?>>
                                <?php endif;?>
                                <?php if ($content->getSbSubtitle()):?>
                                    <h3 class="category-subtitle"><?php echo $content->getSbSubtitle();?></h3>
                                <?php endif;?>
                                <?php if ($content->getSbDescription()):?>
                                    <?= $content->render('sb_description')?>
                                <?php endif;?>
                                </a>
                            </div>
                            <?php if ($ctaText):?>
                                <div class="action-container main-slider-actions">
                                    <a href="<?php echo $cta; ?>" title="<?php echo $ctaText; ?>"
                                       class="action <?php echo $ctaClass; ?> <?php echo $ctaPosition; ?>"
                                       id="cta1<?php echo $rndId; ?>"><?php echo $ctaText; ?></a>
                                </div>
                            <?php endif;?>
                        <?php endif;?>
                    </div>
                <?php }?>
           </div>
    </div>
<?php else: ?>
    <div class="message info empty">
        <div><?= __('Widget not found. Please check settings.') ?></div>
    </div>
<?php endif; ?>
