<?php
/** @var \Blackbird\ContentManager\Block\Content\Widget\ContentList $block */
// Collection
$collection = $block->getCollection();
use Magento\Framework\App\Action\Action;
const PARAM_NAME_BASE64_URL = 'r64';
const PARAM_NAME_URL_ENCODED = 'uenc';
// Helper
$_helper = $this->helper('Sg\Module\Helper\Data');
$_helperCatalog = $this->helper('Magento\Catalog\Helper\Output');
$imageHelper = $this->helper('Magento\Catalog\Helper\Image');
$rndId = $_helper->getRandomString(10);
$autoplaySlider = $this->getData('slider_autoplay') === 1 ? "true" : "false";
$resetMarginTop = $block->getResetMarginTop();
$resetMarginBottom = $block->getResetMarginBottom();
$backgroundContainer = $block->getBackgroundProducts();
$numberProducts = $block->getNumberProducts() ? $block->getNumberProducts() : 4 ;
?>
<?php if ($collection->getSize()): ?>
    <div class="products-container products-container-<?php echo $rndId; ?> <?php if($backgroundContainer): echo __(' background-dark'); endif;?>" <?php if($backgroundContainer):?>style="background: <?= $backgroundContainer ?>"<?php endif;?>>
        <div class="container-titles">
            <?php if($block->getTitle()):?><h3 class="title"><?php echo $block->getTitle();?></h3><?php endif;?>
            <?php if($block->getSubtitle()):?><h4 class="subtitle"><?php echo $block->getSubtitle();?></h4><?php endif;?>
        </div>
            <?php foreach ($collection as $content):?>
                <div class="products-slider">
                    <div class="swiper-container" data-mage-init='{
                                "swiperSliderWidget":{
                                    "slidesPerView": <?php echo $numberProducts;?>,
                                    "paginationContainer":".products-container-<?php echo $rndId; ?> .pagination-container",
                                    "paginationType":"bullets",
                                    "autoplay": <?php echo $autoplaySlider;?>,
                                    "prevButton":".products-container-<?php echo $rndId; ?> .swiper-button-prev",
                                    "nextButton":".products-container-<?php echo $rndId; ?> .swiper-button-next",
                                    "paginationClickable": true,
                                    "breakpoints":{
                                        "1199": {
                                           "slidesPerView": 3,
                                            "slidesPerGroup": 3,
                                            "spaceBetween": 10
                                        }
                                    }
                                }
                            }'>
                    <div class="swiper-wrapper">
                        <?php
                        $products = $_helper->getProductsCollection($content->getPbCategory());
                        $priceBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\AbstractProduct');

                        foreach($products as $_product):
                            $productImage = $imageHelper->init($_product, 'category_slider_widget');
                            $productImageUrl = $productImage->getUrl();
                            $productImageHover = $imageHelper->init($_product, 'category_slider_widget_hover');
                            $productImageHoverUrl = $productImageHover->getUrl();
                            $isProductNew = $_product->getNewsFromDate() !== null ? true : false;
                            $productInfo = $_product->load($_product->getId());
                            $stock = $productInfo->getExtensionAttributes()->getStockItem()->getQty();
                            $saleableQty = (0 - $_product->load($_product->getId())->getExtensionAttributes()->getStockItem()->getMinQty());
                            $orderedQty = $stock < 0 ? $_product->getOrderedQty() - (0 - $stock) : $_product->getOrderedQty();
                            ?>
                            <div class="swiper-slide">
                                    <?php if($productImage):?>
                                    <div class="product-item-photo">
                                        <?php if($isProductNew): ?>
                                            <span class="new-label"><?php echo __('New');?></span>
                                        <?php endif; ?>
                                        <a href="<?php echo $_product->getProductUrl(); ?>">
                                            <img class="img-product" src="<?php echo $productImageUrl;?>" alt="<?php echo $_product->getName();?>"/>
                                            <?php
                                            if($productImageHover):
                                                ?>
                                                <div class="product-image-hover">
                                                    <img class="img-product" src="<?php echo $productImageHoverUrl;?>" alt="<?php echo $_product->getName();?>"/>
                                                </div>
                                            <?php endif; ?>
                                        </a>
                                    </div>
                                <?php endif; ?>
                                <div class="product-item-details">
                                    <div class="product-item-name">
                                        <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>">
                                            <?php echo $_product->getName(); ?>
                                        </a>
                                    </div>
                                    <?php if ($_product->isSaleable()):
                                        $postParams = $_helper->getAddToCartPostParams($_product);
                                        ?>
                                        <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                        <?php if($stock > 0):?>
                                            <div class="product actions product-item-actions">
                                                <?php echo $_product->getName()?>
                                                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                    <input type="hidden"
                                                           name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=
                                                           /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                           ?>">
                                                    <?php echo $block->getBlockHtml('formkey')?>
                                                    <div class="field qty">
                                                        <select name="qty" id="qty-<?= $_product->getId()?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                                                class="input-text qty">
                                                            <?php $i = 1;?>
                                                            <?php
                                                            while( $i <= $stock) { ?>
                                                                <option value="<?php echo 1 * $i; ?>"><?php echo 1 * $i; ?></option>
                                                                <?php
                                                                if( $i >= 10 ){
                                                                    break;
                                                                }
                                                                $i++;
                                                                ?>
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                    <button type="submit"
                                                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                            class="action tocart primary">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="availability status-instock">
                                                <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_stock')->toHtml(); ?>
                                            </div>
                                        <?php elseif($stock <= 0 && ($_product->getOrderedQty() >= $stock) && $saleableQty > 0):
                                            if($_product->getShippingFrom() != null && $orderedQty > 0):?>
                                            <div class="product actions product-item-actions">
                                                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                    <input type="hidden"
                                                           name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=
                                                           /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                           ?>">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <div class="field qty">
                                                        <select name="qty" id="qty-<?= $_product->getId()?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                                                class="input-text qty">
                                                            <?php $i = 1;?>
                                                            <?php
                                                            while( $i <= $orderedQty) { ?>
                                                                <option value="<?php echo 1 * $i; ?>"><?php echo 1 * $i; ?></option>
                                                                <?php
                                                                if( $i >= 10 ){
                                                                    break;
                                                                }
                                                                $i++;
                                                                ?>
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                    <button class="action tocart primary"
                                                            type="submit" title="<?php /* @escapeNotVerified */ echo __('Preorder') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Preorder') ?></span>
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="availability status-preorder">
                                                <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_shippingfrom_date')->toHtml(); ?> <?php echo $_helper->getDate($_product->getShippingFrom())->format('j-m-y');?>
                                            </div>
                                        <?php else:?>
                                            <div class="product actions product-item-actions">
                                                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                    <input type="hidden"
                                                           name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=
                                                           /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                           ?>">
                                                    <?php echo $block->getBlockHtml('formkey')?>
                                                    <div class="field qty">
                                                        <select name="qty" id="qty-<?= $_product->getId()?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                                                class="input-text qty">
                                                            <?php $i = 1;?>
                                                            <?php
                                                            while( $i <= $saleableQty) { ?>
                                                                <option value="<?php echo 1 * $i; ?>"><?php echo 1 * $i; ?></option>
                                                                <?php
                                                                if( $i >= 10 ){
                                                                    break;
                                                                }
                                                                $i++;
                                                                ?>
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                    <button class="action tocart primary"
                                                            type="submit" title="<?php /* @escapeNotVerified */ echo __('order') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('order') ?></span>
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="availability status-120gg">
                                                <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_shippingfrom')->toHtml(); ?>
                                            </div>
                                    <?php endif; ?>
                                    <?php elseif($stock <= 0 && $saleableQty <= 0):?>
                                        <a class="action tocart primary" href="<?php echo $_product->getProductUrl(); ?>">
                                            <span><?php echo __('Details')?></span>
                                        </a>
                                        <div class="availability status-outofstock">
                                            <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_outofstock') ->toHtml(); ?>
                                        </div>
                                    <?php endif; ?>
                                    <?php else:?>
                                        <a class="action tocart primary" href="<?php echo $_product->getProductUrl(); ?>">
                                            <span><?php echo __('Details')?></span>
                                        </a>
                                        <div class="availability status-outofstock">
                                            <?php echo $_product->getAttributeText('product_status')?>
                                            <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_outofstock')->toHtml(); ?>
                                        </div>
                                <?php endif; ?>
                                </div>
                            </div>
                        <?php
                        endforeach;
                        ?>
                    </div>
                </div>
                </div>
                <?php if (count($products) > 1): ?>
                    <div class="swiper-button-container">
                        <div class="swiper-button-prev icon-left"></div>
                        <div class="pagination-container"></div>
                        <div class="swiper-button-next icon-right"></div>
                    </div>
                <?php  endif; ?>
            <?php endforeach; ?>
        </div>
<?php else: ?>
    <div class="message info empty"><div><?= __('Widget not found. Please check settings.') ?></div></div>
<?php endif; ?>
