<?php
/** @var \Blackbird\ContentManager\Block\Content\Widget\ContentList $block */
$collection = $block->getCollection();

// Helper
$_helper = $this->helper('Sg\Module\Helper\Data');
$rndId = $_helper->getRandomString(10);
$autoplaySlider = $this->getData('slider_autoplay') === 1 ? "true" : "false";
$resetMarginTop = $block->getResetMarginTop();
$resetMarginBottom = $block->getResetMarginBottom();
?>
<?php if ($collection->getSize()): ?>
    <div <?php if ($block->getWidgetid()) {
        echo 'id="' . $block->getWidgetid() . '"';
    } ?> class="simple-slider simple-slider-<?php echo $rndId; ?> ">
        <div class="swiper-container" data-mage-init='{
            "swiperSliderWidget":{
                "slidesPerGroup": 1,
                "slidesPerView": 1,
                "spaceBetween": 0,
                "paginationContainer":".simple-slider-<?php echo $rndId; ?> .pagination-container",
                "paginationType":"bullets",
                "paginationClickable": true,
                "autoplay": <?php echo $autoplaySlider;?>,
                "prevButton":".simple-slider-<?php echo $rndId; ?> .swiper-button-prev",
                "nextButton":".simple-slider-<?php echo $rndId; ?> .swiper-button-next",
                "breakpoints": {
                    "767": {
                        "slidesPerGroup": 1,
                        "slidesPerView": 1,
                        "spaceBetween": 0
                    },
                    "991": {
                        "slidesPerGroup": 1,
                        "slidesPerView": 1,
                        "spaceBetween": 0
                    },
                    "1199": {
                        "slidesPerGroup": 1,
                        "slidesPerView": 1,
                        "spaceBetween": 0
                    }
                }
            }
        }'>
            <div class="swiper-wrapper <?php echo ($collection->getSize() > 1) ? '' : 'no-slider'; ?>">
                <?php foreach ($collection as $content) { ?>

                    <?php
                    $_titleTag = $content->getSbTag();

                    //CTA
                    $ctaText = $content->getData('sb_cta_text');
                    $cta = $_helper->getContentUrl($content->getData('sb_cta_type'),$content->getData('sb_cta_custom'), $content->getData('sb_cta_category'), $content->getData('sb_cta_product'));
                    $ctaClass = $content->getData('sb_cta_style');
                    $ctaPosition = $content->getData('sb_cta_position');
                    $rndId = $_helper->getRandomString(10);

                    $image = $content->getSbImage();
                    $imageMobile =  $content->getSbImageMobile();

                    // Video
                    $videoType = $content->getData('sb_video_type');
                    $videoFormat =  $content->getData('sb_video_source');
                    $youtubeId = $content->getData('sb_yt_id');
                    $vimeoId = $content->getData('sb_vimeo_id');
                    $mp4 = $content->getData('sb_mp4');
                    $videoAutoplay =$content->getData('sb_autoplay');
                    ?>
                <div class="swiper-slide simple-slider-slide <?php if($content->getSbOverlay()){ echo __('overlay');}?>">
                    <?php if ($content->getSbImage() && $videoType === "none"){ ?>
                        <div class="simple-slider-img <?php if(!$content->getSbImageMobile()):?>only-desktop<?php endif;?>">
                            <?php if ($cta !== '') : ?>
                            <a class="image-content" href="<?php echo $cta; ?>">
                                <?php endif; ?>
                                <img class="img-desktop" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbImage()?>"/>
                                <?php if($content->getSbImageMobile()):?>
                                    <img class="img-mobile" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbImageMobile()?>"/>
                                <?php endif;?>
                                <?php if ($cta !== '') : ?>
                            </a>
                        <?php endif; ?>
                        </div>
                    <?php }; ?>
                    <?php if ($content->getSbVideoType() != "none"){ ?>
                    <div class="video <?php echo $content->getSbPositionDecor()?>" <?php if($content->getSbPositionDecor() === "background"):?> style="background: url('<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbDecor()?>')" <?php endif;?>>
                        <?php if($content->getSbDecor()):?>
                            <?php if($content->getSbPositionDecor() === 'right' || $content->getSbPositionDecor() === 'reflex' || $content->getSbPositionDecor() === 'both' ):?>
                                <img class="img-decor left" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbDecor()?>"/>
                            <?php endif;?>
                        <?php endif;?>
                        <div class="video-container" id="video-container-<?php echo $rndId; ?>" data-video="player<?php echo $rndId; ?>" data-popup="<?php echo ($videoType === 'popup') ? 'true' : 'false'; ?>">
                            <?php
                            switch ($videoFormat) {
                                default:
                                case 'vimeo':
                                case 'youtube':
                                    ?>
                                    <div id="player<?php echo $rndId; ?>"
                                         class="video-plyr"
                                        <?php if($image):?> data-poster="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $image; ?>"<?php endif; ?>
                                         data-plyr-provider="<?php echo $videoFormat; ?>"
                                         data-plyr-embed-id="<?php echo ($videoFormat == 'youtube') ? $youtubeId : $vimeoId; ?>"
                                        <?php if($videoAutoplay != 'false'): ?> data-autoplay="true" <?php endif; ?>>
                                    </div>
                                    <?php
                                    break;
                                case 'mp4':
                                    ?>
                                    <video class="video-plyr"
                                        <?php if($videoAutoplay != 'false'): ?> playsinline loop data-autoplay="true" <?php endif; ?>
                                           data-plyr-provider="<?php echo $videoFormat; ?>"
                                        <?php if($image):?> poster="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $image; ?>"<?php endif; ?>
                                        <?php if($imageMobile):?> poster-mobile="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $imageMobile; ?>"<?php endif; ?>
                                           id="player<?php echo $rndId; ?>"
                                           controls
                                           width="100%">
                                    </video>
                                    <?php
                                    break;
                            }
                            ?>
                            <script type="text/javascript">
                                require(['jquery','plyr_3_6_2','matchMedia','Magento_Ui/js/modal/modal'],function($,Plyr,mediaCheck,modal){

                                    if(typeof window.plyrVideos == 'undefined'){
                                        window.plyrVideos = [];
                                    }

                                    var currentVideo = "#player<?php echo $rndId; ?>";
                                    var currentVideoContainer = "#video-container-<?php echo $rndId; ?>";

                                    var videoImageDesktop = $(currentVideo).attr('poster') ? $(currentVideo).attr('poster') : '',
                                        videoImageMobile = $(currentVideo).attr('poster-mobile') ? $(currentVideo).attr('poster-mobile') : $(currentVideo).attr('poster'),
                                        videoAutoplay = ($(currentVideo).attr('data-autoplay') === 'true') ? true : false,
                                        videoPoster = $(currentVideo).attr('data-poster'),
                                        videoType = $(currentVideo).attr('data-plyr-provider'),
                                        videoPopup = $(currentVideoContainer).attr('data-popup')

                                    // set poster image & url only for HTML5 video
                                    mediaCheck({
                                        media: '(max-width: 991px)',
                                        entry: $.proxy(function () {

                                            if(videoType == 'mp4'){
                                                var videoSrc = "<?php echo $mp4; ?>";

                                                // if(!videoSrc){
                                                //     videoSrc = "<?php //echo $mp4; ?>";
                                                // }

                                                $(currentVideo).append('<source src="" type="video/mp4" />');
                                                $(currentVideo).find("source").attr('src', "<?php echo $_helper->getUrlMedia('contentmanager/content/'); ?>" + videoSrc);
                                                $(currentVideo).attr('poster', videoImageMobile);
                                            }

                                        }, this),
                                        exit: $.proxy(function () {

                                            if(videoType == 'mp4'){
                                                var videoSrc = "<?php echo $_helper->getUrlMedia('contentmanager/content/') . $mp4; ?>";

                                                $(currentVideo).append('<source src="" type="video/mp4" />');
                                                $(currentVideo).find("source").attr('src', videoSrc);
                                                $(currentVideo).attr('poster', videoImageDesktop);
                                            }

                                        }, this)
                                    });

                                    if(videoPopup === 'false'){

                                        var plyrInstance = new Plyr(currentVideo, {
                                            fullscreen: {
                                                enabled: !window.MSStream && /iPad|iPhone|iPod/.test(navigator.userAgent) ? false : true,
                                                iosNative: (videoType == 'mp4') ? true : false
                                            },
                                            storage: {
                                                enabled: false
                                            },
                                            muted : (videoAutoplay) ? true : false,
                                            loop: {
                                                active: (videoAutoplay) ? true : false
                                            },
                                            volume : (videoAutoplay) ? 1 : 10,
                                            //autoplay : videoAutoplay,
                                        });

                                        if(!videoAutoplay){
                                            if(typeof videoPoster != 'undefined' && videoType !== "mp4"){
                                                setTimeout(function(){
                                                    plyrInstance.poster = '<?php echo $_helper->getUrlMedia('contentmanager/content/') . $image; ?>';
                                                },10);
                                            }
                                        }

                                        // fix orientationchange bug on iOs 13 for mp4
                                        window.addEventListener('orientationchange', function(){
                                            if(plyrInstance.playing && videoType === 'mp4'){
                                                plyrInstance.pause();
                                                setTimeout(() => {
                                                    plyrInstance.play();
                                                }, 100);
                                            }
                                        });

                                        plyrInstance.on('ready', (event) => {
                                            if(videoAutoplay){
                                                plyrInstance.togglePlay();
                                                plyrInstance.play();
                                            }
                                        });

                                        plyrVideos.push(plyrInstance);

                                    }else{
                                        //modal options
                                        var modalOptions = {
                                            type: 'popup',
                                            responsive: true,
                                            innerScroll: true,
                                            modalClass: '__plyr_modal_popup',
                                            title: '',
                                            buttons: [],
                                            opened: function () {
                                                $("body").addClass("video-popup-showing");
                                                $('.modal-overlay').fadeIn();
                                                $('.modals-wrapper').addClass("active");

                                                if(videoAutoplay){
                                                    plyrInstance.pause();
                                                    plyrInstance.play();
                                                }
                                            },
                                            closed: function () {

                                                $.each(plyrVideos,function(index,element){
                                                    if(currentVideo === '#' + element.elements.original.id){
                                                        element.pause();
                                                    }
                                                });

                                                $('.modal-overlay').fadeOut();
                                                $('.modals-wrapper').removeClass("active");
                                                $("body").removeClass("video-popup-showing");
                                            }
                                        };

                                        //open modal
                                        var popup = modal(modalOptions, $("#video-container-<?php echo $rndId; ?>"));

                                        $(".cta<?php echo $rndId; ?>").on('click', function(e){
                                            e.preventDefault();
                                            $("#video-container-<?php echo $rndId; ?>").modal('openModal');

                                        });

                                        var plyrInstance = new Plyr(currentVideo, {
                                            fullscreen: {
                                                enabled: !window.MSStream && /iPad|iPhone|iPod/.test(navigator.userAgent) ? false : true,
                                                iosNative: (videoType == 'mp4') ? true : false
                                            },
                                            storage: {
                                                enabled: false
                                            },
                                            muted : (videoAutoplay) ? true : false,
                                            loop: {
                                                active: (videoAutoplay) ? true : false
                                            },
                                            volume : (videoAutoplay) ? 1 : 10,
                                            //autoplay : videoAutoplay,
                                        });

                                        plyrVideos.push(plyrInstance);
                                    }

                                });
                            </script>
                        </div>


                        <?php if($content->getSbDecor()):?>
                            <?php if($content->getSbPositionDecor() === 'right' || $content->getSbPositionDecor() === 'reflex' ):?>
                                <img class="img-decor right" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbDecor()?>"/>
                            <?php elseif($content->getSbPositionDecor() === 'both' ):?>
                                <img class="img-decor left" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getSbDecor()?>"/>
                            <?php endif;?>
                        <?php endif;?>
                    </div>
                    <?php }; ?>
                    <?php
                    if ($content->getSbTitle() || $ctaText !== '' || $content->getSbDescription()){
                        ?>
                        <div class="simple-slider-text-box <?php echo $content->getSbTextPosition(); ?> ">
                            <?php if ($content->getSbTitle()) { ?>
                                <<?= $_titleTag; ?>
                                        class="simple-slider-title <?php echo $content->getSbTextPosition(); ?>">
                                    <span <?php if ($content->getSbTextColor()) {
                                        echo 'style="color:' . $content->getSbTextColor() . '"';
                                    } ?> class="title"><?php echo $content->getSbTitle(); ?></span>
                                </<?= $_titleTag; ?>>
                            <?php } ?>
                            <?php if ($content->getSbSubtitle()) { ?>
                                <div class="simple-slider-subtitle <?php echo $content->getSbTextPosition(); ?>">
                                            <span <?php if ($content->getSbTextColor()) {
                                                echo 'style="color:' . $content->getSbTextColor() . '"';
                                            } ?> class="subtitle"><?php echo $content->getSbSubtitle(); ?></span>
                                </div>
                            <?php } ?>
                            <?php if ($content->getSbDescription()) { ?>
                                <div class="simple-slider-description <?php echo $content->getSbTextPosition(); ?>">
                                    <span class="description"><?php echo $content->getSbDescription(); ?></span>
                                </div>
                            <?php } ?>
                        <?php if ($ctaText != ''):?>
                            <div class="action-container simple-slider-actions">
                                <a href="<?php echo $cta; ?>" title="<?php echo $ctaText; ?>"
                                   class="action <?php echo $ctaClass; ?> <?php echo $ctaPosition; ?>"
                                   id="cta1<?php echo $rndId; ?>"><?php echo $ctaText; ?></a>
                            </div>
                        <?php endif;?>
                        </div>
                    <?php }; ?>
                </div> <!-- .swiper-slide -->
            <?php }; ?>
        </div> <!-- .swiper-wrapper -->

        <?php
        if (count($collection) > 1): ?>
            <div class="swiper-button-container">
                <div class="swiper-button-prev icon-left"></div>
                <div class="pagination-container"></div>
                <div class="swiper-button-next icon-right"></div>
            </div>
        <?php endif; ?>
    </div> <!-- .swiper-container -->

<?php else: ?>
    <div class="message info empty">
        <div><?= __('Widget not found. Please check settings.') ?></div>
    </div>
<?php endif; ?>
