<?php
/**
 * Blackbird MenuManager Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category            Blackbird
 * @package		Blackbird_MenuManager
 * @copyright           Copyright (c) 2016 Blackbird (http://black.bird.eu)
 * @author		Blackbird Team
 */
?>
<?php /** @var $block Blackbird\MenuManager\Block\NodeType\CmsPage */?>
<?php if($block->getStatus()):?>
    <li class="<?= implode(' ', $block->getClasses())?>">
        <a href=<?= $block->getData('url')?> class="<?= implode(' ', $block->getClasses());?>" target=<?=$block->getTarget() ?> role="menuitem">
            <span><?= $block->getTitle()?></span>
        </a>
        <?php if($block->getChildren()):?>
            <ul class="level<?=$block->getLevel();?> submenu" role="menu" aria-label="<?= $block->getTitle()?>">
                <?php echo $block->getData('children') ?>
            </ul>
        <?php endif;?>
    </li>
<?php endif;?>