//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body{
        .links-container{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(flex-end);
            ul{
                margin-bottom: 0;
                padding: 0;
            }
            li{
                &.authorization-link{
                    list-style: none;
                    a{
                        .lib-font-size(12);
                        .lib-icon-font(
                            @icon-padlock,
                            @_icon-font-size: 25px,
                            @_icon-font-line-height: 27px,
                            @_icon-font-margin: 0 5px 0 0,
                            @_icon-font-vertical-align: bottom);
                        &.logged{

                            .lib-icon-font(
                                @icon-user,
                                @_icon-font-size: 18px,
                                @_icon-font-line-height: 22px,
                                @_icon-font-margin: 0 5px 0 0,
                                @_icon-font-vertical-align: bottom);
                        }
                    }
                }
            }
        }
        .header.links{
            nav.account-nav{
                display: none;
            }
        }
        .customer-overlay{
            .action.close,
            .action-close{
                z-index: 3;
                top: auto;
            }
        }
        .block.account-nav {
            position: absolute;
            width: 100%;
            background: white;
            max-width: 1480px;
            padding: 20px;
            box-sizing: border-box;
            margin: 0 auto;
            z-index: 3;
            .actions {
                text-align: center;
             }
            ul.nav.items {
                text-align: center;
                padding-bottom: 20px;
                li{
                    &.current{
                        color: @sg-green;
                    }
                    a{
                        &:hover{
                            text-decoration: underline;
                            color: @sg-green
                        }
                    }
                }
            }
        }
        &.customer-account-forgotpassword{
            .page-main{
                padding-bottom: 100px;
            }
        }
        &.customer-account-login,
        &.customer-account-create{
            #maincontent{
                max-width: 100%;
                background: url(../images/login.jpg) no-repeat 0 0;
                background-size: cover;
                padding: 20px;
                text-align: center;
                .columns{
                    margin: 20px auto;
                    padding: 20px;
                    border-radius: 20px;
                    background-color: @white;
                    max-width: 1280px;
                    border-top: 4px solid @sg-green;
                    .actions-toolbar{
                        text-align: center;
                        .primary{
                            float: none;
                        }
                        a.action.remind{
                            .lib-font-size(14)
                        }
                    }
                }
            }
        }
        .field{
            &.primary {
                margin-top: 0;
            }
            &.street{
                .field.additional {
                    label.label{
                        .lib-visually-hidden-reset()
                    }
                    margin: 0 0 2rem;
                }
            }
        }

        &.customer-account-create{
            #maincontent{
                .columns{
                    max-width: 700px;
                    .field {
                        text-align: left;
                    }
                    .form.create.account{
                        width: 100%;
                    }
                    fieldset {
                        &::after {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .login-container{
            .block{
                .block-title{
                    border: 0 none;
                    .lib-font-size(36)
                }
                .block-content{
                    margin: 0 auto;
                }
            }
            fieldset{
                &::after{
                    margin-top: 10px;
                }
                &.login{
                    .field{
                        text-align: left;
                        .control{
                            width: 100%;
                        }
                        &.note{
                            text-align: center;
                        }
                    }
                }
            }
        }
        &.account{
            .welcome-dashboard {
                margin-top: 30px;
                margin-bottom: 30px;
            }
             .page-main {
                 .page-title-wrapper{
                     .order-date{
                         margin: 0;
                     }
                 }
             }
            h1.page-title{
                .lib-font-size(30);
            }
            .order-links .item strong{
                padding: 10px
            }
            .title.block-collapsible-nav-title{
                .lib-visually-hidden-reset();
                background: @sg-green;
                width: auto;
                padding: 10px;
                border-radius: 5px 5px 0 0;
                text-align: center;
                text-transform: uppercase;
                strong{
                    color: @white;
                }
            }
            .block-collapsible-nav {
                .content {
                    border: 1px solid @light_gray;
                    border-radius: 0 0 5px 5px;
                }
            }
            .columns{
                margin-bottom: 10%;
            }
            .column.main{
                border: 2px dashed @light_gray;
                padding: 25px;
                .block{
                    .block-title{
                        .action.edit{
                            .lib-font-size(12);
                            float: right;
                        }
                    }
                    .box-title{
                        border-bottom: 1px solid @light_gray;
                        margin: 0 0 8px;
                        padding: 0 0 8px;
                        width: 100%;
                    }
                    &.block.block-dashboard-info,
                    &.block.block-dashboard-addresses{
                        .block-title{
                            display: none;
                        }
                    }
                    .block-content{
                        margin-top: 10px;
                    }
                    .box-actions{
                        .action{
                            .lib-font-size(12);
                            span{
                                .lib-font-size(12);
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body{
        .links-container{
            li{
                &.authorization-link{
                   span{
                    display: none
                   }
                }
            }
        }
        .sidebar-main{
            .block-collapsible-nav{
                top: 0;
            }
        }
        .block.block-customer-login {
            border-bottom: 1px solid @light_gray;
            padding-bottom: 30px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body{
        &.customer-account-create,
        &.customer-account-login{
            #maincontent{
                padding: 50px 50px 200px;
            }
        }
    }
}

