@import "widget/_products-banner.less";
@import "widget/_category-blocks.less";
@import "widget/_blog.less";
@import "widget/_content-blocks.less";

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  body{
    .simple-slider{
      position: relative;
      .swiper-container{
        width:100%;
        .swiper-wrapper{
            .swiper-slide{
              &.overlay{
                  .simple-slider-text-box{
                      position: absolute;
                      top: 50%;
                      -webkit-transform: translate(0,-50%);
                      -moz-transform: translate(0,-50%);
                      -ms-transform: translate(0,-50%);
                      -o-transform: translate(0,-50%);
                      transform: translate(0,-50%);
                      &.left{
                          left: 150px;
                      }
                      &.center{
                          left: 0;
                          right: 0;
                          width: 100%;
                          margin: 0 auto;
                      }
                      &.right{
                          right: 150px;
                      }
                  }
              }
            .simple-slider-text-box{
              text-align: center;
              .lib-vendor-prefix-flex-direction(column);
              .lib-vendor-prefix-display(flex);
              .justify-content(center);
              height: auto;
              width: auto;
              .simple-slider-title{
                font-family: @font-family__base;
                text-transform: uppercase;
                line-height: inherit;
              }
              .simple-slider-subtitle{
                text-transform: uppercase;
                font-style: italic;
              }
              .simple-slider-description{
                margin-top: 40px;
              }
            }
            .action-container {
              margin-top: 26px;
              a.action + a.action {
                margin-left: 20px;
              }
                .gray{
                    text-decoration: none;
                    .lib-button(
                        @_button-background: @copyright__background-color,
                        @_button-background-hover: @sg-green,
                        @_button-color: @white,
                        @_button-border: 2px solid @copyright__background-color
                    )
                }
            }
          }
        }
      }
      .img-desktop {
        margin: 0 auto;
      }
        .video {
            .lib-vendor-prefix-display(flex);
            &.right{
                .justify-content(flex-start);
            }
            &.left{
                .justify-content(flex-end);
            }
            &.both{
                .justify-content(center);
            }
            &.background{
                .justify-content(center);
                .video-container{
                    max-width: 856px;
                }
            }
            img.img-decor{
                &.right{
                    transform: rotate(180deg)
                }
            }
        }
      .video-container{
          //max-width: 845px;
          .plyr__progress {
              width: 95%;
          }
          button.plyr__control.plyr__control--overlaid{
              background-color: @sg-green;
          }
          button.plyr__controls__item.plyr__control{
              background-color: @sg-green;
          }
          .plyr--full-ui input[type=range]{
              color: @sg-green;
          }
          .plyr--audio .plyr__play-large, .plyr--playing .plyr__controls [data-plyr=play], .plyr__controls [data-plyr=pause]{
              display: block;
          }
      }
    }
      .swiper-button-prev,
      .swiper-button-next{
          width: auto;
          height: auto;
          padding: 10px;
          background-color: #e8e8e8;
          z-index: 1;
      }
    .swiper-button-prev{
        left: 0;
        background-image: none;
        .lib-icon-font(
            @icon-prev,
            @_icon-font-size: 25px,
            @_icon-font-color: @white
        );
    }
    .swiper-button-next{
        right: 0;
        background-image: none;
        .lib-icon-font(
            @icon-next,
            @_icon-font-size: 25px,
            @_icon-font-color: @white
        );
    }
    .pagination-container{
      text-align: center;
        margin-top: 10px;
        &.swiper-pagination-bullets{
        .swiper-pagination-bullet{
          position: relative;
          opacity: 1;
          background: transparent;
          width: 10px;
          height: 10px;
          &::before{
            content: '';
            display: block;
            position: absolute;
            background: transparent;
            width: 8px;
            height: 8px;
            top: 1px;
            left: 1px;
            border-radius: 50%;
          }
          &.swiper-pagination-bullet-active{
            &::before {
              background: @sg-green;
            }
          }
          &:not(:last-child){
            margin-right: 16px;
          }
        }
      }
    }
      .pagination-container{
          &.swiper-pagination-bullets{
              .swiper-pagination-bullet{
                  border: 1px solid @sg-green;
                  &.swiper-pagination-bullet-active{
                      &::before {
                          background: @sg-green;
                      }
                  }
              }
          }
      }
  }
}



// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  body {
    .simple-slider{
      .swiper-container{
        .swiper-wrapper {
          .swiper-slide{
              .simple-slider-title{
                  letter-spacing: 2px;
                  .lib-font-size(40);
              }
              .simple-slider-subtitle{
                  .lib-font-size(20);
                  letter-spacing: 2px;
              }
            .simple-slider-text-box{
              position: absolute;
              top: 50%;
              -webkit-transform: translate(0,-50%);
              -moz-transform: translate(0,-50%);
              -ms-transform: translate(0,-50%);
              -o-transform: translate(0,-50%);
              transform: translate(0,-50%);
              &.left{
                left: 150px;
              }
              &.center{
                left: 0;
                right: 0;
                  width: 100%;
                  margin: 0 auto;
              }
              &.right{
                right: 150px;
              }
            }
            &.video-slide{
              .simple-slider-text-box{
                top: 40%;
              }
            }
            img.img-mobile {
              display: none;
            }
            img.img-desktop {
              width: 100%;
            }
          }
          .simple-slider-actions{
            &.left{
              left: @indent__xl;
              a {
                &.action {
                  &.primary:first-child{
                    margin-left: 0;
                  }
                }
              }
            }
            &.right{
              right: @indent__xl;
            }
            a {
              &.action {
                &.primary,
                &.secondary {

                }
              }
            }
          }
        }
      }
    }
      img.img-mobile{
          display: none;
      }
  }
}

//tablet & mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
  body {
    .simple-slider {
        .swiper-slide{
            &.overlay{
                .simple-slider-description{
                    display: none;
                }
            }
            .simple-slider-text-box {
                padding: 0 15px;
            }
            .simple-slider-title{
                letter-spacing: 1px;
                .lib-font-size(30);
            }
            .simple-slider-subtitle{
                .lib-font-size(16);
            }
            .simple-slider-img{
                &:not(.only-desktop){
                    img.img-desktop{
                        display: none;
                    }
                }
            }
            .video {
                img.img-decor{
                   display: none;
                }
            }
        }
    }
  }
}
