<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct();
$_customHelper =  $this->helper('Sg\Module\Helper\Data');
$stock = $_product->getExtensionAttributes()->getStockItem()->getQty();
$saleableQty = (0 - $_product->getExtensionAttributes()->getStockItem()->getMinQty());
$orderedQty = $stock < 0 ? $_product->getOrderedQty() - (0 - $stock) : $_product->getOrderedQty();
?>

<?php if ($block->displayProductStockStatus()) :
    if ($_product->isAvailable() & $_product->isSalable()) :?>
        <?php if($stock > 0):?>
            <div class="disclaimer status-instock stock available">
                <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_stock') ->toHtml(); ?>
            </div>
          <?php elseif($stock <= 0 && $saleableQty > 0):?>
                <?php if($_product->getShippingFrom() != null && $orderedQty > 0):?>
                    <div class="disclaimer status-preorder stock available">
                        <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block')->setBlockId('info_shippingfrom_date')->toHtml(); ?> <?php echo $_customHelper->getDate($_product->getShippingFrom())->format('j-m-y');?>
                    </div>
                <?php else:?>
                    <div class="disclaimer status-120gg stock available">
                        <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block')->setBlockId('info_shippingfrom')->toHtml(); ?>
                    </div>
            <?php endif; ?>
        <?php endif; ?>
        <?php elseif($stock <= 0 && $saleableQty <= 0):?>
            <div class="disclaimer status-outofstock stock unavailable">
                <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_outofstock') ->toHtml(); ?>
            </div>
    <?php else:?>
        <div class="disclaimer status-outofstock stock unavailable">
            <?php echo $this->getLayout() ->createBlock('Magento\Cms\Block\Block') ->setBlockId('info_outofstock') ->toHtml(); ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
