<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Store\Block\Switcher $block */
$helper = $this->helper('Sg\Module\Helper\Data');
?>
<?php if (count($block->getGroups())>1) : ?>
<div class="switcher store switcher-store" id="switcher-store">
    <strong class="label switcher-label"><span><?= $block->escapeHtml(__('Select Store')) ?></span></strong>
    <div class="actions dropdown options switcher-options">
        <?php foreach ($block->getGroups() as $_group) : ?>
            <?php if ($_group->getId() == $block->getCurrentGroupId()) :
                $code = substr($_group->getCode(), -2)?>
                <div class="action toggle switcher-trigger"
                     role="button"
                     tabindex="0"
                     data-mage-init='{"dropdown":{}}'
                     data-toggle="dropdown"
                     data-trigger-keypress-button="true"
                     id="switcher-store-trigger">
                    <strong>
                        <span class="store"><?php echo __('Nation')?>:</span>
                        <img class="img-flag" src="<?php echo $block->getViewFileUrl('images/flags/flag-'.$code.'.png') ?>"/>
                        <span class="<?= $block->escapeHtml($_group->getCode()) ?>"><?= $block->escapeHtml($code) ?></span>
                    </strong>
                </div>
                 <?php endif; ?>
        <?php endforeach; ?>
        <ul class="dropdown switcher-dropdown" data-target="dropdown">
            <?php foreach ($block->getGroups() as $_group) : ?>
                <?php if (!($_group->getId() == $block->getCurrentGroupId())) :
                    $code = substr($_group->getCode(), -2)?>
                    <li class="switcher-option">
                        <a href="#" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_group->getDefaultStore()) ?>'>
                             <span class="<?= $block->escapeHtml($_group->getCode()) ?>">
                                 <img class="img-flag" src="<?php echo $block->getViewFileUrl('images/flags/flag-'.$code.'.png') ?>"/>
                                 <?= $block->escapeHtml($code) ?>
                             </span>
                        </a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
<script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
        platformInfo: {
            currency: '<?= $helper->getCurrentCurrencyCode(); ?>',
            country: '<?= $block->getCurrentStoreCode(); ?>'
        }
    });
</script>
