& when (@media-common = true){
    .contact-index-index{
        .page-title-wrapper{
            text-align:center;
        }
        .column.main{
            max-width:1200px;
            padding:0 15px;
            margin:0 auto;
            > div{
                .lib-vendor-prefix-display();

                p{
                    margin-bottom:0;
                }
            }
            iframe {
                width: 100%;
            }
            form{
                &.form.contact{
                    margin: 0 auto 50px auto;
                }
                .fieldset{
                    margin-bottom:0;
                }
                input, select, textarea{
                    .lib-font-size(12);
                }
                input:not([type="checkbox"]), select{
                    height:auto;
                }
                input{
                    margin-top:0;
                }
                select[name="cf_subject"]{
                    option:not(.visible){
                        display:none;
                    }
                }
                textarea{
                    padding:15px 20px;
                }
                .info{
                    .lib-font-size(12);
                    text-transform:lowercase;
                    color:#5D5D5D;
                    padding-top:8px;
                }
            }
        }
    }
}

//desktop & tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    .contact-index-index{
        .column.main{
            p{
                .lib-font-size(16);
                line-height:29px;
            }
            .form.contact{
                padding-left: 40px;
            }
            .fieldset{
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-wrap(wrap);
                .field{
                    input, select{
                        padding:5.5px 20px;
                    }
                    input[name="telephone"]{
                        padding:5.5px 20px 5.5px 50px;
                    }
                    &:not(.comment){
                        width:~'calc(50% - 15px)';
                    }
                    &.comment{
                        width:100%;
                        padding:20px 0 0;
                    }
                    &:nth-child(2n + 1){
                        padding:20px 15px 0 0;
                    }
                    &.telephone{
                        width: 100%;
                        padding: 20px 0 0 0;
                    }
                    &:nth-child(2n):not(.comment){
                        padding:20px 0 0 15px;
                    }
                }
            }
            .actions-toolbar{
                > div{
                    &:last-child:not(:first-child){
                        button{
                            width:100%;
                            margin:0;
                        }
                    }
                }
            }
        }
    }
}

//desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .contact-index-index{
        .page-title-wrapper{
            padding-top:33px;
            padding-bottom:15px;
        }
        .column.main{
            h2{
                margin-bottom:15px;
            }
            > div{
                > div{
                    width:64%;
                    > div{
                        .lib-vendor-prefix-display();
                        max-width:658px;
                        > div{
                            &:first-child{
                                width:24%;
                            }
                            &:last-child{
                                width:76%;
                                p{
                                    padding-bottom:23px;
                                }
                            }
                        }
                        &:not(:first-child):not(:nth-child(2)){
                            padding-top:25px;
                        }
                    }
                }
                form{
                    width:36%;
                    > p:not(.info){
                        padding-bottom:30px;
                    }
                }
            }
        }
    }
}

//tablet & mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    .contact-index-index{
        .page-title-wrapper{
            padding-top:30px;
            h1{
                .lib-font-size(50);
                line-height:59px;
                margin-bottom:10px;
            }
        }
        .column.main{
            h2{
                text-align:center;
            }
            form{
                > p:not(.info){
                    text-align:center;
                }
                .field:not(.privacyPolicy-check){
                    padding-top:20px;
                }
                input:not([type="checkbox"]), select{
                    padding:13px 20px;
                }
            }
            > div{
                .lib-vendor-prefix-flex-direction(column);
                > div{
                    .lib-vendor-prefix-order(1);
                    text-align:center;
                    padding-bottom:65px;
                    > div{
                        &:nth-child(2){
                            padding-bottom:20px;
                            > div:first-child{
                                display:none;
                            }
                        }
                        &:not(:first-child):not(:nth-child(2)){
                            padding-top:25px;
                            > div:first-child{
                                padding-bottom:10px;
                            }
                        }
                    }
                }
                .title{
                    br{
                        content:' ';
                        &:before{
                            content:' ';
                        }
                    }
                }
            }
        }
    }
}

//mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
    .contact-index-index{
        .page-title-wrapper h1{
            padding-bottom:25px;
        }
        .column.main{
            h2{
                .lib-font-size(14);
                line-height:16px;
            }
            form{
                h2{
                    display:none;
                }
                > p:not(.info){
                    line-height:16px;
                }
            }
        }
    }
}
