<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div if="isAddressDetailsVisible() && currentBillingAddress()" class="billing-address-details">
    <text args="currentBillingAddress().prefix"/>
    <text args="currentBillingAddress().firstname"/>
    <text args="currentBillingAddress().middlename"/>
    <text args="currentBillingAddress().lastname"/>
    <text args="currentBillingAddress().suffix"/>
    <br/>
    <text args="_.values(currentBillingAddress().street).join(', ')"/>
    <br/>
    <text args="currentBillingAddress().city "/>
    , <span html="currentBillingAddress().region"></span>
    <text args="currentBillingAddress().postcode"/>
    <br/>
    <text args="getCountryName(currentBillingAddress().countryId)"/>
    <br/>
    <a if="currentBillingAddress().telephone" attr="'href': 'tel:' + currentBillingAddress().telephone"
       text="currentBillingAddress().telephone"></a><br/>

    <each args="data: currentBillingAddress().customAttributes, as: 'element'">
        <each args="data: Object.keys(element), as: 'attribute'">
            <if args="typeof element[attribute] === 'object'">
                <if args="element[attribute].label">
                    <text args="element[attribute].label"/>
                </if>
                <ifnot args="element[attribute].label">
                    <if args="element[attribute].value">
                        <if args="element[attribute].attribute_code !== 'fiscal_company'">
                            <text args="element[attribute].value"/>
                        </if>
                    </if>
                </ifnot>
            </if>
        </each>
    </each>

    <button visible="!isAddressSameAsShipping()"
            type="button"
            class="action action-edit-address"
            click="editAddress">
        <span translate="'Edit'"></span>
    </button>
</div>

