<?php
/**
 * Blackbird ContentManager Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category        Blackbird
 * @package         Blackbird_ContentManager
 * @copyright       Copyright (c) 2018 Blackbird (https://black.bird.eu)
 * @author          Blackbird Team
 * @license         https://www.advancedcontentmanager.com/license/
 */
?>
<?php
/**
 * @see \Blackbird\ContentManager\Block\ContentList
 * @var \Blackbird\ContentManager\Block\ContentList $block
 */
?>
<?php
$collection = $block->getCollection();
/** @var \Blackbird\ContentManager\Model\ContentList $contentList */
$contentList = $block->getContentList();
$link = $block->getLink();
$_helper = $this->helper('Sg\Module\Helper\Data');
?>
<div class="block widget contents-grid grid ct-view ct-listing-<?= $contentList->getUrlKey() ?>"
     id="ct-listing-<?= $contentList->getId() ?>">
    <?php if (!empty($block->getTitle())) : ?>
        <div class="block-title">
            <strong><?= $block->getTitle() ?></strong>
        </div>
    <?php endif; ?>
    <div class="block-content">

        <div class="text-before"><?= $block->getTextBefore() ?></div>

        <?php if ($collection->count()) : ?>
            <?php if ($block->hasPagerTop()) : ?>
                <div class="toolbar-bottom">
                    <div class="toolbar top">
                        <?= $block->getPagerHtml(); ?>
                    </div>
                </div>
            <?php endif; ?>


            <div class="contents-items blog grid" data-mage-init='{"listingIsotope": {
            "comboFilter"      : ".menu-filter",
            "filtersDiv"       : ".filters",
            "filterActive"     : "sorter-filter-active",
            "filterCategory"   : "#sorter-content-list",
            "filterValue"      : ".filter-value",
            "filterElement"    : ".sorter-content-wrapper .filter",
            "filterLabel"      : "label.filter",
            "selectedFirst"    : "li.first",
            "selectedNotFirst" : "li:not(.first)"
            }}'>
                <div class="grid-sizer"></div>
                <?php foreach ($collection as $content) :
                    $cta = $content->getUrlKey();
                    $filterValue = preg_replace('/[^a-z]/', "", strtolower($content->getJouFilter()));?>
                    <div class="content-item grid-item <?= $filterValue ?>">
                        <div class="blog-image-container">
                            <?php if ($cta !== '') : ?>
                                <a class="image-content" href="<?php echo $cta; ?>">
                            <?php endif; ?>
                                <img class="img" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $content->getJouListingImage()?>"/>
                            <?php if ($cta !== '') : ?>
                                </a>
                            <?php endif; ?>
                        </div>

                        <div class="grid-item-text">
                            <span class="title"><?= $content->getJouTitle();?></span>
                            <span class="grid-item-description"><?= $content->getJouText() ?></span>
                            <a href="<?= $content->getUrlKey() ?>" class="grid-item-link"><?= __("Read More") ?></a>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>

            <?php if ($block->hasPagerBottom()) : ?>
                <div class="toolbar-bottom">
                    <div class="toolbar bottom">
                        <?= $block->getPagerHtml(); ?>
                    </div>
                </div>
            <?php endif; ?>

        <?php else: ?>
            <div class="message info empty">
                <span><?= __('We can\'t find contents matching the selection.') ?></span>
            </div>
        <?php endif; ?>

        <div class="text-after"><?= $block->getTextAfter() ?></div>
    </div>
</div>
