<?php
/** @var \Blackbird\ContentManager\Block\ContentList $block */
?>
<?php
$_helper = $this->helper('Sg\Module\Helper\Data');
$content = $block->getContent();
//General
$title = $content->getJouTitle();
$image = $content->getJouImage();
$date = $_helper->getDate($content->getJouDate())->format('d M Y');
$text = $content->render('jou_text');
$widgetContent = $content->render('jou_content');
$filterValue = preg_replace('/[^a-z]/', "", strtolower($content->getJouFilter()));
$ctaLabel = $content->getData('jou_cta_label');
$ctaUrl = $content->getData('jou_cta_url');
?>
<div id="journal-view-page" class="journal-view">
    <div class="boxed-layout">
        <?php if($image):?>
        <div class="image">
            <a <?php if($ctaUrl):?>href="<?php echo $ctaUrl; ?>"<?php endif;?>>
                <img class="img" src="<?php echo $_helper->getUrlMedia('contentmanager/content/') . $image?>"/>
            </a>
        </div>
        <?php endif;?>
        <h1 class="title">
            <?= $title ?>
        </h1>
        <div class="text">
            <?= $text ?>
        </div>
        <div class="content-widget">
            <?= $widgetContent ?>
        </div>
        <?php if($ctaLabel):?>
            <a class="button action primary" <?php if($ctaUrl):?>href="<?php echo $ctaUrl; ?>"<?php endif;?>>
                <?= $ctaLabel;?>
            </a>
        <?php endif;?>
        <div class="button-back"><a href="<?= $block->getBaseUrl() . __("blog-link") ?>"><?= __('Back to The Blog') ?></a></div>
    </div>
</div>
