//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .page-header {
            .block-search {
                float: none;
                margin-top: 0;
                z-index: 4;
                .label {
                    .lib-icon-font(
                        @icon-search,
                        @_icon-font-size: 22px,
                        @_icon-font-line-height: 28px,
                        @_icon-font-margin: 0 @indent__s 0 0,
                        @_icon-font-color: @black,
                        @_icon-font-text-hide: true
                    );

                    &.active {
                        .lib-icon-font(
                            @icon-search,
                            @_icon-font-size: 22px,
                            @_icon-font-line-height: 28px,
                            @_icon-font-margin: 0 @indent__s 0 0,
                            @_icon-font-color: @sg-green ,
                            @_icon-font-color-hover: @sg-green,
                            @_icon-font-text-hide: true
                        );
                    }
                }
            }
        }
        .sub-search-for-content{
            display: none;
        }
    }
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body {
        .page-header {
            .block-search{
                .field.search {
                    display: inline-block;
                    margin-left: 10px;
                    position: static;
                }
                .label {
                    .lib-icon-font-size(16);
                    + .search-content{
                        opacity: 0;
                        .transition(all,.3s,ease);
                        .translateY(-20px);
                        background: @white;
                        left:0;
                        overflow:hidden;
                        position: absolute;
                        z-index:-9;
                        top: 90px;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        .control{
                            min-height: 60px;
                            display: block;
                            width: 80%;
                            position: relative;
                            text-align: center;
                            margin: 0 auto;
                            border: 0 none;
                        }
                    }
                    &.active {
                        + .search-content {
                            opacity: 1;
                            .translateY(0px);
                            max-height: 99em;
                            overflow: visible;
                            display: block;
                            z-index: 9;
                            input {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
