//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body{
        .img-flag {
            max-width: 20px;
        }
        .page-header .switcher{
            margin-right: 0;
        }
        span.store {
            font-weight: @font-weight__bold;
            .lib-font-size(14);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body{

    }
}
