<?php
/**
 * Customer edit template
 *
 * @var $block \Meetanshi\GDPR\Block\Adminhtml\Customer\Settings
 */
?>
<div title="Personal Data" class="mt-gdpr-regular-split-button actions-split" id="mt-gdpr-pd-container">
    <button id="mt-gdpr-personaldata-btn" title="Personal Data" class="mt-gdpr-pd-btn abs-action-quaternary " data-ui-id="personal-data-button">
        <span>Personal Data</span>
    </button>
    <button title="Personal Data"
            class="action-toggle abs-action-quaternary"
            id="personal-data-button-dropdown"
            data-ui-id="personal-data-button-dropdown">
        <span>Select</span>
    </button>
    <ul class="dropdown-menu" data-ui-id="mt-gdpr-pd-datalist" id="mt-gdpr-pd-datalist">
        <li>
            <span id="personal_data-anonymise" title="Anonymise" class="item" data-ui-id="personal-data-button-item-0">
                Anonymize
            </span>
        </li>
        <li>
            <span id="personal_data-download" title="Download" class="item" data-ui-id="personal-data-button-item-1">
                Download
            </span>
        </li>
        <li>
            <span id="personal_data-delete" title="Delete" class="item" data-ui-id="personal-data-button-item-2">
                Delete
            </span>
        </li>
    </ul>
</div>
<style>
    .actions-split {
        position: relative;
        z-index: 1 !important;
    }
    .abs-actions-split-xl .action-toggle, .page-actions .actions-split .action-toggle {
        padding-right: 4rem;
        border: none;
        position: absolute;
        top: -5px;
        right: -15px;
        transform: rotateX(0deg);
        transition: 333ms;
    }

    .active-menu {
        transform: rotateZ(180deg) !important;
    }

    .mt-gdpr-pd-btn  {
        background: none;
        border: none;
        padding-left: 0;
    }
    .actions-split.active, .actions-split._active, .actions-split:hover {
        box-shadow: none;
    }
    .abs-action-menu, .actions-split .mt-gdpr-pd-dropdown {
        display: block;
        left: 0px;
        right: -30px;
    }
</style>
<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/alert',
        'domReady!'
    ], function ($, alert) {
        $("#mt-gdpr-pd-container").insertAfter('#save_and_continue');
        $('#mt-gdpr-personaldata-btn').click(function () {
            $('#mt-gdpr-pd-datalist').toggleClass('mt-gdpr-pd-dropdown');
            $('#personal-data-button-dropdown').toggleClass('active-menu');
        });
        $('#personal_data-anonymise').click(function () {
            window.location.href = "<?= /* @noEscape */ $block->getAnonymizationUrl();?>";
        });
        $('#personal_data-download').click(function () {
            window.location.href = "<?= /* @noEscape */ $block->getDownloadRequestUrl();?>";
        });
        $('#personal_data-delete').click(function(event){
            alert({
                title: 'Delete Account',
                content: "Are you sure you want to delete personal data? (Personal data in previously created orders, invoices, shipments and credit memos will be anonymised then.)",
                modalClass: 'alert',
                buttons: [{
                    text: $.mage.__('Delete Anyway'),
                    class: 'action primary accept',
                    click: function () {
                        window.location.href = "<?= /* @noEscape */ $block->getDeleteRequestUrl();?>";
                        this.closeModal(true);
                    }
                }, {
                    text: $.mage.__('Don\'t Delete'),
                    class: 'action',
                    click: function () {
                        this.closeModal(true);
                    }
                }]
            });
        })
    })
</script>
