<?php /** @var $block \Magento\Framework\Pricing\Render\Amount */ ?>
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
$_product = $block->getSaleableItem();
$_helper = $this->helper('Sg\Module\Helper\Data');

$stock = $_product->getExtensionAttributes()->getStockItem()->getQty();
$saleableQty = (0 - $_product->getExtensionAttributes()->getStockItem()->getMinQty());
$orderedQty = $stock < 0 ? $_product->getOrderedQty() - (0 - $stock) : $_product->getOrderedQty();
$availability="https://schema.org/InStock";
if ($_product->isAvailable() & $_product->isSalable()) :
    if($stock <= 0 && $saleableQty > 0):
        $availability="https://schema.org/PreOrder";
    elseif($stock <= 0 && $saleableQty <= 0):
        $availability="https://schema.org/SoldOut";
    endif;
else:
    $availability="https://schema.org/SoldOut";
endif;
?>

<span class="price-container <?= $block->escapeHtmlAttr($block->getAdjustmentCssClasses()) ?>"
        <?= $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
    <?php if ($block->getDisplayLabel()) :?>
        <span class="price-label"><?= $block->escapeHtml($block->getDisplayLabel()) ?></span>
    <?php endif; ?>
    <span <?php if ($block->getPriceId()) :?> id="<?= $block->escapeHtmlAttr($block->getPriceId()) ?>"<?php endif;?>
        <?= ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->escapeHtmlAttr($block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes()) . '"' : '' ?>
        data-price-amount="<?= $block->escapeHtmlAttr($block->getDisplayValue()) ?>"
        data-price-type="<?= $block->escapeHtmlAttr($block->getPriceType()) ?>"
        class="price-wrapper <?= $block->escapeHtmlAttr($block->getPriceWrapperCss()) ?>"
    ><?= $block->escapeHtml($block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()), ['span']) ?></span>
    <?php if ($block->hasAdjustmentsHtml()) :?>
        <?= $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
    <?php if ($block->getSchema()) :?>
        <meta itemprop="price" content="<?= $block->escapeHtmlAttr($block->getDisplayValue()) ?>" />
        <meta itemprop="priceCurrency" content="<?= $block->escapeHtmlAttr($block->getDisplayCurrencyCode()) ?>" />
        <meta itemprop="priceValidUntil" content="01/01/2050" />
        <meta itemprop="availability" content="<?= $availability?>" />
        <div itemprop="hasMerchantReturnPolicy" itemtype="https://schema.org/MerchantReturnPolicy" itemscope>
            <meta itemprop="applicableCountry" content="<?= strtoupper($_helper->getStoreCode()); ?>" />
            <meta itemprop="returnPolicyCategory" content="https://schema.org/MerchantReturnFiniteReturnWindow" />
            <meta itemprop="merchantReturnDays" content="14" />
            <meta itemprop="returnMethod" content="https://schema.org/ReturnByMail" />
            <meta itemprop="returnFees" content="https://schema.org/FreeReturn" />
        </div>
        <div itemprop="shippingDetails" itemtype="https://schema.org/OfferShippingDetails" itemscope>
          <div itemprop="shippingRate" itemtype="https://schema.org/MonetaryAmount" itemscope>
            <meta itemprop="value" content="0.00" />
            <meta itemprop="currency" content="<?= strtoupper($_helper->getCurrentCurrencyCode())?>" />
          </div>
          <div itemprop="shippingDestination" itemtype="https://schema.org/DefinedRegion" itemscope>
            <meta itemprop="addressCountry" content="<?= strtoupper($_helper->getStoreCode()); ?>" />
          </div>
          <div itemprop="deliveryTime" itemtype="https://schema.org/ShippingDeliveryTime" itemscope>
            <div itemprop="handlingTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="0" />
              <meta itemprop="maxValue" content="1" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
            <div itemprop="transitTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="1" />
              <meta itemprop="maxValue" content="5" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
          </div>
        </div>
    <?php endif; ?>
</span>
