//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .filter-content{
        .filter-options-title{
            width: 100%;
            padding-right: 0;
            &[aria-expanded="false"]{
                .lib-icon-font(
                    @icon-down,
                    @_icon-font-size: 15px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-color: @sg-green,
                    @_icon-font-position: after,
                    @_icon-font-color-hover: @sg-green
                );
            }
            &[aria-expanded="true"]{
                .lib-icon-font(
                    @icon-up,
                    @_icon-font-size: 15px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-color: @sg-green,
                    @_icon-font-position: after,
                    @_icon-font-color-hover: @sg-green
                );
            }
        }
        .filter-subtitle {
            display: block;
            border: 0;
            color: @white;
            margin: 0 0 15px 0;
            background-color: @sg-green;
            .lib-font-size(14);
            padding: 7px 10px 7px 24px;
            text-transform: uppercase;
        }
        .filter-options{
            .filter-options-item{
                line-height: inherit;
            }
            .filter-options-content {
                display: none;
                a {
                    &:hover{
                        color: @sg-green;
                        background-color: transparent;
                    }
                }
            }
        }
        .filter-current-subtitle{
            display: none;
        }
        .filter-actions{
            padding: 0;
            margin-bottom: 20px;
            .action.filter-clear{
                display: block;
                background-color: @sg-green;
                color: @white;
                padding: 8px 20px;
                .lib-font-size(14);
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;
                text-align: center;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .filter-options-title {
        .lib-font-size(15);
        font-weight: 600;
        text-transform: uppercase;
    }
    .sorter-options {
        margin: 0 0 0 5px;
    }
    .sorter-action{
        padding: 4px;
        background:#e8e8e8;
        height: 20px;
        width: 20px;
        line-height: 20px;
        border-radius: 50%;
        &.sort-desc{
            .lib-icon-font(
                @icon-down,
                @_icon-font-size: 10px,
                @_icon-font-color: @sg-green
            )
        }
        &.sort-asc{
            .lib-icon-font(
                @icon-up,
                @_icon-font-size: 10px,
                @_icon-font-color: @sg-green)
        }
    }
    .toolbar-sorter.sorter{
        background-color: transparent;
        padding: 3px;
        .sorter-label{
            display: none;
        }
    }
    .pages {
        strong.page{
            line-height: inherit;
            background-color: transparent;
        }
        .action{
            line-height: initial;
            border: 0 none;
            box-shadow: none;
            .next{
                margin-left: 0;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body{
        .filter-content{
            &.block-content {
                display: block !important;
                .filter-subtitle{
                    border-radius: 5px 5px 0 0;
                }
            }
        }
    }

}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body{
        .filter-trigger-wrapper{
            display: none;
        }
        .filter-content {
            display: none;
        }
        &.catalog-category-view,
        &.catalogsearch-result-index {
            .page-title-wrapper{
                margin-top: 20px;
                h1 {
                    text-align: center;
                }
            }
            #amasty-shopby-product-list{
                .toolbar-products.toolbar:first-child{
                    padding: 0;
                }
                .product-items{
                    margin-top: 0;
                }
                .products.wrapper {
                    margin: 0;
                    ~ .toolbar .sorter {
                        display: block;
                        background-color: #f0f0f0;
                        padding: 6px;
                        border-radius: 5px;
                    }
                }
            }
            .filter-options{
                display: inherit;
            }
            .filter-title{
                strong{
                    box-shadow: none;
                    .lib-button(
                        @_button-padding: 5px 30px
                    );
                    min-width: 30%;
                    box-sizing: border-box;
                }
            }
            .filter-subtitle{
                display: none;
            }
        }
    }
}
