<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <div class="checkout-agreements fieldset">
        <!-- ko foreach: consents -->
            <!-- ko if: (is_enabled == 1) -->
                <div class="checkout-agreement field choice required">
                    <!-- ko if: (is_required == 1) -->
                    <input type="checkbox" class="required-entry mt-consent-required"
                           data-bind="
                                    attr: {
                                            'id': consent,
                                            'name': 'consent[' + checkbox_name + ']',
                                            'value': consent
                                        }"/>
                    <!-- /ko -->
                    <!-- ko ifnot: (is_required == 1) -->
                    <input type="checkbox" class="required-entry"
                           data-bind="
                                    attr: {
                                            'id': consent,
                                            'name': 'consent[' + checkbox_name + ']',
                                            'value': consent
                                        }"/>
                    <!-- /ko -->
                    <label class="label_1 required-entry" data-bind="attr: {'for': consent}">
                        <span data-bind="html: checkbox_text"></span>
                            <!-- ko if: (is_required == 1) -->
                                <span style="color: #ff0000; margin: 0 0 0 5px;">*</span>
                            <!-- /ko -->
                    </label>
                </div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>

