& when (@media-common = true) {
  body{
      &.page-layout-blog{
          .page-main{
              background-color: #F3F1EA;
              max-width: 100%;
              padding: 0;
              .page-title-wrapper,
              .breadcrumbs{
                  background-color: @sg-green;
                  color: @color-white;
                  padding: 16px;
                  margin: 0;
                  max-width: 100%;
                  text-align: center;
              }
              .breadcrumbs{
                 ul{
                     a{
                         color: @color-white;
                     }
                 }
              }
              .column.main {
                  padding-bottom: 15%;
              }
              .page-title-wrapper{
                  .page-title{
                      font-family: 'Playfair Display', serif;
                      span{
                          color: @color-white;
                      }
                  }
              }
              .contents-grid{
                  max-width: @layout__max-width;
                  margin: 0 auto 50px;
              }
              .content-item{
                  background-color: @color-white;
              }
          }
          .grid-item-text {
              text-align: left;
              padding: 0 10px;
          }
      }
      &.blog {
          .page-main {
              background-color: #F3F1EA;
              max-width: 100%;
              padding: 0;
              #journal-view-page{
                  margin: 5% auto;
                  padding: 15px;
                  background-color: @color-white;
                  max-width: 1000px;
              }
              .title{
                  .lib-font-size(22);
                  font-family: "Playfair Display", sans-serif;
              }
              .boxed-layout {
                  margin-bottom: 0;
              }
              .classic-content{
                  .lib-font-size(17);
                  margin-bottom: 30px;
                  &.italic{
                      .lib-font-size(14);
                  }
                  .image, .text{
                      width: 50%;
                      padding: 0 10px;
                  }
                  &.double {
                      .lib-vendor-prefix-display();
                  }
              }
              h2, h3, h4, h5{
                  .lib-font-size(22);
                  font-family: "Playfair Display", sans-serif;
              }
              .content{
                  .lib-font-size(17);
              }
              .left{
                  text-align: left;
              }
              .right{
                  text-align: right;
              }
              .center{
                  text-align: right;
              }
              .italic{
                  font-style: italic;
              }
          }
          .page-bottom {
              margin-top: 10%;
          }
      }
      &.contentmanager-index-contentlist,
      .blog{
          .block-title{
              text-align: center;
              margin: 30px auto;
              strong{
                  .lib-font-size(25);
                  font-weight: @font-weight__semibold;
              }
          }
          .text-before{
              max-width: 800px;
              margin: 0 auto 50px;
              text-align: center;
          }
          .filters{
              text-align: center;
              margin: 0 auto;
              label.filter{
                  text-transform: uppercase;
                  font-weight: @font-weight__semibold;
              }
              #sorter-content-list{
                list-style: none;
                  padding: 10px 0 20px 0;
                  .lib-vendor-prefix-display();
                  .justify-content(center);
                  li{
                      padding: 0 10px;
                  }
                  .filter-value{
                      padding: 5px;
                      cursor: pointer;
                      font-size: 17px;
                      font-weight: bold;
                      color: @color-black;
                      &:hover,
                      &.active{
                          color: @sg-green
                      }
                  }
              }
          }
          .contents-items.blog{
              position: relative;
              .lib-vendor-prefix-display();
              .lib-vendor-prefix-flex-wrap(wrap);
              margin-bottom: 50px;
              padding: 0 15px;
              /* clear fix */
              .blog-image-container{
                  max-width: 100%;
                  display: block;
                  position: relative;
                  box-sizing: border-box;
                  min-width: 300px;
              }
              .grid-item{
                  position: relative;
                  -webkit-box-flex: 1;
                  -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
                  text-align: center;
                  word-wrap:break-word;
                  max-width: 100%;
              }
              a.image-content {
                  overflow: hidden;
              }
              .content-item{
                  position: relative;
                  margin: 15px;
                  .title{
                      font-weight: @font-weight__semibold;
                      .lib-font-size(18);
                      font-family: 'Playfair Display';
                      margin-bottom: 0;
                  }
                  img{
                      max-height: 245px;
                      box-sizing: border-box;
                  }
                  .grid-item-text{
                      min-height: 100px;
                  }
                  .grid-item-link{
                      .lib-button(
                          @_button-border: 0 none
                      );
                  }
                  .grid-item-description{
                      margin-bottom: 5px;
                      display: block;
                      .lib-font-size(14);
                      min-height: 70px;
                  }
                  .grid-item-text {
                      text-align: center;
                      .lib-vendor-prefix-display();
                      .lib-vendor-box-align(center);
                      .justify-content(center);
                  }
              }
              .date {
                  background: @sg-green;
                  padding: 2px 5px 0;
                  color: @white;
                  font-weight: @font-weight__semibold;
                  position: absolute;
                  top: 0;
                  left: 0;
              }
          }
      }
      &.contentmanager-content-view{
          .boxed-layout{
              margin-bottom: 50px;
              text-align: center;
              .text {
                  margin: 20px auto;
              }
              .image{
                margin-bottom: 20px;
              }
              .button-back{
                  text-transform: uppercase;
                  font-weight: bold;
                  text-decoration: underline;
                  .lib-font-size(12);
                  margin-bottom: 20px;
              }
              .action.primary{
                  margin-bottom: 10px;
              }
          }
      }
  }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  body {
      &.blog{
          .page-main{
              #journal-view-page{
                  padding: 60px;
              }
              .title{
                  .lib-font-size(36);
              }
              .classic-content{
                  .image, .text{
                      width: 50%;
                      padding: 10px;
                  }
                  &.italic{
                      .lib-font-size(22);
                  }
                  &.double{
                      .lib-vendor-prefix-display();
                      &.center{
                          .justify-content(center);
                      }
                      &.bottom{
                          .justify-content(flex-end);
                      }
                  }
              }
          }
      }
      &.contentmanager-index-contentlist,
      .blog{
          .block-title{
              strong{
                  .lib-font-size(40);
              }
          }

          .contents-items.blog{
              .content-item{
                  max-width: 30%;
                  margin-left: 2%;
              }
          }
      }
  }
}
// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body {
        &.blog{
            .page-main{
                .classic-content{
                    &.double{
                        .lib-vendor-prefix-display();
                    }
                }
                .boxed-layout{
                    .text{
                        font-size: 12px !important;
                        padding-top: 0 !important;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
