& when (@media-common = true) {
  body{
      .category-blocks{
          .blocks{
              .lib-vendor-prefix-display(flex);
              .lib-vendor-prefix-flex-wrap(wrap);
          }
          .block-title{
              text-align: center;
              color: @black;
              font-weight: @font-weight__bold;
              .lib-font-size(32);
              margin-bottom: 30px;
              margin-top: 50px;
          }
          .subtitle{
              text-align: center;
              .lib-font-size(28);
              color: @black;
              margin: 0;
              text-transform: lowercase;
              font-weight: bold;
              padding-bottom: 27px;
          }
          .blocks{
              padding-bottom: 10px;
              .swiper-wrapper{
                  .lib-vendor-box-align(flex-start);
              }
          }
          &.blocks_2,
          &.blocks_3,
          &.blocks_4{
              padding-top: 27px;
              .blocks{
                  .category-content{
                      border: 1px solid #eee;
                      margin-bottom: 30px;
                      border-radius: 20px;
                      box-sizing: border-box;
                      overflow: hidden;
                  }
              }
              .category-content{
                  -webkit-transition: all 0.2s ease-in-out;
                  -o-transition: all 0.2s ease-in-out;
                  transition: all 0.2s ease-in-out;
                  .category-title{
                      .lib-font-size(26);
                      color: @black;
                      margin: 0;
                      padding-bottom: 6px;
                  }
                  .category-subtitle{
                      font-family: @font-family__serif;
                      .lib-font-size(24);
                      color: @sg-green;
                      margin: 0;
                      opacity: 0.7;
                      padding-bottom: 6px;
                  }
                  &:hover{
                      background-color: @sg-green;
                      .category-title,
                      .category-subtitle{
                          color: @white;
                      }
                  }
              }
              .category-image{
                  overflow: hidden;
                  margin: 0;
                  img{
                      width: 100%;
                      -webkit-transition: .3s ease-in-out;
                      transition: .3s ease-in-out;
                  }
              }
          }
          &.double-banner{
              .category-image{
                  overflow: hidden;
                  margin: 0;
                  img{
                      -webkit-filter: grayscale(0);
                      filter: grayscale(0);
                  }
              }
              .category-title{
                  padding: 50px 0 0;
                  .lib-font-size(40);
                  color: @text_gray;
                  line-height: inherit;
                  margin-bottom: 15px;
                  font-weight: @font-weight__bold;
              }
              .category-subtitle{
                  .lib-font-size(24);
                  color: @text_gray;
              }
          }
          .ct-field-area{
              margin: 20px auto;
          }
          .action-container{
              margin: 10px;
          }
          .category-text{
              padding: 10px;
              &.right{
                  text-align: right;
              }
              &.center{
                  text-align: center;
              }
              &.left{
                  text-align: left;
              }
          }
          .action.link {
              display: block;
              color: @black;
              position: relative;
              &:hover{
                  text-decoration: none;
                  color: @sg-green
              }
              &::before{
                  content: '';
                  background-image: url(https://www.pianetafarmacia.com/skin/frontend/tdtheme/default/images/frecciaright.svg);
                  background-repeat: no-repeat;
                  background-position: center left;
                  background-size: contain;
                  width: 10px;
                  height: 10px;
                  display: inline-block;
              }
          }
      }
  }
}


// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body {
        .category-blocks{
            .blocks{
                &.onSlider{
                    .swiper-wrapper{
                        .lib-vendor-prefix-flex-wrap(wrap);
                    }
                }
            }
            &.blocks_2,
            &.blocks_3,
            &.blocks_4 {
                padding-top: 27px;
                .blocks {
                    .category-content {
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }
            }
            &.blocks_2{
                .blocks{
                    .category-content{
                        width: 48%;
                    }
                }
            }
            &.blocks_3{
                .blocks{
                    .swiper-wrapper{
                        .justify-content(center);
                    }
                    .category-content{
                        -webkit-box-flex: 2;
                        -ms-flex: 2 2 30%;
                        flex: 2 2 30%;
                    }
                }
            }
            &.blocks_4{
                .blocks{
                    .category-content{
                        width: 25%;
                    }
                }
            }
            &.double-banner{
                .blocks{
                    .swiper-wrapper{
                        .lib-vendor-box-align(center);
                    }
                    .category-content{
                        width: 40%;
                        &:first-child{
                            width: 60%;
                        }
                    }
                }
            }
            .pagination-container{
                display: none;
            }
        }
    }
}

//tablet & mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
  body {
      .category-blocks {
          .blocks{
              .lib-vendor-prefix-flex-wrap(wrap);
              .category-text{
                  .category-title{
                      text-align: center;
                      .lib-font-size(20);
                  }
                  .action{
                      text-align: center;
                  }
              }
          }
          &.blocks_4{
              .category-text{
                  padding: 12px;
                  margin-bottom: 10px;
              }
          }
          &.double-banner{
              .category-content{
                  text-align: center;
                  margin: 20px auto;
                  .category-subtitle{
                      text-align: center;
                  }
              }
          }
      }
  }
}
