& when (@media-common = true) {
  body{
      .content-blocks{
          .blocks{
              display: -ms-grid;
              display: grid;
              -webkit-column-gap: 10px;
              -moz-column-gap: 10px;
              column-gap: 10px;
              row-gap: 10px;
          }
          .content{
              &.overlay{
                  position: relative;
                  &.text{
                      position: absolute;
                      top: 0;
                      z-index: 1;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      &.center{
                          .lib-vendor-box-align(center);
                          .justify-content(center);
                          text-align: center;
                      }
                  }
              }
              .text{
                  height: 100%;
                  margin: 0 auto;
                  .lib-vendor-prefix-display(flex);
                  padding: 0 10px;
                  &.top{
                      .lib-vendor-box-align(flex-start);
                  }
                  &.center{
                      .lib-vendor-box-align(center);
                      text-align: center;
                  }
                  &.bottom{
                      .lib-vendor-box-align(flex-end);
                  }
              }
              a {
                  color: inherit;
              }
              .button{
                  .lib-button();
              }
              .image{
                  width: 100%;
                  height: 100%;
                  a {
                      display: block;
                      height: 100%;
                      color: inherit;
                  }
                  img{
                      width: 100%;
                      height: 100%;
                  }
              }
          }
          .block-title{
              text-align: center;
              color: @black;
              font-weight: @font-weight__bold;
              .lib-font-size(32);
              margin-bottom: 30px;
              margin-top: 50px;
          }
          .subtitle{
              text-align: center;
              .lib-font-size(28);
              color: @black;
              margin: 0;
              text-transform: lowercase;
              font-weight: bold;
              padding-bottom: 27px;
          }
      }
  }
}


// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body {
        .content-blocks{
            .pagination-container{
                display: none;
            }
            .blocks{
                &.blocks_2{
                    grid-template-columns: repeat(2, 1fr);
                }
                &.blocks_3{
                    grid-template-columns: repeat(3, 1fr);
                }
                &.blocks_4{
                    grid-template-columns: repeat(4, 1fr);
                }
            }
            .content{
                &.grid-item-row-1 {
                    -ms-grid-row-span: 1;
                    grid-row-end: span 1;
                }
                &.grid-item-row-2 {
                    -ms-grid-row-span: 2;
                    grid-row-end: span 2;
                }
                &.grid-item-column-1{
                    -ms-grid-column-span: 1;
                    grid-column-end: span 1;
                }
                &.grid-item-column-2{
                    -ms-grid-column-span: 2;
                    grid-column-end: span 2;
                }
            }
        }
        .img-mobile{
            display: none;
        }
    }
}

//tablet & mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
  body {
      .content-blocks {
          .blocks{
              .category-text{
                  .category-title{
                      text-align: center;
                      .lib-font-size(20);
                  }
                  .action{
                      text-align: center;
                  }
              }
              &.blocks_mob_2{
                  grid-template-columns: repeat(2, 1fr);
              }
              &.blocks_mob_3{
                  grid-template-columns: repeat(3, 1fr);
              }
              &.blocks_mob_4{
                  grid-template-columns: repeat(4, 1fr);
              }
              .content{
                  &.grid-item-row-mobile-1 {
                      -ms-grid-row-span: 1;
                      grid-row-end: span 1;
                  }
                  &.grid-item-row-mobile-2 {
                      -ms-grid-row-span: 2;
                      grid-row-end: span 2;
                  }
                  &.grid-item-column-mobile-1{
                      -ms-grid-column-span: 1;
                      grid-column-end: span 1;
                  }
                  &.grid-item-column-mobile-2{
                      -ms-grid-column-span: 2;
                      grid-column-end: span 2;
                  }
              }
              .img-desktop{
                  display: none;
              }
          }
      }
  }
}
