& when (@media-common = true) {
  body{
    .products-container{
      max-width: 100%;
      clear: both;
      margin: 0 auto;
        padding: 0 15px;
      .title{
        .lib-font-size(30);
        text-align: center;
        margin-bottom: 20px;
        font-weight: @font-weight__semibold;
        text-transform: uppercase;
      }
      .subtitle{
        .lib-font-size(20);
        text-align: center;
        font-weight: normal;
        font-style: italic;
        letter-spacing: 2px;
      }
      .container-titles {
        padding: 20px 0;
      }
      .products-slider {
        position: relative;
        margin: 20px auto;
        position: relative;
        box-sizing: border-box;
        display: block;
        overflow: hidden;
        .product-item-manufacturer{
            .lib-font-size(12);
            color: @sg-green;
            font-weight: @font-weight__bold;
        }
      }
    .swiper-slide{
        text-align: center;
        .product-item-photo {
            border: 1px solid #ddd;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            text-align: center;
            max-height: 300px;
            .img-product{
                padding: 20px;
                box-sizing: border-box;
            }
        }
    }
      .swiper-button-container{
        .swiper-button-prev,
        .swiper-button-next{
          &::before{
           .lib-font-size(30);
          }
        }
        .swiper-button-prev{
          left: 0;
          background-image: none;
        }
        .swiper-button-next{
          right: 0;
          background-image: none;
        }
      }
    .product-item-details{
        text-align: center;

        .product-item-name{
            max-width: 400px;
            margin: 10px auto;
            height: 100px;
            display: table-cell;
            vertical-align: middle;
            a{
                .lib-font-size(12);
                display: block;
                overflow: hidden;

                margin: 5px 10px;
                font-weight: @font-weight__semibold;
                line-height: 17px;
                text-transform: uppercase;
                &:hover{
                    text-decoration: none;
                    color: @sg-green
                }
            }
        }
        .product.actions.product-item-actions {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            width: 100%;
            .justify-content(center);
            form{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                width: 100%;
                .justify-content(center);
            }
            .field.qty{
                min-width: 52px;
                margin-right: 20px;
                margin-top: 0;
                select#qty {
                    border: 1px solid #ddd;
                }
            }
        }
        .action.primary{
            padding: 10px;
            width: auto;
            .lib-font-size(12);
            line-height: initial;
        }
    }
    }
  }
}


// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  body {
    .products-container {
      max-width: @layout__max-width;
      position: relative;
      .title{
        .lib-font-size(19);
      color: #909090;
      text-transform: uppercase;
      font-weight: bold;
      margin: 10px auto 30px;
      border-bottom: 1px solid #ebf7fa;
      padding-bottom: 15px;
      text-align: center;
      }
      .container-titles {
        padding-top: 50px;
        padding-bottom: 0;
      }
      .products-slider {
        margin-bottom: 40px;
      }
      .pagination-container{
        display: none;
      }
    }
  }
}

//tablet & mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
  body {
    .products-container {
      padding: 0 15px;
      margin: 30px auto;
        .container-titles{
            .title{
                color: #909090;
                .lib-font-size(19);
                text-transform: uppercase;
                font-weight: 600;
                margin: 10px auto 30px;
                border-bottom: 1px solid #ebf7fa;
                padding-bottom: 15px;
                text-align: center;
            }
        }
        .product-item-photo {
            text-align: center;
        }
      .product-item-details{
        .product-item-name{
          text-align: center;
        }
        .price-box{
          .justify-content(center);
          .price-container span{
            margin-right: 0;
          }
        }
      }
      .swiper-button-container{
        .swiper-button-prev,
        .swiper-button-next{
          display: none;
        }
      }
    }
  }
}
