<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
$_helper = $this->helper('Sg\Module\Helper\Data');
$_product = $block->getProduct();
$stock = $_product->getExtensionAttributes()->getStockItem()->getQty();
$saleableQty = (0 - $_product->getExtensionAttributes()->getStockItem()->getMinQty());
$orderedQty = $stock < 0 ? $_product->getOrderedQty() - (0 - $stock) : $_product->getOrderedQty();
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if($stock > 0):?>
                <?php if ($block->shouldRenderQuantity()): ?>
                    <div class="field qty">
                        <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                        <select name="qty" id="qty" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>">
                            <?php $i = 1;?>
                            <?php
                            while( $i <= $_helper->getStockQty($_product->getId())) { ?>
                                <option value="<?php echo $block->getProductDefaultQty() * $i; ?>"><?php echo $block->getProductDefaultQty() * $i; ?></option>
                                <?php
                                if( $i >= 10 ){
                                    break;
                                }
                                $i++;
                                ?>
                            <?php } ?>
                        </select>
                    </div>
                <?php endif; ?>
                <div class="actions">
                    <button type="submit"
                            title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                            class="action primary tocart"
                            id="product-addtocart-button">
                        <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                    </button>
                    <?php echo $block->getChildHtml('', true) ?>
                </div>
                <?php elseif($stock <= 0 && ($_product->getOrderedQty() >= $stock) && $saleableQty > 0):?>
                    <?php if($_product->getShippingFrom() != null && $orderedQty > 0):?>
                        <div class="field qty">
                            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                            <select name="qty" id="qty" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                    class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>">
                                <?php $i = 1;?>
                                <?php
                                while( $i <= $orderedQty) { ?>
                                    <option value="<?php echo $block->getProductDefaultQty() * $i; ?>"><?php echo $block->getProductDefaultQty() * $i; ?></option>
                                    <?php
                                    if( $i >= 10 ){
                                        break;
                                    }
                                    $i++;
                                    ?>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="actions">
                            <button type="submit"
                                    title="<?php /* @escapeNotVerified */ echo  __('Preorder');?>"
                                    class="action primary tocart"
                                    id="product-addtocart-button">
                                <span><?php /* @escapeNotVerified */ echo  __('Preorder'); ?></span>
                            </button>
                            <?php echo $block->getChildHtml('', true) ?>
                        </div>
                    <?php else: ?>
                        <div class="field qty">
                            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                            <select name="qty" id="qty" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                    class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>">
                                <?php $i = 1;?>
                                <?php
                                while( $i <= $saleableQty) { ?>
                                    <option value="<?php echo $block->getProductDefaultQty() * $i; ?>"><?php echo $block->getProductDefaultQty() * $i; ?></option>
                                    <?php
                                    if( $i >= 10 ){
                                        break;
                                    }
                                    $i++;
                                    ?>
                                <?php } ?>
                            </select>
                        </div>
                    <div class="actions">
                        <button type="submit"
                                title="<?php /* @escapeNotVerified */ echo  __('order');?>"
                                class="action primary tocart"
                                id="product-addtocart-button">
                            <span><?php /* @escapeNotVerified */ echo  __('order'); ?></span>
                        </button>
                        <?php echo $block->getChildHtml('', true) ?>
                    </div>
               <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true,
                "stockInfo" : <?= $stock;?>,
                "saleableQty" : <?= $saleableQty;?>
            }
        }
    }
</script>
<?php endif; ?>
