<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $this->getProduct();?>
<?php if($_helper->productAttribute($_product, $_product->getCustomField2(), 'custom_field_1')):?>
<div class="product attribute"><strong><?php echo $_product->getResource()->getAttribute('custom_field_1')->getStoreLabel();?></strong><div class="value"><?php echo $_product->getResource()->getAttribute('custom_field_1')->getFrontend()->getValue($_product); ?></div></div>
<?php
endif;?>
<?php if ($_helper->productAttribute($_product, $_product->getCustomField2(), 'custom_field_2')):?>
    <div class="product attribute">
        <strong><?php echo $_product->getResource()->getAttribute('custom_field_2')->getStoreLabel();?></strong>
        <div class="value"><?php echo $_product->getData('custom_field_2');?></div>
    </div>
<?php
endif;?>
<?php
if ($_product->getData('net_size_x') || $_product->getData('net_size_y') || $_product->getData('net_size_z')):?>
    <div class="product attribute">
        <strong><?php echo $_product->getResource()->getAttribute('custom_field_4')->getStoreLabel();?></strong>
        <div class="value"><?php echo $_product->getResource()->getAttribute('net_size_x')->getStoreLabel() . ' ' . $_product->getData('net_size_x') ?> x
        <?php echo $_product->getResource()->getAttribute('net_size_y')->getStoreLabel() . ' ' . $_product->getData('net_size_y') ?> x
        <?php echo $_product->getResource()->getAttribute('net_size_z')->getStoreLabel() . ' ' . $_product->getData('net_size_z') ?>
        <br/><?php echo str_replace('#',', ',$_product->getData('custom_field_4'))?>
        </div>
    </div>
<?php
endif;?>


<?php
    if ($_helper->productAttribute($_product, $_product->getCustomField3(), 'custom_field_3')):?>
    <div class="product attribute">
        <strong><?php echo $_product->getResource()->getAttribute('custom_field_3')->getStoreLabel();?></strong>
        <div class="value"><?php echo $_product->getData('custom_field_3')?></div>
    </div>
<?php
endif;?>

