<?php
$_product = $this->getProduct();
/** @var $block \Magento\Catalog\Block\Product\View */
if($_product):?>
    <meta itemprop="image" content="<?php /* @escapeNotVerified */ echo $block->stripTags($block->getImage($_product, 'product_base_image')->getImageUrl()); ?>">
    <meta itemprop="description" content="<?php /* @escapeNotVerified */ echo $block->escapeQuote($block->stripTags($_product->getDescription())) ?>">
    <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
        <meta itemprop="name" content="<?php echo $block->stripTags("Simone Guarracino - Luxury Design"); ?>" />
    </div>
<?php endif ?>


