<?php
/**
 * Copyright (c) 2017 Web Project Solutions (info@webprojectsol.com)
 *
 * SOFTWARE LICENSE AGREEMENT
 *
 * This Software is not free.
 *
 * Developer hereby grants to Licensee a perpetual, non-exclusive,
 * limited license to use the Software as set forth in this Agreement.
 *
 * Licensee shall not modify, copy, duplicate, reproduce, license or sublicense the Software,
 * or transfer or convey the Software or any right in the Software to anyone else
 * without the prior written consent of Developer; provided that Licensee may
 * make one copy of the Software for backup or archival purposes.
 *
 *
 * @author Antonello Venturino <info@webprojectsol.com>
 * @copyright  2017 Web Project Solutions
 * @version  Release: 2.1.7 $
 * @license    http://www.webprojectsol.com/license.php
 * @url  http://www.webprojectsol.com/it/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html
 */
$process = $this->getCronProcess()

?>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <style>
            .ui-progressbar {
                position: relative;
            }
            .progress-label {
                position: absolute;
                left: 50%;
                top: 4px;
                font-weight: bold;
                text-shadow: 1px 1px 0 #fff;
            }
        </style>
        <script type="text/javascript">
        $(function () {
        var progressbar = $("#progressbar"),
            progressbarValue = progressbar.find(".ui-progressbar-value"),
            progressLabel = $(".progress-label");
        progressbarValue.css({
            "background": '#00bfff'
        });

        progressbar.progressbar({
            value: <?php echo $process[0]; ?>,
            change: function () {
            progressLabel.text(progressbar.progressbar("value") + "%");
            },
            complete: function () {
            progressLabel.text("<?php echo __('Complete!') ?>");
            }
        });
        });
        </script>
    </head>
    <body>
        <div id="progressbar"><div class="progress-label"><?php echo __('Loading...') ?></div></div>
        <div id="process_function" style="font-style:italic"><?php echo $process[1]; ?></div>

        <script type="text/javascript">
        $('document').ready(function () {
        processProgress();
        function processProgress() {
            $.ajax({
            method: 'GET',
            url: '<?php
echo $this->getUrl('*/*/progress', array('filename_id' => $this->getRequest()->getParam('filename_id')))

?>',
            dataType: 'json',
            success: function (json) {
                $("#progressbar").progressbar({
                value: json[0]
                });
                $('#process_function').html(json[1]);
                if (json[0] === 100) {

                $('<audio style="display:none" controls="controls" autoplay="autoplay"><source src="<?php echo $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/complete.ogg') ?>" type="audio/ogg" /></audio>').insertAfter("#process_function");
                setTimeout(function () {
                    window.top.location.href = '<?php
echo $this->getUrl('*/*/report', array('filename_id' => $this->getRequest()->getParam('filename_id')))

?>';
                }, 4000);
                } else {
                setTimeout(function () {
                    processProgress();
                }, 1000);
                }
            },
            error: function () {
                console.log('Errore!');
            }
            });
        }
        });
        </script>
    </body>
</html>