<?php
/**
 * Copyright (c) 2017 Web Project Solutions (info@webprojectsol.com)
 *
 * SOFTWARE LICENSE AGREEMENT
 *
 * This Software is not free.
 *
 * Developer hereby grants to Licensee a perpetual, non-exclusive,
 * limited license to use the Software as set forth in this Agreement.
 *
 * Licensee shall not modify, copy, duplicate, reproduce, license or sublicense the Software,
 * or transfer or convey the Software or any right in the Software to anyone else
 * without the prior written consent of Developer; provided that Licensee may
 * make one copy of the Software for backup or archival purposes.
 *
 *
 * @author Antonello Venturino <info@webprojectsol.com>
 * @copyright  2017 Web Project Solutions
 * @version  Release: 2.1.7 $
 * @license    http://www.webprojectsol.com/license.php
 * @url  http://www.webprojectsol.com/it/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html
 */
$report = $this->getReport();
if ($report) :
    $report = json_decode($report->getJsonReport(), true);

    ?>
    <div class="admin__data-grid-wrap-static">
        <table class="data-grid data-grid-draggable" width="100%">
            <thead>
                <tr>
                    <th class="data-grid-th" colspan="2"><strong><?php echo __('Details of the import'); ?></strong></th>
                </tr>
            </thead>
            <tbody>
                <?php $c = 0; ?>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Import mode'); ?></td>
                    <td><?php echo $report['mode']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Import date'); ?></td>
                    <td><?php echo $report['data']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Time spent'); ?></td>
                    <td><?php echo $report['tempo_impiegato']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Peak Memory'); ?></td>
                    <td><?php echo $report['picco_memoria']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Total products in catalog EasyFatt'); ?></td>
                    <td><?php echo $report['Ptotali']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Updated products'); ?></td>
                    <td><?php echo $report['Paggiornati']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('New products added to the catalog'); ?></td>
                    <td><?php echo $report['Paggiunti']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Products skipped during the import'); ?></td>
                    <td><?php echo $report['Psaltati']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Products deleted from the catalog'); ?></td>
                    <td><?php echo $report['Peliminati']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Products not deleted from the catalog'); ?></td>
                    <td><?php echo $report['Pnoneliminati']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('New Imported Categories'); ?></td>
                    <td><?php echo $report['categorie']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Empty categories deleted'); ?></td>
                    <td><?php echo $report['Celiminate']; ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Uploaded images'); ?></td>
                    <td><?php echo (isset($report['upload_img']) ? $report['upload_img'] : '0'); ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Time Loading Images'); ?></td>
                    <td><?php echo (isset($report['tempo_ftp_impiegato']) ? $report['tempo_ftp_impiegato'] : \Webprojectsol\DaneaEasyFatt\Helper\Data::_SecondsToWords('0')); ?></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Errors'); ?></td>
                    <td><?php echo sizeof($report['errori_det']); ?></td>
                </tr>
                <?php
                if (sizeof($report['errori_det']) > 0) {

                    ?>
                    <tr class="<?php
                    echo ($c % 2 ? 'even' : 'odd');
                    ++$c

                    ?>">
                        <td><?php echo __('Error Details'); ?></td>
                        <td><?php
                            foreach ($report['errori_det'] as $errore) {
                                echo $errore . '<br />';
                            }

                            ?></td>
                    </tr>
                <?php } ?>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Result Import'); ?></td>
                    <td style="background-image:none !important">
                        <span class="grid-severity-<?php echo $report['esito_det']; ?>">
                            <?php echo $report['esito']; ?>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
        <table class="data-grid data-grid-draggable" width="100%">
            <thead>
                <tr>
                    <th class="data-grid-th" colspan="2"><strong><?php echo __('Configuration during this import'); ?></strong></th>
                </tr>
            </thead>
            <tbody><!--class="data-row" -->
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Fast update (no imports of new products)'); ?></td>
                    <td><img alt="" src="<?php
                        echo ($report['aggiornamento_rapido'] === '1' ? $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/tick.png', array('area' => 'adminhtml')) : $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/cross.png', array('area' => 'adminhtml')));

                        ?>" /></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Only Update (only quantities and prices)'); ?></td>
                    <td><img alt="" src="<?php
                        echo ($report['solo_aggiornamento'] === '1' ? $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/tick.png', array('area' => 'adminhtml')) : $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/cross.png', array('area' => 'adminhtml')));

                        ?>" /></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Create Categories'); ?></td>
                    <td><img alt="" src="<?php
                        echo ($report['crea_categorie'] === '1' ? $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/tick.png', array('area' => 'adminhtml')) : $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/cross.png', array('area' => 'adminhtml')));

                        ?>" /></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Delete Products removed on EasyFatt'); ?></td>
                    <td><img alt="" src="<?php
                        echo ($report['elimina_p'] === '1' ? $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/tick.png', array('area' => 'adminhtml')) : $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/cross.png', array('area' => 'adminhtml')));

                        ?>" /></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Delete empty categories'); ?></td>
                    <td><img alt="" src="<?php
                        echo ($report['elimina_c'] === '1' ? $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/tick.png', array('area' => 'adminhtml')) : $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/cross.png', array('area' => 'adminhtml')));

                        ?>" /></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('Behavior Quantity Zero'); ?></td>
                    <td><img alt="" src="<?php
                        echo ($report['comp_qty'] === '1' ? $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/tick.png', array('area' => 'adminhtml')) : $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/cross.png', array('area' => 'adminhtml')));

                        ?>" /></td>
                </tr>
                <tr class="<?php
                echo ($c % 2 ? 'even' : 'odd');
                ++$c

                ?>">
                    <td><?php echo __('NOTES field as description'); ?></td>
                    <td><img alt="" src="<?php
                        echo ($report['note'] === '1' ? $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/tick.png', array('area' => 'adminhtml')) : $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/cross.png', array('area' => 'adminhtml')));

                        ?>" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
<?php else : ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo __('Notice'); ?></h4>
        </div>
        <div class="fieldset notice-msg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo __('This catalog was not imported.'); ?></div>
    </div>
        		                                                <?php
endif;