<?php
/**
 * Copyright (c) 2017 Web Project Solutions (info@webprojectsol.com)
 *
 * SOFTWARE LICENSE AGREEMENT
 *
 * This Software is not free.
 *
 * Developer hereby grants to Licensee a perpetual, non-exclusive,
 * limited license to use the Software as set forth in this Agreement.
 *
 * Licensee shall not modify, copy, duplicate, reproduce, license or sublicense the Software,
 * or transfer or convey the Software or any right in the Software to anyone else
 * without the prior written consent of Developer; provided that Licensee may
 * make one copy of the Software for backup or archival purposes.
 *
 *
 * @author Antonello Venturino <info@webprojectsol.com>
 * @copyright  2017 Web Project Solutions
 * @version  Release: 2.1.7 $
 * @license    http://www.webprojectsol.com/license.php
 * @url  http://www.webprojectsol.com/it/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html
 */
if ($this->isNotTested()) :

    ?>
    <div class="admin__data-grid-wrap-static">
        <table class="data-grid data-grid-draggable" width="100%">
            <thead>
                <tr>
                    <th class="data-grid-th" colspan="2"><strong><?php echo __('Get the value of the number of products to be imported for each cron job'); ?></strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <?php echo __('This procedure is used to measure the ability of the server to import products. Pressing the test button starts the procedure that will import a product for an indefinite number of times, when the procedure will stop means that the server has stopped import, and then the approximate value of the server\'s ability to import a limited number product will be the result.') ?>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <?php
else :

    ?>
    <div class="messages">
        <div class="message message-success success">
            <div data-ui-id="messages-message-success">
                <?php echo __('The test is already been made. To repeat you must activate the relevant option in the module configuration Danea EasyFatt for the Import/Update Catalog.') ?>
            </div>
        </div>
    </div>
<?php
endif;