<?php
/**
 * Copyright (c) 2017 Web Project Solutions (info@webprojectsol.com)
 *
 * SOFTWARE LICENSE AGREEMENT
 *
 * This Software is not free.
 *
 * Developer hereby grants to Licensee a perpetual, non-exclusive,
 * limited license to use the Software as set forth in this Agreement.
 *
 * Licensee shall not modify, copy, duplicate, reproduce, license or sublicense the Software,
 * or transfer or convey the Software or any right in the Software to anyone else
 * without the prior written consent of Developer; provided that Licensee may
 * make one copy of the Software for backup or archival purposes.
 *
 *
 * @author Antonello Venturino <info@webprojectsol.com>
 * @copyright  2017 Web Project Solutions
 * @version  Release: 2.1.7 $
 * @license    http://www.webprojectsol.com/license.php
 * @url  http://www.webprojectsol.com/it/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html
 */

?>
<form action="<?php
echo $this->getUrl('*/*/savetryimport', array('form_key' => $this->getFormKey()));

?>" method="post" id="tryimportForm" name="tryimportForm" style="display:none">
    <input type="hidden" value="0" name="tryimportvalue" id="tryimportHiddenValue" />
    <h1>Il valore ottenuto è <span id="tryimportValue">0</span></h1>
    <button id="save_tryimport" onclick="this.form.submit()" class="scalable save" type="button"><span><?php echo __('Save the value obtained'); ?></span></button>
</form>
<div id="tryError" style="display:none">
    <div class="messages">
        <div class="message message-error error">
            <div data-ui-id="messages-message-error">
                <?php echo __('Warning: The module cannot determinates the capacity of the server, please try again reloading this page or setup it manually.') ?>
            </div>
        </div>
    </div>
    <div class="admin__data-grid-wrap-static">
        <table class="data-grid data-grid-draggable" width="100%">
            <thead>
                <tr>
                    <th class="data-grid-th" colspan="2"><strong><?php echo __('Manual Setup Server Capacity'); ?></strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <?php echo __('You have to go in admin->Setting->Configuration->Web Project Solutions Extensions->Danea EasyFatt: Import/Upgrade Catalog->Cron job and set the options as follow:') ?>
                        <ul>
                            <li><?php echo __('Number of products to be imported') . ' = 100' ?></li>
                            <li><?php echo __('Test Cron Job') . ' = no' ?></li>
                            <li><?php echo __('Try Import Server') . ' = no' ?></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="loading_value" style="width:50%;height:22px"></div>
<em id="loading_text"><?php echo __('Verification process in progress, this takes one minute, please wait and do not close this page') ?></em>
<script type="text/javascript">
    require([
    'jquery',
    'jquery/ui'
    ],
        function ($) {
        $('#loading_value').css('background-image', 'url("<?php echo $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/bar.gif') ?>")');
        $.ajax({
            type: 'get',
            url: "<?php echo $this->getUrl('*/*/ajax') ?>"
        }).always(function () {
            $.ajax({
            type: 'get',
            dataType: "json",
            url: "<?php echo $this->getUrl('*/*/value') ?>"
            }).done(function (data) {
            console.log(data);
            $('#tryimportHiddenValue').attr('value', data);
            $('#tryimportValue').html(data);
            $('#tryimportForm').fadeIn();
            }).fail(function () {
            $('#tryError').fadeIn();
            }).always(function () {
            $('#loading_value').fadeOut();
            $('#loading_text').fadeOut();
            });
        });
        }
    );
</script>