<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var $block \Magento\Backend\Block\Page\Header */
?>
<style type="text/css">
    .page-layout-admin-login .admin__legend{
        color: #000000;
    }
    .page-layout-admin-login .action-primary{
        background-color: #000000;
        border-color: #000000;
        width: 100%;
    }
    .adminhtml-auth-login .form-actions{
        width: 100%;
    }
    .login-header {
        text-align: center;
    }


    <?php if ($this->helper("\Sg\AdminTheme\Helper\Data")->getBgImage()): ?>
        .page-layout-admin-login {
            background-image: url(<?php echo $this->helper("\Sg\AdminTheme\Helper\Data")->getBgImage() ?>);
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
    <?php endif; ?>

    <?php echo $this->helper("\Sg\AdminTheme\Helper\Data")->getExtraStyle() ?>

</style>
<?php
switch ($block->getShowPart()):
    case 'logo':
        ?>
        <?php $logoSrc = ($block->hasLogoIconImageSrc()) ? $block->escapeHtml($block->getLogoIconImageSrc()) : 'images/magento-icon.svg' ?>
        <a
            href="<?php /* @escapeNotVerified */ echo $block->getHomeLink() ?>"
            class="logo">
            <img class="logo-icon-img" src="<?php /* @escapeNotVerified */ echo ($this->helper("\Sg\AdminTheme\Helper\Data")->getLogoIconImage() ? $this->helper("\Sg\AdminTheme\Helper\Data")->getLogoIconImage() : $block->getViewFileUrl($logoSrc)) ?>"
                 alt="<?php echo $block->escapeHtml(__('Magento Admin Panel')) ?>"/>
        </a>
        <?php break; ?>
    <?php case 'logo_admin_page':
        ?>
        <?php $edition = $block->hasEdition() ? 'data-edition="' . $block->escapeHtml($block->getEdition()) . '"' : ''; ?>
        <?php $logoSrc = ($block->hasLogoImageSrc()) ? $block->escapeHtml($block->getLogoImageSrc()) : 'images/magento-logo.svg' ?>
        <a
            href="<?php /* @escapeNotVerified */ echo $block->getHomeLink() ?>"
            <?php /* @escapeNotVerified */ echo $edition; ?>
            class="logo">
            <img class="logo-img" src="<?php /* @escapeNotVerified */ echo ($this->helper("\Sg\AdminTheme\Helper\Data")->getLogoImage() ? $this->helper("\Sg\AdminTheme\Helper\Data")->getLogoImage() : $block->getViewFileUrl($logoSrc)) ?>"
                 alt="<?php echo $block->escapeHtml(__('Magento Admin Panel')) ?>"/>
        </a>
        <?php break; ?>
    <?php case 'user': ?>
        <div class="admin-user admin__action-dropdown-wrap">
            <a
                href="<?php /* @escapeNotVerified */ echo $block->getUrl('adminhtml/system_account/index') ?>"
                class="admin__action-dropdown"
                title="<?php echo $block->escapeHtml(__('My Account')) ?>"
                data-mage-init='{"dropdown":{}}'
                data-toggle="dropdown">
                <span class="admin__action-dropdown-text">
                    <span class="admin-user-account-text"><?php echo $block->escapeHtml($block->getUser()->getUsername()); ?></span>
                </span>
            </a>
            <ul class="admin__action-dropdown-menu">
                <?php if ($block->getAuthorization()->isAllowed('Magento_Backend::myaccount')): ?>
                    <li>
                        <a
                            href="<?php /* @escapeNotVerified */ echo $block->getUrl('adminhtml/system_account/index') ?>"
                            <?php /* @escapeNotVerified */ echo $block->getUiId('user', 'account', 'settings') ?>
                            title="<?php echo $block->escapeHtml(__('Account Setting')) ?>">
                            <?php /* @escapeNotVerified */ echo __('Account Setting') ?> (<span class="admin-user-name"><?php echo $block->escapeHtml($block->getUser()->getUsername()); ?></span>)
                        </a>
                    </li>
                <?php endif; ?>
                <li>
                    <a
                        href="<?php /* @escapeNotVerified */ echo $block->getBaseUrl(); ?>"
                        title="<?php echo $block->escapeHtml(__('Customer View')); ?>"
                        target="_blank" class="store-front">
                            <?php /* @escapeNotVerified */ echo __('Customer View'); ?>
                    </a>
                </li>
                <li>
                    <a
                        href="<?php /* @escapeNotVerified */ echo $block->getLogoutLink() ?>"
                        class="account-signout"
                        title="<?php echo $block->escapeHtml(__('Sign Out')) ?>">
                            <?php /* @escapeNotVerified */ echo __('Sign Out') ?>
                    </a>
                </li>
            </ul>
        </div>
        <?php break; ?>
    <?php case 'other': ?>
        <?php echo $block->getChildHtml(); ?>
        <?php break; ?>
<?php endswitch; ?>
