<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="copyright-wrapper">
    <div class="copyright-center">
        <span><?= /* @escapeNotVerified */ $block->getChildHtml('footer.block.copyright.center'); ?></span>
    </div>
</div>
