<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 *  General template for displaying group of blocks devided into sections
 */
$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
$groupBehavior = $block->getGroupBehaviour() ? $block->getGroupBehaviour() : '{"tabs":{"openedState":"active"}}';
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')): ?>
    <div class="sections <?php /* @escapeNotVerified */ echo $groupCss ?>">
        <?php
        $layout = $block->getLayout();
        $newPriority = array();
        ?>
        <div class="section-items <?php /* @escapeNotVerified */ echo $groupCss ?>-items" data-mage-init='<?php /* @escapeNotVerified */ echo $groupBehavior ?>'>
            <?php foreach ($detailedInfoGroup as $name): ?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html) && ($block->getUseForce() != true)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                $cssClass = $block->getChildData($alias, 'css_class');

                $priority = $block->getChildData($alias, 'priority') ? $block->getChildData($alias, 'priority') : '10';
                ?>
                <?php array_push($newPriority, ['alias' => $alias, 'label' => $label, 'css_class' => $cssClass, 'priority' => $priority, 'html' => $html]); ?>
            <?php endforeach; ?>

            <?php
                usort($newPriority, function($a, $b) {
                    return $a['priority'] <=> $b['priority'];
                });
            foreach ($newPriority as $section):
                $cssClass = $block->getChildData($section['alias'], 'css_class');
                ?>
                <div class="section-item-content <?php /* @escapeNotVerified */ echo $groupCss ?>-item-content <?php /* @escapeNotVerified */ echo $cssClass; ?>" id="<?php /* @escapeNotVerified */ echo $section['alias']; ?>" data-role="content"><?php /* @escapeNotVerified */ echo $section['html']; ?></div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>