<?php
/**
 * Copyright (c) 2017 Web Project Solutions (info@webprojectsol.com)
 *
 * SOFTWARE LICENSE AGREEMENT
 *
 * This Software is not free.
 *
 * Developer hereby grants to Licensee a perpetual, non-exclusive,
 * limited license to use the Software as set forth in this Agreement.
 *
 * Licensee shall not modify, copy, duplicate, reproduce, license or sublicense the Software,
 * or transfer or convey the Software or any right in the Software to anyone else
 * without the prior written consent of Developer; provided that Licensee may
 * make one copy of the Software for backup or archival purposes.
 *
 *
 * @author Antonello Venturino <info@webprojectsol.com>
 * @copyright  2017 Web Project Solutions
 * @version  Release: 2.1.7 $
 * @license    http://www.webprojectsol.com/license.php
 * @url  http://www.webprojectsol.com/it/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html
 */
if ($this->isNotTested()) :
    if ($this->cronCheck()) :

        ?>
        <div class="messages">
            <div class="message message-success success">
                <div data-ui-id="messages-message-success" id="cron-success-msg">
                    <?php
                    echo sprintf(__('The module has set a Cron Job of tests, including a minute or so should reach you by e-mail to %s to verify proper operation.'), $this->getGeneralContact())

                    ?>
                </div>
            </div>
        </div>
        <script type="text/javascript">// <![CDATA[
        require([
        'jquery',
        'jquery/ui'
        ],
            function ($) {
            interval = setInterval(function () {
                processProgress($);
            }, 2000);
            }
        );
        	    // ]]></script>
        <script type="text/javascript">
        function processProgress($) {
        $.ajax({
            type: 'get',
            url: "<?php echo $this->getUrl('*/cron/progress') ?>"
        }).done(function () {
            clearInterval(interval);
            $('#cron-success-msg').html('<?php echo __('The cron was run successfully!') ?>');
            setTimeout(function () {
            location = '<?php echo $this->getUrl('*/tryimport/index') ?>';
            }, 3000);
        });
        }
        </script>
        <?php
    else :

        ?>
        <div class="messages">
            <div class="message message-warning warning">
                <div data-ui-id="messages-message-warning">
                    <?php echo __('Warning: The module has detected that the server does not allow you to set Cron Job dynamically, so it must be manually set.') ?>
                </div>
            </div>
            <div class="message message-notice notice">
                <div data-ui-id="messages-message-notice">
                    <?php echo __('For the more practical it is recommended to enable the Cron Job just before importing the catalog and disabling it after the import is complete.') ?>
                </div>
            </div>
        </div>
        <div class="admin__data-grid-wrap-static">
            <table class="data-grid data-grid-draggable" width="100%">
                <thead>
                    <tr>
                        <th class="data-grid-th" colspan="2"><strong><?php echo __('Manual Setup Cron Job'); ?></strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <?php
                            echo sprintf(__('In the administration panel (eg cPanel, Plesk, etc..) Go under <b>Cron jobs</b> or <b>Crontab</b> or <b>Scheduled Tasks</b>, etc..<br />In the fields <em>Minute</em>, <em>Hour</em>, <em>Day</em>, <em>Month</em>, <em>Week</em> enter as a value <em>*</em><br />In the <em>Command</em> enter value as <em>%s</em>'), strtr($this->getCronDir(), array('* * * * * ' => '')))

                            ?>
                            <br /><br />
                            <?php echo __('After you setted the cron job, please click on Next step.') ?>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <?php
    endif;
else :

    ?>
    <div class="messages">
        <div class="message message-success success">
            <div data-ui-id="messages-message-success">
                <?php echo __('The test is already been made. To repeat you must activate the relevant option in the module configuration Danea EasyFatt for the Import/Update Catalog.') ?>
            </div>
        </div>
    </div>
<?php
endif;