<!--@subject {{trans "%subject" subject=$subject()}} @-->

{{template config_path="design/email/header_template"}}

{{trans "Dear Customer"}},
<br><br>
{{trans "In response to your anonymization request, your account information has been anonymized from our side. Please note that it cannot be reverted."}}
{{trans "You can use the following anonymized e-mail address: %anonymous_email to login to your account." anonymous_email=$anonymizeEmail|escape}}
<br><br>
{{trans "Best regards"}}

{{template config_path="design/email/footer_template"}}