<!--@subject {{trans "%subject" subject=$subject()}} @-->

{{template config_path="design/email/header_template"}}

{{trans "Dear Customer"}},
<br><br>
{{trans "Your account deletion request has been approved by the Manager. All your account-related information has been deleted from %website_name" website_name=$websiteName|escape}}
<br><br>
{{trans "Best regards"}}

{{template config_path="design/email/footer_template"}}