<!--@subject {{trans "%subject" subject=$subject()}} @-->

{{template config_path="design/email/header_template"}}

{{trans "Dear Manager"}},
<br><br>
{{trans "This is to inform you that customer named %customer_name registered with email address %customer_email has requested to delete his/her account.
You can Accept/Reject the request from the 'Manage Deletion Requests' tab." customer_name=$customer_name customer_email=$customer_email}}
<br><br>
{{trans "Best regards"}}

{{template config_path="design/email/footer_template"}}