<!--@subject {{trans "%subject" subject=$subject()}} @-->

{{template config_path="design/email/header_template"}}

{{trans "Dear Customer"}},
<br><br>
<p>{{trans "We were unable to approve your account deletion request. Please make sure that: "}}</p>
<ul>
    <li>{{trans "None of your orders are pending."}}</li>
    <li>{{trans "None of your payments are due."}}</li>
</ul>
<br><br>
{{trans "Best regards"}}

{{template config_path="design/email/footer_template"}}