<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Review\Block\Product\View\ListView $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */

$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
?>
<?php if (count($_items)): ?>
<div class="block review-list" id="reviews">
    <?php if (!$block->getHideTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Customer Reviews')) ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content reviews">
        <div class="toolbar review-toolbar">
            <?= $block->getChildHtml('toolbar') ?>
        </div>
        <ol class="items review-items">
            <div class="swiper-container" data-mage-init='{
                                "swiperSliderWidget":{
                                    "slidesPerView": 4,
                                    "autoplay": true,
                                    "prevButton":".block-content.reviews .swiper-button-prev",
                                    "nextButton":".block-content.reviews .swiper-button-next",
                                    "paginationClickable": true,
                                    "breakpoints":{
                                        "1199": {
                                           "slidesPerView": 3,
                                            "slidesPerGroup": 3,
                                            "spaceBetween": 10
                                        }
                                    }
                                }
                            }'>
                <div class="swiper-wrapper">
                    <?php foreach ($_items as $_review): ?>
                        <li class="item review-item swiper-slide" itemscope itemprop="review" itemtype="http://schema.org/Review">
                            <div class="review-title" itemprop="name"><?= $block->escapeHtml($_review->getTitle()) ?></div>
                            <?php if (count($_review->getRatingVotes())): ?>
                                <div class="review-ratings">
                                    <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                                        <div class="rating-summary item"
                                             itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <span class="label rating-label">
                            <span><?= $block->escapeHtml($_vote->getRatingCode()) ?></span>
                        </span>
                                            <div class="rating-result"
                                                 id="review_<?= /* @noEscape */ $_review->getReviewId()
                                                 ?>_vote_<?= /* @noEscape */ $_vote->getVoteId() ?>"
                                                 title="<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                                                <meta itemprop="worstRating" content = "1"/>
                                                <meta itemprop="bestRating" content = "100"/>
                                                <span>
                                <span itemprop="ratingValue"><?= $block->escapeHtml($_vote->getPercent()) ?>%</span>
                            </span>
                                            </div>
                                            <?= /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                                'width:' . $_vote->getPercent() . '%',
                                                'div#review_' . $_review->getReviewId() . '_vote_' . $_vote->getVoteId() . ' span'
                                            ) ?>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            <?php endif; ?>
                            <div class="review-content" itemprop="description">
                                <?= /* @noEscape */ nl2br($block->escapeHtml($_review->getDetail())) ?>
                            </div>
                            <div class="review-details">
                                <p class="review-author">
                                    <span class="review-details-label"><?= $block->escapeHtml(__('Review by')) ?></span>
                                    <strong class="review-details-value"
                                            itemprop="author"><?= $block->escapeHtml($_review->getNickname()) ?></strong>
                                </p>
                                <p class="review-date">
                                    <span class="review-details-label"><?= $block->escapeHtml(__('Posted on')) ?></span>
                                    <time class="review-details-value"
                                          itemprop="datePublished"
                                          datetime="<?= $block->escapeHtmlAttr($block->formatDate(
                                              $_review->getCreatedAt(),
                                              $format
                                          )) ?>"><?= $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?>
                                    </time>
                                </p>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </div>
            </div>
            <?php if (count($_items) > 1): ?>
                <div class="swiper-button-container">
                    <div class="swiper-button-prev icon-left"></div>
                    <div class="pagination-container"></div>
                    <div class="swiper-button-next icon-right"></div>
                </div>
            <?php  endif; ?>
        </ol>
        <!--<div class="toolbar review-toolbar">
            <?php /*= $block->getChildHtml('toolbar') */?>
        </div>-->
    </div>
</div>
<?php endif;?>
