<?php
$helper = $this->helper('Magetop\InfiniteScroll\Helper\Data');
$isEnabled      = $helper->getConfigModule('general/enabled');
$delay          = $helper->getConfigModule('general/delay');
$content        = $helper->getConfigModule('general/content');
$pagination     = $helper->getConfigModule('general/pagination');
$next           = $helper->getConfigModule('general/next');
$item           = $helper->getConfigModule('general/item');
$loadingText    = $helper->getConfigModule('general/loading_text');
$doneText       = $helper->getConfigModule('general/done_text');
$loadMore       = $helper->getConfigModule('general/load_more');
$loadMoreText   = $helper->getConfigModule('general/load_more_text');
$loadingImage   = $helper->getConfigModule('general/loading_image');
$imgPath        = 'magetop/infinitescroll/'.$loadingImage;
if ($loadingImage) {
    $loadingImage = $block->getMedia($imgPath);
}else{
    $loadingImage = $this->getViewFileUrl('images/loader-1.gif');
} 
?>
<script type="text/javascript">
    require(['jquery', 'magetop/infinitescroll'], function ($) {
        "use strict";
        $(document).ready(function () {
            $('body').addClass('infinitescroll');
            window.ias = $.ias({
                container: "<?php echo $content;?>",
                item: "<?php echo $item;?>",
                pagination: "<?php echo $pagination;?>",
                next: "<?php echo $next;?>",
                delay: "<?php echo $delay;?>",
            });
            window.ias.extension(new IASSpinnerExtension({
                src: "<?php echo $loadingImage; ?>",
                html: '<div class="iass-spinner"><img src="{src}"/><span><?php echo $loadingText; ?></span></div>'
            }));
            window.ias.extension(new IASNoneLeftExtension({
                text: "<?php echo $doneText;?>",
                html: '<div class="ias-noneleft">{text}</div>'
            }));
            window.ias.extension(new IASTriggerExtension({
                text:"<?php echo $loadMoreText ?>",
                html:'<div class="ias-trigger ias-trigger-next"><button class="load-more"><?php echo $loadMoreText ?></button></div>',
                textPrev:"<?php echo $loadMoreText ?>",
                htmlPrev:'<div class="ias-trigger ias-trigger-prev"><button class="load-more"><?php echo $loadMoreText ?></button></div>',
                offset:"<?php echo $loadMore ?>",
            }));
            window.ias.on('rendered', function(items){
                $('body').trigger('contentUpdated');
                $( "form[data-role='tocart-form']" ).catalogAddToCart();
            });
        });
    });
</script>