& when (@media-common = true) {
    body{
        &.firecheckout-layout-empty,
        &.firecheckout-layout-minimal {
            .page-wrapper{
                .page-main,
                .header.content {
                    max-width: @layout__max-width;
                }
                .col{
                    position: relative;
                }
                .form-shipping-address,
                #checkout {
                    input[type="checkbox"]::before,
                    input[type="radio"]:before{
                        width: 17px;
                        height: 17px;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        .firecheckout {
            .column.main {
                table {
                    tbody {
                        tr.totals.charge {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
