<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">

    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="html: getNameUnsanitizedHtml($parent)"></strong>
            <!-- ko if: (getInfoStock($parent))-->
            <div class="item-stock" data-bind="html: getInfoStock($parent)"></div>
            <!-- /ko -->

            <!-- ko if: (getInfoShippingFromDate($parent))-->
            <div class="item-stock" data-bind="html: getInfoShippingFromDate($parent)"></div>
            <!-- /ko -->

            <!-- ko if: (getInfoShippingFrom($parent))-->
            <div class="item-stock" data-bind="html: getInfoShippingFrom($parent)"></div>
            <!-- /ko -->
            <!--  <div class="details-qty">
                  <span class="label">&lt;!&ndash; ko i18n: 'Qty' &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;</span>
                  <span class="value" data-bind="text: $parent.qty"></span>
              </div>-->
        </div>
        <!-- ko foreach: getRegion('after_details') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content">
            <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
            <dl class="item-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <dt class="label" data-bind="text: label"></dt>
                <!-- ko if: ($data.full_view)-->
                <!-- ko with: {full_viewUnsanitizedHtml: $data.full_view}-->
                <dd class="values" data-bind="html: full_viewUnsanitizedHtml"></dd>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: ($data.full_view)-->
                <!-- ko with: {valueUnsanitizedHtml: $data.value}-->
                <dd class="values" data-bind="html: valueUnsanitizedHtml"></dd>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </dl>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- ko foreach: getRegion('item_message') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
