<div class="footer-accordion" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": "", "multipleCollapsible": false, "animate": 300}}'>
    <?php echo $block->getChildHtml(); ?>
</div>
<div id="back_top" style="display: none;"></div>
