@import url("@{baseUrl}css/email-fonts.css");

.header {
    background-color: @email__background-color;
    padding: 0;
}
body{
    background-color: @email__background-color;
    td {
        a {
            font-size: 14px;
        }
        .email-heading{
            border-collapse: collapse;
            vertical-align: top;
            padding: 0 1%;
            margin: 0;
            background: #e1f0f8;
            border-right: 1px dashed #c3ced4;
            text-align: center;
            width: 58%;
            h1{
                font-weight: 700;
                font-size: 16px;
                margin: 1em 0;
                line-height: 20px;
                text-transform: uppercase;
                margin-top: 25px;
            }
            p{
                .lib-font-size(15px);
            }
        }
        .store-info{
            border-collapse: collapse;
            vertical-align: top;
            padding: 2%;
            margin: 0;
            background: #e1f0f8;
            width: 40%;
        }
        h3{
            font-size: 17px;
            margin-bottom: 10px;
            margin-top: 15px;
            font-weight: normal;
            .no-link{
                font-weight: 700;
            }
        }
        h6{
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 5px;
            text-transform: uppercase;
        }
        p{
            .lib-font-size(12px);
            line-height: 18px;
            margin-bottom: 15px;
            margin-top: 2px;
        }
        .email-summary{
            border-collapse: collapse;
            vertical-align: top;
            padding: 5px 15px;
            margin: 0;
            text-align: center;
        }
    }
    .email-information{
    }
    th {
        font-size: 14px;
    }
    .item-price,
    .item-qty{
        font-size: 14px;
    }
    .email-items{
        td{
            font-size: 12px;
            padding: 0 10px 10px 0;
        }
    }
}
.footer {
    background-color: @email__background-color;
    padding: @email-body__padding;

    table {
        width: 100%;

        td {
            padding-bottom: @email-body__padding;
            width: 33%;

            p {
                margin-bottom: 0;

                &.phone {
                    font-size: @font-size__l;

                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .header,
    .main-content,
    .footer {
        padding: @email-body__padding @indent__s !important;
    }

    .footer {
        td {
            display: block;
            width: auto !important;
        }
    }
}

/* FOS-910 */
.price-wrapper {
    .price-label {
        display: none;
    }

    .price,
    .price-save-percent {
        .lib-font-size(14);
        margin: 0 @indent__s;
    }

    .old-price .price {
        text-decoration: line-through;
        .lib-css(color,#494949);
    }
}
