//
// MIXINS
//
@import "lib/_mixins.less";

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body{
        a{
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:active{
                text-decoration: none;
            }
        }
        .columns {
            .column.main {
                .lib-css(padding-bottom, 0);
            }
        }
        p{
            font-family: @font-openSans;
        }
        .navigation{
            a.menu-item-active > span {
                text-decoration: none;
                text-transform: uppercase;
            }
            .level0 > .level-top{
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        .modal-popup{
            &.confirm._show{
                footer.modal-footer{
                    .action-secondary{
                        .lib-button();
                    }
                    .action-primary{
                        .lib-button-primary(
                            @_button-margin: 0 0 0 10px,
                            @_button-width: 100px
                        );
                    }
                }
            }
        }
        .product-item-photo{
            .product-image-hover{
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                -webkit-transition: opacity .3s linear;
                -moz-transition: opacity .3s linear;
                -o-transition: opacity .3s linear;
                -ms-transition: opacity .3s linear;
                transition: opacity .3s linear;
            }
            &:hover {
                .product-image-hover {
                    opacity: 1;
                }
            }
        }
        .modal-slide {
            .action-close {
                margin: 15px;
                padding: 0;
            }
        }
        .message {
            div {
                max-width: 800px;
                text-align: center;
                margin: 0 auto;
            }
        }
        span.new-label {
            text-transform: uppercase;
            position: absolute;
            font-weight: @font-weight__bold;
            left: -3px;
            padding: 10px;
            background: #ffffff;
            color: @sg-green;
            border: 2px solid @sg-green;
            width: 100px;
            z-index: 10;
            top: -2px;
            border-radius: 0 0 5px 5px;
        }
        .price-box.price-final_price {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            .justify-content(center);
            margin-bottom: 10px;
            .special-price{
                margin-left: 10px;
                .price-container {
                    .price {
                        color: @black;
                        .lib-font-size(20);
                        font-weight: 800;
                        line-height: 35px;
                    }
                }
            }
            .price-final_price{
                &.price-container {
                    .price {
                        color: @black;
                        .lib-font-size(20);
                        font-weight: 800;
                        line-height: 35px;
                    }
                }
            }
            .discount-percentage {
                background: url(../images/bollino.png) no-repeat 0 0;
                background-size: 100% 100%;
                height: 60px;
                line-height: 65px;
                width: 60px;
                border: 0;
                z-index: 1;
                position: absolute;
                right: 15px;
                top: 5px;
                left: auto;
                span{
                    color: #FFF;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-weight: @font-weight__bold;
                    .lib-font-size(18);
                    line-height: 60px;
                }
            }
            .old-price{
                margin-right: 10px;
                .price-container {
                    .price {
                        text-decoration: line-through;
                        .lib-font-size(14);
                        color: #AFAFAF;
                        font-weight: @font-weight__semibold;
                    }
                }
            }
        }
        .availability{
            .lib-font-size(12);
            margin-top: 10px;
            .lib-vendor-prefix-display(flex);
            .justify-content(center);
            .lib-vendor-box-align(center);
            font-family: @font-openSans;
            &::before{
                content: '';
                border-radius: 50%;
                height: 10px;
                width: 10px;
                margin-right: 5px;
                display: inline-block;
                background-color: #346DD3;
            }
            &.status-instock{
                &::before{
                    background-color: #008000;
                }
            }
            &.status-outofstock{
                &::before{
                    background-color: red;
                }
            }
            &.status-120gg{
                &::before{
                    background-color: #346DD3;
                }
            }
            &.status-preorder{
                &::before{
                    background-color: orange;
                }
            }
        }
        .prcr-product-reserved-wrapper span.prcr-product-reserved-text {
            bottom: 0;
            right: 0;
            left: 0;
            top: auto;
            background: #0abbb5;
            font-weight: bold;
            padding: 7px;
            border-radius: 0 0 20px 20px;
            text-align: center;
        }
        .catalog-product-view .prcr-reserved-text,
        .catalog-product-view .prcr-reserved-child {
            margin-right: 0;
            margin-left: auto;
        }
    }
    .message{
        a {
            text-decoration: underline;
        }
    }
    .privacyPolicy-wrap {
        .field {
            &.privacyPolicy-check {
                margin: 30px 0;
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-wrap(wrap);

                label {
                    width: 90%;
                    position: relative;

                    &::before {
                        display: none;
                    }

                    &::after {
                        position: absolute;
                        top: 0;
                        right: -5px;
                    }

                    p {
                        .lib-font-size(12);
                        vertical-align: top;
                        .lib-line-height(16);

                        a {
                            .lib-link();
                            vertical-align: top;
                            text-decoration: underline;
                        }
                    }
                }

                #privacy-error {
                    text-align: left;
                }
            }

            &.required {
                position: relative;
            }
        }
    }
    .field{
        margin-top: 20px;
        .customer-dob{
            .lib-vendor-prefix-display(flex);
        }
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"] {
        &.mage-error {
            .lib-input-placeholder(@error__color, normal);
        }
    }

    div[data-bind*='messages'] {
        > div{
            margin-top: 3px;
        }
    }

    .message {
        text-align: center;
        letter-spacing: 1px;
    }

    .field {
        position: relative;
        &.privacy{
            input[type="checkbox"]{
                width: auto;
                margin-right: 5px;
                padding: 0;
                &.mage-error {
                    .lib-input-placeholder(@error__color, normal);
                }
            }
        }
        &:not(.privacy):not(.newsletter){
            div.mage-error{
                margin-top: 5px;
                margin-bottom: 10px;
                .lib-font-size(11);
            }
        }
    }

    .field-error,
    div.mage-error[generated] {
        margin-top: 0;
    }

    div#password-strength-meter{
        color: @gray;
        font-weight: @font-weight__semibold;
    }

    input[type="checkbox"],
    input[type="radio"]:not(.rating) {
        display: inline-block;
        height: 16px;
        min-width: 16px;
        width: 16px;
        background: @white;
        outline: none;
        color: @sg-green;
        position: relative;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-font-smoothing: antialiased;
        -webkit-appearance: none;
        border: 1px solid @sg-green;
        margin: 0 8px 0 0;

        &:before {
            opacity: 0;
            visibility: hidden;
            content: '';
            display: block;
            position: absolute;
            background: @sg-green;
            width: 10px;
            height: 10px;
            top: 2px;
            left: 2px;
            -webkit-animation-duration: .3s;
            animation-duration: .3s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        &.mage-error {
            .lib-input-placeholder(@error__color, normal);
        }

        &:disabled {
            opacity: 0.5;
            background-color: @gray;

            & + span {
                opacity: 0.5;
            }
        }

        &:hover {
            outline: none;
            border-color: @sg-green;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        &:focus {
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        &:checked {
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    input[type="radio"] {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        &:before {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }
    .breadcrumbs {
        text-transform: lowercase;
    }

    .nav-toggle {
        width: 29px;
        height: 17px;
        left: 0;
        top: 0;
        cursor: pointer;
        position: relative;
        span{
            .lib-visually-hidden-reset();
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: @primary__color;
            border-radius: 0;
            opacity: 1;
            left: 0;
            -webkit-transition: .25s ease;
            -moz-transition: .25s ease;
            -o-transition: .25s ease;
            transition: .25s ease;
            &:nth-child(1) {
                top: 14px;
            }
            &:nth-child(2) {
                top: 0px;
            }
            &:nth-child(3) {
                top: 7px;
            }
        }

        html.nav-open &{
            span:nth-child(1) {
                width: 0%;
                opacity: 0;
                top:0;
            }

            span:nth-child(2) {
                top: 0;
                transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                -webkit-transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                transform: translate3d(0,10px,0) rotate(45deg);
                -webkit-transform: translate3d(0,10px,0) rotate(45deg);
            }

            span:nth-child(3) {
                top: 0;
                transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                -webkit-transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                -webkit-transform: translate3d(0,10px,0) rotate(-45deg);
            }
        }
        &::before,
        &::after{
            display: none;
        }
    }
    .nav-open {
        body{
            .page-wrapper {
                left: 0;
                position: fixed;
            }
            .nav-sections {
                .lib-css(box-shadow, none);
                width: 100%;
            }
            .nav-toggle {
                &::after,
                &::before{
                    display: none;
                }
            }
        }
    }

    button,
    button.button,
    .action,
    button.action{
        text-transform: uppercase;
        &:not(.primary),
        &:not(.secondary) {
            border-width: 0 0 1px 0;
            border-color: @button__color;
        }
        &.primary{
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            .lib-button-primary();
        }
        &.secondary{
            text-decoration: none;
            .lib-button();
        }
    }

    .action:not(button) {
        text-decoration: underline;
    }
    .action.close,
    .action-close{
        border: 0 none;
        position: absolute;
        right: 20px;
        top: 0;
        .lib-icon-font(
            @icon-remove,
            @_icon-font-text-hide: true);
    }

    .actions-toolbar {
        .secondary {
            .action.back {
                display: inherit;
            }
        }
    }
    .product-item-photo{
        display: block;
        position: relative;
    }
    div#hb-cc-wrap {
        background: #cacaca;
        color: white;
    }
    .page-footer + .widget {
        margin: 0;
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body{
        .navigation{
            ul{
                li{
                    &.hidden-xs{
                        display: none !important;
                    }
                    &.level0{
                        a{
                            &.with-children{
                                .lib-icon-font(
                                    @icon-down,
                                    @_icon-font-size: 10px,
                                    @_icon-font-line-height: 20px,
                                    @_icon-font-position: after,
                                    @_icon-font-display: false
                                );
                                &::after{
                                    float: right;
                                }
                                &.ui-state-active{
                                    .lib-icon-font(
                                        @icon-up,
                                        @_icon-font-size: 10px,
                                        @_icon-font-line-height: 20px,
                                        @_icon-font-position: after,
                                        @_icon-font-display: false
                                    );
                                }
                            }
                        }
                        .submenu{
                            &.level0{
                                li{
                                    &.level1{
                                        &.image,
                                        &.image-menu,
                                        &.image-menu-double{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    body{
        .hidden-md,
        .hidden-lg{
            display: none;
        }
        .header.content {
            padding: 3rem 2rem;
        }
        .top-container{
            .nav-sections {
                margin-bottom: 0;
                .navigation{
                    > ul{
                        border-top: 1px solid #e9e9e9;
                        border-bottom: 1px solid #e9e9e9;
                        margin: 0 auto;
                        text-align: center;
                        position: static;
                        li{
                            &.hidden-lg{
                                display: none !important;
                            }
                            &.level0{
                                position: static;
                                &.image-menu-double{
                                    .submenu {
                                        &.level0 {
                                            .menu-wrapper {
                                                max-width: 50%;
                                            }
                                        }
                                    }
                                }
                                .submenu{
                                    text-align: left;
                                    &.level0{
                                        min-height: 350px;
                                        &.ui-menu{
                                            width: 100%;
                                            padding: 40px 0;
                                            z-index: 3;
                                            .lib-vendor-prefix-display();
                                            .lib-vendor-prefix-flex-wrap(wrap);
                                            left: 0 !important;
                                            right: 0;
                                            box-sizing: border-box;
                                            border-top: 4px solid @sg-green;
                                            box-shadow: 0 0 20px #ccc;
                                            background-color: @white;
                                        }
                                        .menu-wrapper {
                                            max-width: 70%;
                                        }
                                        li{
                                            &.level1{
                                                display: inline-block;
                                                font-weight: @font-weight__regular;
                                                width: auto;
                                                padding: 0 10px;
                                                min-width: 280px;
                                                &.image,
                                                &.image-menu{
                                                    text-align: center;
                                                    width: 30%;
                                                    max-height: 326px;
                                                    overflow: hidden;
                                                    min-width: auto;
                                                    .link{
                                                        .text-link{
                                                            position: absolute;
                                                            bottom: 30px;
                                                            left: 0;
                                                            right: 0;
                                                            .lib-font-size(30);
                                                            text-transform: initial;
                                                            color: @color-white;
                                                            z-index: 11;
                                                            font-family: @font-family__serif;
                                                        }

                                                        .image-link{
                                                            padding-bottom: 0;
                                                            position: relative;
                                                            &::after {
                                                                content: "";
                                                                width: 100%;
                                                                height: 100%;
                                                                z-index: 10;
                                                                display: block;
                                                                position: absolute;
                                                                bottom: 0;
                                                                background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
                                                            }
                                                        }
                                                    }
                                                }
                                                &.image-menu-double{
                                                    text-align: center;
                                                    width: 45%;
                                                    max-height: 326px;
                                                    overflow: hidden;
                                                    .image-link{
                                                        padding-bottom: 0;
                                                        position: relative;
                                                        span{
                                                            position: absolute;
                                                            bottom: 30px;
                                                            left: 0;
                                                            right: 0;
                                                            .lib-font-size(30);
                                                            text-transform: initial;
                                                            color: @color-white;
                                                            z-index: 11;
                                                            font-family: @font-family__serif;
                                                        }
                                                        strong{
                                                            font-family: @font-family__regular;
                                                            .lib-font-size(14);
                                                            text-transform: uppercase;
                                                        }
                                                        &::after {
                                                            content: "";
                                                            width: 100%;
                                                            height: 100%;
                                                            z-index: 10;
                                                            display: block;
                                                            position: absolute;
                                                            bottom: 0;
                                                            background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
                                                        }
                                                    }
                                                }
                                                &.no-link-to-first-child{
                                                    font-weight: @font-weight__semibold;
                                                }
                                                > a, > span{
                                                    font-weight: @font-weight__semibold;
                                                    text-transform: uppercase;
                                                    .lib-font-size(14);
                                                }
                                                > span{
                                                    padding: 0 0 10px 0;
                                                }
                                                > ul{
                                                    display: block !important;
                                                    left: auto !important;
                                                    position: relative;
                                                    right: auto;
                                                    padding-top: 20px;
                                                    a{
                                                        &:hover{
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                    .level2{
                                                        a{
                                                            span{
                                                                font-weight: @font-weight__semibold;
                                                            }
                                                        }
                                                    }
                                                }
                                                &.image{
                                                    position: absolute;
                                                    right: 0;
                                                    top: 10px
                                                }
                                                &.image,
                                                &.image-menu,
                                                &.image-menu-double{
                                                    margin-left: auto;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.menu-images{
                                    .submenu {
                                        &.level0 {
                                            &.ui-menu {
                                                .lib-vendor-prefix-flex-wrap(nowrap);
                                                padding: 15px;
                                                .menu-wrapper {
                                                    max-width: 100%;
                                                    .lib-vendor-prefix-display(flex);
                                                }
                                                li.level1.image-menu.ui-menu-item{
                                                    padding: 10px;
                                                }
                                                .top-link{
                                                    font-weight: @font-weight__semibold;
                                                    .lib-font-size(14);
                                                    display: block;
                                                    img{
                                                        margin-top: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .level0{
                        &:hover {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .hidden-xs,
        .hidden-sm{
            display: none;
        }
    }
}

// ICONS
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '@{icons__font-name}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lib-button-secondary-inverse(){
    .lib-button(
        @_button-color: @sg-green,
        @_button-font-size: 14px,
        @_button-background: @white,
        @_button-border: 1px solid @white,
        @_button-padding: 5px 10px,
        @_button-color-hover: @white,
        @_button-background-hover: @sg-green,
        @_button-border-hover: 1px solid @white
    );
}

.icon-delete {
    &:before {
        content: @icon-delete;
    }
}
.icon-edit {
    &:before {
        content: @icon-edit;
    }
}
.icon-checked {
    &:before {
        content: @icon-checked;
    }
}
.icon-padlock {
    &:before {
        content: @icon-padlock;
    }
}
.icon-envelope {
    &:before {
        content: @icon-envelope;
    }
}
.icon-search {
    &:before {
        content: @icon-search;
    }
}
.icon-wishlist {
    &:before {
        content: @icon-wishlist;
    }
}
.icon-instagram {
    &:before {
        content: @icon-instagram;
    }
}
.icon-pinterest {
    &:before {
        content: @icon-pinterest;
    }
}
.icon-credit-card {
    &:before {
        content: @icon-credit-card;
    }
}
.icon-delivery {
    &:before {
        content: @icon-delivery;
    }
}
.icon-prev {
    &:before {
        content: @icon-prev;
    }
}
.icon-next {
    &:before {
        content: @icon-next;
    }
}
.icon-user {
    &:before {
        content: @icon-user;
    }
}
.icon-phone {
    &:before {
        content: @icon-phone;
    }
}
.icon-facebook {
    &:before {
        content: @icon-facebook;
    }
}
.icon-wishlist-full {
    &:before {
        content: @icon-wishlist-full;
    }
}
.icon-tick {
    &:before {
        content: @icon-tick;
    }
}
.icon-cart {
    &:before {
        content: @icon-cart;
    }
}
