//  Widths

@layout__max-width: 1440px;
@layout__max-width_full: 1920px;

@layout-indent__width: 16px;
@layout__width-xs-indent: 20px;
@desktop-padding: 20px;
@mobile-padding: 20px;
@layout_padding_general: 5%;

@checkout-shipping-address__max-width: auto;

//  Colors nesting

@page__background-color: @white;
@red: #D43025;

@white: #FFFFFF;
@gray: #777777;
@middle_gray: #555555;
@text_gray: #454545;
@light_gray: #DDD;
@dark_gray: #383636;
@black: #000000;
@gray-menu:#868686;

@sg-green: #0abbb5;
@sg-green-input: #1da39e;
@white: #FFFFFF;
@alert-success: #d4edda;
@alert-error: #c47f86;
@alert-warning: #fff3cd;

@yellow: #ffde67;
@gray-33: #333333;
@color-gray76: #70707055;
@gray-F6: #F6F6F6;

@primary__color: @black;
@secondary__color: @black;
@text__color: @black;

@active__color: @black;
@error__color: #E47D66;
@secondary__color__light: rgba(150, 0, 2, 0.8);

// Social colors

@facebook-color: #3b5998;
@amazon-color: #f7991d;
@google-color: #dd4b39;
@twitter-color: #00aced;

// Header

@header-panel__background-color: @sg-green;
@header__background-color: @white;
@header-panel__text-color: @white;

//  Footer
@copyright__background-color: #908b8b;
@footer__background-color: @copyright__background-color;
@footer-links-separator-border-color: @white;
@footer-links-color: @light_gray;
@footer-links-color-hover: @light_gray;
@footer-links-color-current: @light_gray;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray46;


//
//  Typography
//  ---------------------------------------------

//  Line heights
@line-height__base: 1.6;

//  Fonts

@baseDir: "../";

@icons__font-name: 'icomoon';
@icons__font-path: '@{baseDir}fonts/icomoon';
@icons__luma-theme: 'luma-icons';
@icon-font-name: @icons__font-name;

@_font-weight: normal;

//  Weights
@font-weight__light: @font-weight__regular;
@font-weight__regular: normal;
@font-weight__semibold: 500;
@font-weight__bold: bold;

@font-family__base: @font-family__regular;
@font-family__serif: "CormorantGaramond";
@font-openSans: "Open-sans";
@font-family-name__base: @font-family__regular;
@font-family__regular: "josefinsans";
@font-family__light: "josefinsans-light";
@font-family__bold: "josefinsans-bold";
@font-family__semibold: "josefinsans-semibold";
@font-baskerville: 'Baskerville';

// Icons

@font-face {
    font-family: '@{icons__font-name}';
    src:  url('@{icons__font-path}/@{icons__font-name}.eot?kpurkv');
    src:  url('@{icons__font-path}/@{icons__font-name}.eot?kpurkv#iefix') format('embedded-opentype'),
    url('@{icons__font-path}/@{icons__font-name}.ttf?kpurkv') format('truetype'),
    url('@{icons__font-path}/@{icons__font-name}.woff?kpurkv') format('woff'),
    url('@{icons__font-path}/@{icons__font-name}.woff2?kpurkv') format('woff2'),
    url('@{icons__font-path}/@{icons__font-name}.svg?kpurkv#@{icons__font-name}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: @font-baskerville;
    font-style: normal;
    font-weight: normal;
    src: url('@{baseDir}fonts/@{font-baskerville}.woff') format('woff')
}

.lib-font-face(
    @family-name: @font-family__serif,
    @font-path: '@{baseDir}fonts/@{font-family__serif}',
    @font-weight: normal,
    @font-style: italic
);


.lib-font-face(
    @family-name: @font-openSans,
    @font-path: '@{baseDir}fonts/@{font-openSans}',
    @font-weight: @font-weight__regular
);

.lib-font-face(
    @family-name: @font-family__base,
    @font-path: '@{baseDir}fonts/@{font-family-name__base}',
    @font-weight: @font-weight__regular
);

.lib-font-face(
    @family-name: @font-family__base,
    @font-path: '@{baseDir}fonts/@{font-family__bold}',
    @font-weight: @font-weight__bold
);

.lib-font-face(
    @family-name: @font-family__base,
    @font-path: '@{baseDir}fonts/@{font-family__semibold}',
    @font-weight: @font-weight__semibold
);

.lib-font-face(
    @family-name: @font-family__base,
    @font-path: '@{baseDir}fonts/@{font-family__light}',
    @font-weight: @font-weight__light
);


@header-icons-color: @black;
@header-icons-color-hover: @black;
@minicart__border-color: transparent;

@icon-font__color: @black;
@icon-font__color-hover: @black;
@icon-font__color-active: @black;

@icon-delete: "\e904";
@icon-edit: "\e905";
@icon-checked: "\e906";
@icon-padlock: "\e907";
@icon-envelope: "\e908";
@icon-search: "\e909";
@icon-wishlist: "\e90a";
@icon-instagram: "\e90b";
@icon-pinterest: "\e90c";
@icon-credit-card: "\e90d";
@icon-delivery: "\e90e";
@icon-prev: "\e90f";
@icon-next: "\e910";
@icon-user: "\e911";
@icon-phone: "\e912";
@icon-facebook: "\e913";
@icon-wishlist-full: "\e914";
@icon-tick: "\e915";
@icon-cart: "\e916";
@icon-up: "\e917";
@icon-down: "\e918";
@icon-information: "\e919";
@icon-warning: "\e91a";
@icon-help: "\e91b";
@icon-remove: "\e91c";
@icon-grid: "\e91d";
@icon-list: "\e91e";
@icon-star: "\e900";
@icon-done: @icon-checked;

//  Headings

@font-size__base: 1.6rem;
@font-size__s: 1.6rem;
@heading__color__base: @black;
@heading__font-weight__base: normal;

@h1__font-size: 36px;
@h1__font-size-desktop: 40px;
@h1__font-family: @font-family__base;
@h1__line-height: ceil((@h1__font-size + 10));
@h1__font-weight: @font-weight__semibold;
@h1__text-transform: none;
@h1__margin-bottom__desktop: 0;

@h2__font-size: 20px;
@h2__font-family: @font-family__base;
@h2__line-height: ceil((@h2__font-size + 9));
@h2__font-weight: @h1__font-weight;

@h3__font-family:@font-family__base;
@h3__font-size: 20px;
@h3__line-height: ceil((@h2__font-size + 9));
@h3__font-weight: @h1__font-weight;

@h5__font-size: 18px;
@h6__font-size: 18px;

//  Collapsible navigation
@collapsible-nav-current-color: @black;
@collapsible-nav-color: @primary__color;
@collapsible-nav-current-border-color: @sg-green;
@collapsible-nav-background: @white;
@collapsible-nav-item-hover: #e4e4e4;
@sidebar__background-color: @collapsible-nav-background;

//  Color nesting
@panel__background-color: @dark_gray;
@border-color__base: #c1c1c1;


//  Links
@link__color: @black;
@link__text-decoration: none;

@link__visited__color: @black;
@link__visited__text-decoration: underline;

@link__hover__color: @black;
@link__hover__text-decoration: underline;

@link__active__color: @black;
@link__active__text-decoration: underline;


// Buttons

//  Default = secondary button
@button__border-radius: 0;
@button__color: @sg-green;
@button__background: transparent;
@button__border: 2px solid @sg-green;
@button__shadow: none;
@button__font-weight: @font-weight__bold;
@button__padding: 10px 30px;
@button__font-size: 14px;
@button__line-height: @button__font-size + 9;
@button__hover__color: @white;
@button__hover__background: @sg-green;
@button__hover__border: 2px solid @sg-green;

@button__active__color: @white;
@button__active__background: @sg-green;
@button__active__border:  2px solid @sg-green;
@button__shadow-active: false;

//  Primary button
@button-primary__background: @sg-green;
@button-primary__border: 1px solid @sg-green;
@button-primary__font-size: 14px;
@button-primary__font-weight : @font-weight__bold;
@button-primary__width: 176px;
@button-primary__line-height: @button-primary__font-size + 9;
@button-primary__color: @white;
@button-primary__padding:10px 30px;
@button-primary__hover__background: @white;
@button-primary__hover__border: @button-primary__border;
@button-primary__hover__color: @sg-green;

@button-primary__active__background: @white;
@button-primary__active__border: @button-primary__border;
@button-primary__active__color: @black;

@button__font-family: @font-family__base;

//  Focus
@focus__color: @secondary__color;

//  Focus state
@form-element-input__focus__border: 0 none;

// Responsive

@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 768px;
@screen__m: 993px;
@screen__l: 1025px;
@screen__xl: 1440px;

//
//  Tables
//  ---------------------------------------------

@table-cell__padding-vertical: 11px;
@table-cell-stripped__background-color: @table-cell__hover__background-color;
@table-responsive-th__background-color: @table-cell-stripped__background-color;
@table-responsive-cell__padding: @indent__xs @indent__s;
@table-th__font-weight: normal;
@table__border-color: @light_gray;

//
//  Layout grid
//  ---------------------------------------------

@total-columns: 24;

//  Variables for layout columns
@layout-column__sidebar-width: 4;

@layout-column__sidebar-width-custom: 8;
@layout-column__left-width: @layout-column__sidebar-width-custom;
@layout-column__right-width: @layout-column__sidebar-width-custom;

//  Checkout columns width
@layout-column-checkout__width-left: 6;
@checkout-shipping-item__active__border-color: @active__color;
//
//  Navigation
//  ---------------------------------------------

@navigation-desktop-level0-item__padding: 15px;
@navigation-level0-item__active__color: @black;
@navigation-level0-item__active__border-color: none;
@navigation-level0-item__border: 1px solid @gray-F6;
@navigation-level0-item__color:  @black;
@navigation-level0-item__padding: 10px;
@navigation-level0-item__font-weight: normal;
@navigation-level0-item__font-size: 14px;
@navigation-level0-item__active__border-width: 0;
@navigation__background: @white;
@navigation-desktop-level0-item__active__border-width: 0 0 1px;
@_nav__indent-side: 0;
@navigation-level0-item__hover__color: @sg-green;

@submenu-desktop-item__border: false;
@submenu-desktop-item__active__border-width: 0;
@submenu-item__active__border: 0;

//  Desktop navigation

@navigation-desktop__font-size: 12px;
@navigation-desktop-level0-item__color: @gray-menu;
@navigation-desktop-level0-item__line-height: normal;
@navigation-desktop-level0-item__margin: 0;
@navigation-desktop-level0-item__hover__color: @sg-green;
@navigation-desktop__font-weight: @font-weight__semibold;
@navigation-desktop-level0-item__active__border-color: none;
@navigation-desktop__background: @white;
@navigation-desktop-level0-item__line-height: inherit;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop-item__active__color: @black;
@submenu-desktop-item__active__border-color: @active__color;

@submenu-desktop__background: transparent;
@submenu-desktop__box-shadow: none;
@submenu-desktop__border-width: 0;
@submenu-desktop-item__padding: 0 0 10px 0;
@submenu-desktop-item__hover__background: transparent;

@submenu-desktop-item__color: @gray-33;
@submenu-desktop-item__hover__color: @sg-green;
@submenu-item__active__color: @sg-green;
@submenu__padding-left: 10px;
@submenu__padding-right: 10px;
@submenu-item__color: @gray-33;
@submenu-item__active__text-decoration: none;
@submenu__font-size: 14px;

//  Tabs
@tab-control__color: @color-gray43;
@tab-control__font-weight: @font-weight__regular;
@tab-control__height: 100%;
@tab-control__margin-right: -1px;
@tab-control__padding-top: 1px;
@tab-control__padding-right: 35px;

//  Tabs content
@tab-content__padding-top: 35px;
@tab-content__padding-right: @tab-control__padding-right;

@tab-control__background-color: transparent;
@tab-control__color: @black;
@tab-content__background-color: transparent;
@tab-content__border: 0 none;
@tab-control__line-height: inherit;
@tab-control__active__color: @black;
@tab-control__visited__color: @tab-control__active__color;

@tab-control__padding-top: 0;
@tab-control__padding-right: @tab-control__padding-top;
@tab-control__padding-bottom: @tab-control__padding-top;
@tab-control__padding-left: @tab-control__padding-top;

@tab-content__padding-top: @indent__base;
@tab-content__padding-right: @indent__l;
@tab-content__padding-bottom: @indent__base;
@tab-content__padding-left: @tab-content__padding-right;

//
//  Accordion
//  ---------------------------------------------

@accordion-control__font-family: false;
@accordion-control__font-size: @font-size__base;
@accordion-control__font-style: false;
@accordion-control__font-weight: @font-weight__semibold;
@accordion-control__border-right: false;
@accordion-control__border-bottom: false;
@accordion-control__border-left: false;
@accordion-control__background-color: false;
@accordion-control__color: @primary__color;
@accordion-control__hover__background-color: false;
@accordion-control__hover__color: @accordion-control__color;
@accordion-control__active__background-color: false;
@accordion-control__active__color: @accordion-control__color;
@accordion-control__margin-bottom: 0;
@accordion-control__padding-right: @indent__s;
@accordion-control__padding-left: @indent__s;
@accordion-content__border: false;
@accordion-content__margin: 0;
@accordion-content__padding: @indent__s @indent__s @indent__l;


//
//  Messages
//  ---------------------------------------------

@message__font-size: 16px;
@message__font-family: @font-family__base;
@message__padding: 12px @indent__base 12px @indent__m;
@message__line-height: false;
@message-icon__font-size: 24px;
@message-icon__inner-padding-left: @indent__base;
@message-icon__top: 22px;
@message-info-icon: false;
@message-error-icon: false;
@message-success-icon: false;
@form-field-label-asterisk__color: @alert-error;
@form-validation-note__font-size: 11px;

@message-info__color: @black;
@message-info__background: @color-gray_light;

@message-warning__color: @black;
@message-warning__background: @alert-warning;

@message-error__color: @black;
@message-error__background: @alert-error;

@message-success__color: @black;
@message-success__background: @alert-success;
@message-success-link__color: @black;

@_password-default: @dark_gray;

//
//  Loaders
//  ---------------------------------------------

@loader-overlay__background-color: rgba(255, 255, 255, .7);


//
//  Forms
//  ---------------------------------------------

@form-element-input__border-color: @middle_gray;

//  Select
@select__background: @form-element-input__background url('../images/select-bg.svg') no-repeat 100% 45%;
@select__border: 1px solid @dark_gray;
@select__height: 32px;
@select__padding: 4px 25px @indent__xs @indent__s;

//  Form fieldset
@form-fieldset-legend__font-size: 18px;
@form-fieldset-legend__font-weight: @font-weight__light;
@form-fieldset-legend__margin: 0 0 @indent__base;
@form-fieldset-legend__padding: 0 0 @indent__s;
@form-fieldset-legend__width: 100%;

//  Form field
@form-field-type-revert: false;
@form-field__additional-vertical-indent: @indent__s;

//  Form field label
@form-field-label__font-weight: normal;
@form-field-type-label-block__margin: 0 0 8px;

//  Form field note icon
@form-field-note-icon-font__content: false;

//  Placeholder
@form-element-input-placeholder__color: @primary__color;

// Product and Category

@product-item__hover__background-color: false;
@product-item__hover__box-shadow: none;

@product-info-price: @primary__color;
@product-price__muted__color: @primary__color;

//
//  Pager
//  ---------------------------------------------

@pager__font-weight: @font-weight__regular;
@pager-item__margin: 0 8px 0 0;
@pager-item__padding: 0 @indent__xs;
@pager__line-height: 20px;
@pager__background: @white;
@pager__hover__color: @sg-green;

//  Pager link.action
@pager-icon__font-margin: 0;
@pager-icon__font-size: 12px;

//  Pager link.action visited
@pager-action__visited__color: @text__color__muted;

//  Pager link.action hover
@pager-action__hover__color: @sg-green;
@pager-action__hover__background: @white;

//  Pager link.action active
@pager-action__active__color: @text__color__muted;

//
//  Rating
//  ---------------------------------------------

@rating-icon__font-size: 16px;
@rating-icon__letter-spacing: 2px;
@rating-icon__active__color: @yellow;
@rating-icon__content: @icon-star;
@rating-icon__font: @icons__font-name;

//
//  Dropdowns
//  ---------------------------------------------

@dropdown-list__background: @white;
@dropdown-list-item__hover: @gray-F6;
@dropdown-toggle-icon__content: @icon-down;
@dropdown-toggle-icon__active__content: @icon-up;
@dropdown-toggle-icon__font-size: 12px;
@block-auth__dropdown__background-color: @page__background-color;
@block-auth__border: 1px solid @page__background-color;

//  Split dropdown
@dropdown-split-actions__padding: 0 @indent__xs;
@dropdown-split-toggle__actions__padding: false;

//  Actions-toolbar
@actions-toolbar-actions__position: left;
@actions-toolbar-actions-primary__margin: 0 15px 0 0;
@toolbar-element-background: @white;
@main-actions-margin: @indent__s;

//
//  Breadcrumbs
//  ---------------------------------------------

@breadcrumbs__container-margin: 0 0 15px;
@breadcrumbs-icon__font-size: 15px;
@breadcrumbs-icon__font-line-height: 22px;
@breadcrumbs-icon__font-margin: 0 5px;

@breadcrumbs-icon__font-content: '/';
@breadcrumbs-icon__font: false;
@breadcrumbs-current__color: @black;
@breadcrumbs-link__color: @black;
@breadcrumbs-link__visited__color: @black;
@breadcrumbs-link__hover__color: @black;
@breadcrumbs-link__active__color: @black;
@breadcrumbs-icon__font-vertical-align: bottom;

//
//  Popups
//  ---------------------------------------------

@popup__border: 1px solid @color-gray68;
@popup-title-headings__level: h2;

//  Popup icons
@popup-icon-font__size: 16px;
@popup-icon-font__line-height: 16px;
@popup-icon-font__color: @color-gray55;
@popup-icon-font__color-hover: darken(@popup-icon-font__color, 10%);
@popup-icon-font__color-active: @popup-icon-font__color-hover;

//  Window overlay
@overlay__background: @block-auth__dropdown__background-color;
@overlay__opacity: .7;
@overlay__opacity-old: 70;

@gallery-thumb-border-color-active: @sg-green;

//
//  Cart
//  ---------------------------------------------
@cart-price-color: @primary__color;
@minicart__padding-horizontal: 20px;
@minicart-qty__height: 40px;

//  Checkout tooltip icon
@checkout-tooltip-icon__font-size: 21px;
@checkout-tooltip-content__background-color: @block-auth__dropdown__background-color;
@checkout-tooltip-icon__color: @black;
@checkout-tooltip-content__border-color: @block-auth__dropdown__background-color;
@checkout-progress-bar-item-element-inner__active__content: @icon-done;
@checkout-tooltip-icon__content: @icon-help;

//  Checkout Payment Option icon
@checkout-payment-option-title-icon__font-size: 14px;
@checkout-payment-option-title-icon__line-height: 16px;
@checkout-payment-option-title-icon__margin: 0 0 0 @indent__s;

//  Checkout Sidebar Shipping Information
@checkout-sidebar-shipping-information-edit-icon__content: @icon-edit;
@checkout-sidebar-shipping-information-edit-icon__font-size: 18px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 20px;
@checkout-sidebar-shipping-information-edit-icon__top: @indent__s;
@checkout-step-content-mobile__background: @white;
@checkout-step-title__border: 1px solid @active__color;

//  Checkout
@checkout-sidebar__columns: 8;
@checkout-progress-bar-item__active__background-color: @active__color;
@checkout-progress-bar-item__complete__color: @black;
@checkout-progress-bar-item-element-inner__active__border-color:  @active__color;
@checkout-summary__background-color: @collapsible-nav-background;
@important_container_border_radius: 10px;

//
//  Filter
//  ---------------------------------------------
@filter-link: @black;
@horizontal-filters__background-color: @black;
@left-filter-options__margin: 0 0 20px 0;
@filter-title__font-size: 16px;
@filter-title__line-height: 26px;
@filter-option__font-size:14px;
@filter-option__line-height:24px;

//
//  Popups
//  ---------------------------------------------

@popup__border: 1px solid @color-gray68;
@popup-title-headings__level: h2;

@modal__background-color: @white;
@modal-slide__first__indent-left: 0;
@modal-title__color: @black;
@modal-title__border: 1px solid @white;

@modal-popup-title__font-size: 26px;
@modal-popup-title-mobile__font-size: @font-size__base;

@modal-slide-mobile__background-color: @color-white-smoke;
@modal-overlay__background-color: fade(@color-gray20, 55%);

@modal-action-close__color: @primary__color;
@modal-action-close__font-size: @font-size__base;
@modal-action-close__hover__color: darken(@primary__color, 10%);
@modal-slide-header__padding-vertical: 2.1rem;
@modal-popup__padding: 2rem;
@modal-slide-action-close__padding: @modal-slide-header__padding-vertical @modal-popup__padding;

//  Popup icons
@popup-icon-font__size: 16px;
@popup-icon-font__line-height: 16px;
@popup-icon-font__color: @color-gray55;
@popup-icon-font__color-hover: darken(@popup-icon-font__color, 10%);
@popup-icon-font__color-active: @popup-icon-font__color-hover;


@banner-list-title-desktop__font-size: 40px;
@banner-list-title-desktop__line-height: 46px;
@banner-list-title-mobile__font-size: 25px;
@banner-list-title-mobile__line-height: 28px;

@banner-list-description-mobile__font-size: 16px;
@banner-list-description-mobile__line-height: 25px;
@banner-list-description-desktop__font-size: 16px;
@banner-list-description-desktop__line-height: 25px;


@animation-delays: 10;
@animation-delay-step: .6;

// Swatches
@attr-swatch-option__color: @black;
@swatch-option__background: @white;
@swatch-option__border: @border-width__base solid @black;



// Email
@email__background-color: @color-white;

//
// Body variables
// ______________________________________________
@fc__accent-color:@sg-green !important;
