<?php
/**
 * Copyright (c) 2017 Web Project Solutions (info@webprojectsol.com)
 *
 * SOFTWARE LICENSE AGREEMENT
 *
 * This Software is not free.
 *
 * Developer hereby grants to Licensee a perpetual, non-exclusive,
 * limited license to use the Software as set forth in this Agreement.
 *
 * Licensee shall not modify, copy, duplicate, reproduce, license or sublicense the Software,
 * or transfer or convey the Software or any right in the Software to anyone else
 * without the prior written consent of Developer; provided that Licensee may
 * make one copy of the Software for backup or archival purposes.
 *
 *
 * @author Antonello Venturino <info@webprojectsol.com>
 * @copyright  2017 Web Project Solutions
 * @version  Release: 2.1.7 $
 * @license    http://www.webprojectsol.com/license.php
 * @url  http://www.webprojectsol.com/it/modulo-interfacciamento-danea-easyfatt-ed-open-source-e-commerce.html
 */
$helper = $this->helper('Webprojectsol\DaneaEasyFatt\Helper\Data');
$showFeedback = $helper->showFeeback();
if ($showFeedback):

    ?>
    <div id="showFeedbak">
        <h1><?php echo __('Help us to improve the module Danea Easyfatt, share your opinion') ?></h1>
    </div>
    <script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function ($, modal) {
            var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: '<?php echo __('Rate free our module') ?>',
            buttons: [{
                text: '<?php echo __('Rate now') ?>',
                class: 'scalable primary',
                click: function () {
                    window.open('<?php echo $helper->getSfbGoUrl() ?>', '_blank');
                    $.ajax({
                    type: 'get',
                    url: "<?php echo $this->getUrl('daneaeasyfatt/index/sfbcancel') ?>"
                    });
                    this.closeModal();
                }
                },
                {
                text: '<?php echo __('Not now') ?>',
                class: 'scalable show-hide',
                click: function () {
                    $.ajax({
                    type: 'get',
                    url: "<?php echo $this->getUrl('daneaeasyfatt/index/sfbhide') ?>"
                    });
                    this.closeModal();
                }
                },
                {
                text: '<?php echo __('Do not show again') ?>',
                class: 'scalable cancel',
                click: function () {
                    $.ajax({
                    type: 'get',
                    url: "<?php echo $this->getUrl('daneaeasyfatt/index/sfbcancel') ?>"
                    });
                    this.closeModal();
                }
                }]
            };
            modal(options, $('#showFeedbak'));
            $('#showFeedbak').modal('openModal');
        }
    	);</script>
    <?php
endif;
if ($helper->canShowHelp()):
    $arrow_down = $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/arrow_down.png');
    $arrow_up = $this->getViewFileUrl('Webprojectsol_DaneaEasyFatt/images/arrow_up.png');

    ?>
    <div id="help">
        <div class="messages">
            <div class="message message-notice notice">
                <div data-ui-id="messages-message-notice">
                    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo __('Help') ?> <a id="helpFadeAppear" href="javascript:void(0)"><img src="<?php echo $arrow_up; ?>" alt="" id="sort_img" /></a> <span style="float:right"><a id="helpHide" href="javascript:void(0)">x</a></span></h4>
                    <div id="help_text">
                        $HELP_TEXT
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">// <![CDATA[
    require([
        'jquery',
        'jquery/ui'
    ],
        function ($) {
            $('#helpHide').on('click', function () {
            $('#help').fadeOut();
            $.ajax({
                type: 'get',
                url: "<?php
    echo $this->getUrl('daneaeasyfatt/index/helphide', array('help_hide_name' => '$HELP_NAME'))

    ?>"
            });
            });
            var help_collapse = false;
            $('#helpFadeAppear').on('click', function () {
            if (help_collapse === false) {
                $('#help_text').fadeOut();
                $('#sort_img').attr('src', '<?php echo $arrow_down ?>');
                help_collapse = true;
            } else {
                $('#help_text').fadeIn();
                $('#sort_img').attr('src', '<?php echo $arrow_up ?>');
                help_collapse = false;
            }
            });
        }
    );
    	// ]]></script>
    <?php











 endif;