<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php if ($block->canShowBlock()) : ?>
    <div class="block filter" id="layered-filter-block" data-mage-init='
                        {
                            "accordion":
                            {
                                "collapsible": true,
                                "active": true,
                                "multipleCollapsible": false,
                                "animate": {"duration": 400,"easing":"easeOutCubic"}
                            }
                        }'>
        <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
        <div class="block-title filter-title" data-count="<?= /* @noEscape */ $filtered ?>" data-role="collapsible">
            <div data-role="trigger">
                <strong><?php echo __('Filter')?></strong>
            </div>
        </div>
        <div class="block-content filter-content" data-role="content">
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter) : ?>
        <?php if ($filter->getItemsCount()) : ?>
        <?php if (!$wrapOptions) : ?>
            <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= $block->escapeHtml(__('Filter')) ?></strong>
            <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='
                        {
                            "accordion":
                            {
                                "collapsible": true,
                                "active": false,
                                "multipleCollapsible": false,
                                "animate": {"duration": 400,"easing":"easeOutCubic"}
                            }
                        }'>
                <?php $wrapOptions = true;
                endif; ?>
                <div data-role="collapsible" class="filter-options-item">
                    <div data-role="title" class="filter-options-title"><?= $block->escapeHtml(__($filter->getName())) ?></div>
                    <div data-role="content" class="filter-options-content"><?= /* @noEscape */ $block->getChildBlock('renderer')->render($filter) ?></div>
                </div>
                <?php endif; ?>
                <?php endforeach; ?>

                <?php if ($block->getLayer()->getState()->getFilters()) : ?>
                    <div class="filter-current-container">
                        <?= $block->getChildHtml('state') ?>
                        <div class="block-actions filter-actions">
                            <a href="<?= $block->escapeUrl($block->getClearUrl()) ?>" class="action clear filter-clear">
                                <span><?= $block->escapeHtml(__('Clear All')) ?></span>
                            </a>
                        </div>
                    </div>
                <?php endif; ?>
                <?php if ($wrapOptions) : ?>
            </div>
        <?php else : ?>
            <script>
                require([
                    'jquery'
                ], function ($) {
                    $('#layered-filter-block').addClass('filter-no-options');
                });
            </script>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
