<?php
/** @var $block \Magenest\MigrationTool\Block\Adminhtml\Migration\ComposerInstallTool */
?>

<div class="steps-wizard composer-install-tool items">
    <div class="item title" data-role="collapsible">
        <a class="switch" data-toggle="trigger" href="#tab-manually"><?= __('Manually') ?></a>
    </div>
    <div id="tab-manually" class="item content" data-role="content">
        <p><?= __('Login to your magento server, go to directory') ?>:</p>
        <p><?= $block->getRootDirectoryPath() ?></p>
        <p><?= __('Run the following commands') ?>:</p>
        <ul>
            <?php if ($block->getViaComposer()): ?>
                <li>
                    composer require
                    <?= \Magenest\MigrationTool\Helper\Data::MAGENTO_MIGRATION_TOOL_COMPOSER_PACKAGE_NAME . '=' . $block->getMagentoVersion() ?>
                </li>
            <?php endif; ?>
            <li>
                php bin/magento module:enable
                <?= \Magenest\MigrationTool\Helper\Data::MAGENTO_MIGRATION_TOOL_MODULE_NAME ?>
            </li>
            <li>php bin/magento setup:upgrade</li>
            <li>php bin/magento setup:di:compile</li>
            <li>php bin/magento cache:flush</li>
        </ul>
    </div>
    <?php if ($block->getViaComposer()): ?>
        <div class="item title" data-role="collapsible">
            <a class="switch" data-toggle="trigger" href="#tab-auto"><?= __('One-click to install') ?></a>
        </div>
        <div id="tab-auto" class="item content" data-role="content">
            <div class="composer-credentials-info">
                    <span class="content">
                        <a href="https://devdocs.magento.com/guides/v2.3/install-gde/prereq/connect-auth.html"
                           target="_blank" title="<?= __('Get your authentication keys here.') ?>">
                            <?= __('Get your authentication keys here.') ?>
                        </a>
                    </span>
            </div>
            <div id="composer-credentials" style="display: table-caption">
                <form id="composer-credentials-form">
                    <div class="field required admin__field">
                        <label for="username"><?= __('Username') ?></label>
                        <input type="text" name="username" id="username" class="input-text required-entry">
                    </div>
                    <div class="field required admin__field">
                        <label for="password"><?= __('Password') ?></label>
                        <input type="password" name="password" id="password" class="input-text required-entry">
                    </div>
                </form>
            </div>
            <button style="margin-top: 10px" class="btn primary"
                    id="button-composer-install-tool"><?= __('Install') ?></button>
            <div id="composer-install-tool-log-content"
                 style="width:100%;height:500px;overflow:auto;margin:0;padding:3px;background:black;color:#2EC029;font:normal 11px Lucida Console, Courier New, serif;display: none">
            </div>
            <script>
                require(['jquery'], function ($) {
                    $('body').on('click', '#button-composer-install-tool', function () {
                        var credentialForm = $('form#composer-credentials-form');
                        if (credentialForm.valid()) {
                            let logElement = $('#composer-install-tool-log-content'),
                                username = $('input#username').val(),
                                password = $('input#password').val();
                            $.ajax({
                                url: '<?= $block->getUrl('*/ajax/composerInstallTool')?>',
                                type: 'POST',
                                data: {form_key: window.FORM_KEY, username: username, password: password},
                                showLoader: true,
                                beforeSend: function () {
                                    logElement.show();
                                }
                            }).done(function (response) {
                                logElement.html(response.content || '');
                            }).always(function () {
                                $('body').trigger('processStop');
                            });
                        }
                    });
                });
            </script>
        </div>
    <?php endif ?>
</div>
