<?php
/** @var $block \Magenest\MigrationTool\Block\Adminhtml\Migration\LogViewer */
?>
<?php foreach ($block->getLogFiles() as $name => $fileName) : ?>
    <div class="migration-log-container-<?= $name ?>"
         style="max-width: 50% !important;position:relative !important;width: 48%;float: left;margin: 0 10px;">
        <div class="switcher">
            <button id="reload-log-<?= $name ?>" style="margin-left: 5px;">
                <span><?= $block->escapeHtml(__('Reload')); ?></span>
            </button>
            <input type="hidden" id="reload-mode-<?= $name ?>"
                   value="<?= $block->escapeHtmlAttr($block->getReloadMode()) ?>" name="reload-mode-<?= $name ?>"/>
            <button id="auto-reload-log-<?= $name ?>" style="margin-left: 5px;">
                <span><?= $block->escapeHtml(__('Auto Reload (5s)')); ?></span>
            </button>
            <button id="clean-log-<?= $name ?>" style="margin-left: 5px;">
                <span><?= $block->escapeHtml(__('Clean')); ?></span>
            </button>
            <button id="download-log-<?= $name ?>" style="margin-left: 5px;">
                <span><?= $block->escapeHtml(__('Download')); ?></span>
            </button>
        </div>
        <div style="padding-top: 25px;">
            <h3 style="border-bottom: 4px solid #dfdfdf; color: #eb5e00;">
                <?= $block->escapeHtml(__('Migration %1 Log', ucfirst($name))); ?>
            </h3>
        </div>

        <div style="border: 4px solid #dfdfdf; overflow: hidden; height: 510px; padding: 5px;">
            <div data-role="spinner" data-component="<?= $block->escapeHtml($block->getNameInLayout()) . '-' . $name ?>"
                 class="admin__data-grid-loading-mask">
                <div class="spinner">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div id="log-content-<?= $name ?>"
                 style="width:100%;height:500px;overflow:auto;margin:0;padding:3px;background:black;color:#2EC029;
         font:normal 11px Lucida Console, Courier New, serif;">
                <?= $block->getLogFileContent($fileName) ?>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        ".migration-log-container-<?= $name ?>": {
            "Magenest_MigrationTool/js/migration/log-viewer": {
                "reload_url": "<?= $block->getReloadUrl() ?>",
                "download_url": "<?= $block->getDownloadUrl() ?>",
                "clean_url": "<?= $block->getCleanUrl() ?>",
                "log_spinner": "[data-component=\"<?= $block->escapeHtml($block->getNameInLayout()) . '-' . $name ?>\"]",
                "log_type": "<?= $name ?>",
                "log_content": "#log-content-<?= $name ?>",
                "reload_button": "#reload-log-<?= $name ?>",
                "download_button": "#download-log-<?= $name ?>",
                "clean_button": "#clean-log-<?= $name ?>",
                "reload_mode_button": "#auto-reload-log-<?= $name ?>",
                "reload_mode": "#reload-mode-<?= $name ?>"
            }
        }
    }

    </script>
<?php endforeach; ?>
