<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="visible()">
    <text args="address().prefix"/>
    <text args="address().firstname"/>
    <text args="address().middlename"/>
    <text args="address().lastname"/>
    <text args="address().suffix"/>
    <br/>
    <text args="_.values(address().street).join(', ')"/>
    <br/>
    <text args="address().city "/>
    , <span html="address().region"></span>
    <text args="address().postcode"/>
    <br/>
    <text args="getCountryName(address().countryId)"/>
    <br/>
    <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a><br/>

    <each args="data: address().customAttributes, as: 'element'">
        <each args="data: Object.keys(element), as: 'attribute'">
            <if args="typeof element[attribute] === 'object'">
                <if args="element[attribute].label">
                    <text args="element[attribute].label"/>
                </if>
                <ifnot args="element[attribute].label">
                    <if args="element[attribute].value">
                        <if args="element[attribute].attribute_code !== 'fiscal_company'">
                            <text args="element[attribute].value"/>
                        </if>
                    </if>
                </ifnot>
            </if>
        </each>
    </each>
</if>
